<div class="navbar-right navbar-custom-menu">
    <ul class="nav navbar-nav">
        <li class="settings-menu">
            <a routerLink="settings" routerLinkActive="selectedRoom">
                <span class="fa fa-gears fa-fw"></span>
            </a>
        </li>
        <li>
            <a [routerLink]="['/dashboard']" target="_blank" href="/">
                <span class="fa fa-comments fa-fw"></span>
            </a>
        </li>
        <li>
            <a [matMenuTriggerFor]="notificationMenu">
                <span class="fa fa-envelope-o fa-fw"></span>
            </a>
            <mat-menu #notificationMenu="matMenu" class="notificationMenu">
                <h3 class="mat-h4">Latest Changes</h3>
                <mat-divider></mat-divider>
                <button mat-menu-item>
                    <span>new</span>
                    <a><b>Echofin v2</b></a>
                    The new Echofin platform has been released. Get all the details here:
                    https://www.echofin.com/
                </button>
                <button mat-menu-item>
                    <span>new</span>
                    <a><b>Zoom widget integration</b></a>
                    A new widget has been added that allows your team members to watch your Zoom broadcast
                    within...
                </button>
                <button mat-menu-item>
                    <span>new</span>
                    <a><b>Dashboard\Users</b></a>
                    Added a Subscriptions tab on the details panel.
                </button>
                <button mat-menu-item>
                    <span>new</span>
                    <a><b>Email</b></a>
                    All email billing receipts will now include a reply-to which can be set within the...
                </button>
                <button mat-menu-item>
                    <span>new</span>
                    <a><b>API</b></a>
                    The initial version of the Echofin API has been released. For more details please check
                    the API...
                </button>
            </mat-menu>
        </li>
        <li class="dropdown">
            <a>
                <button mat-button [matMenuTriggerFor]="menu">puneetsethi25@gmail.com
                    <span class="caret"></span>
                </button>
                <mat-menu #menu="matMenu" xPosition="before">
                    <a class="profile-menu" (click)="onProfile()">Profile</a>
        <li class="divider"></li>
        <a class="profile-menu" (click)="logout()">Sign Out</a>
        </mat-menu>
        </a>
        </li>
    </ul>
</div>