<div class="login-container">
  <mat-drawer-container class="example-container" autosize style="float:right; width:calc(100% - 80px); overflow:hidden!important;">
      <mat-drawer #drawer class="example-sidenav sidebar navbar-collapse"  [opened]="screenWidth > 840" [mode]="(screenWidth > 840) ? 'side' : 'over'">
        <app-sidenav></app-sidenav>
        <div class="example-sidenav-content mobile-cross">
            <button class="" hamburger-drv="" mat-button
              (click)="drawer.toggle()">
              <i class="fa fa-close"></i>
            </button>
          </div>
      </mat-drawer> 
      <div class="example-sidenav-content">
          <div class="navbar navbar-fixed-top navbar-inverse navbar-static-top" style="position:static!important;" [ngStyle]="{'display' : (screenWidth > 840) ? '' : 'block'}">
              <button class="hamburgerHeader hamburger hamburger-arrow-left" hamburger-drv="" mat-button
            (click)="drawer.toggle()">
              <span class="icon"></span>
            </button>
            <div class="roomHeader" style="float:none;">
                <i class="roomHash fa fa-hashtag"
                  aria-hidden="true"></i>
              <span class="roomTitle ng-binding ng-scope">Traders
                Lounge</span>
              <i class="fa" ng-class="{'roomLock': room.n_type==2 , 'fa-unlock': room.n_type==2}" aria-hidden="true"></i>
              <div header-nav-trial="" class="nav-trial-container">
                <div class="nav-trial-container-text ng-binding"></div>
              </div>
            </div>
          </div>
        <mat-drawer-container class="example-container container-all-page" autosize >
            <mat-drawer #drawer1 class="example-sidenav sidebar navbar-collapse widget-sidenav right-sidenav" mode="side" opened="true" 
            position="end" [opened]="screenWidth > 840" [mode]="(screenWidth > 840) ? 'side' : 'over'" >
                        <app-chatarea></app-chatarea>
            </mat-drawer>
            <div class="example-sidenav-content">
               <mat-drawer-container class="example-container" autosize>
                    <app-profile-sidebar></app-profile-sidebar>
                        <mat-drawer #drawer4 class="example-sidenav admin_and_users" mode="side" position="end">
                                <app-user-panel></app-user-panel>
                        </mat-drawer>
                  <div class="example-sidenav-content">
                     <app-lockedchatroom></app-lockedchatroom>
                     <div class="chatDiv" style="display: block; right: 25px; left: 10px;">
                        <button class="btnUploader dz-clickable" id="uploadBtn" style="cursor: pointer;"><i class="fa fa-arrow-circle-o-up"></i></button>
                        <button id="emojiBtn" class=""><i class="fa fa-smile-o" aria-hidden="true"></i>
                        </button>
                        <button id="addon_Signal" class="cbAddonsBtn" title="Publish Signal"><i class="fa fa-bullhorn" aria-hidden="true"></i></button>
                        <span id="chatbox-placeholder">Message #Traders Lounge</span>
                        <div id="chatbox" contenteditable="true" style="cursor: text;"></div>
                        <span id="faux" style="display: none;"></span>
                        <span class="downloadLink paymentFormRoom"><i class="fa fa-download"></i> Download Desktop App</span>
                     </div>
                  </div>
               </mat-drawer-container>
               <div class="leftnav">
                  <button class="hidden-xs header-button ng-scope">
                  <span class="icon fa fa-bar-chart"></span><br>
                  <span class="label ng-binding">CHARTS</span>
                  </button>
                  <button class="hidden-xs header-button ng-scope"  >
                  <span class="icon fa fa-clock-o"></span><br>
                  <span class="label ng-binding">MARKET HOURS</span>
                  </button> <button class="hidden-xs header-button ng-scope">
                  <span class="icon fa fa-thermometer-full"></span><br>
                  <span class="label ng-binding">FX HEATMAP</span>
                  </button>
                  <button class="hidden-xs header-button ng-scope">
                  <span class="icon fa fa-bolt"></span><br>
                  <span class="label ng-binding">DATAFLASH</span>
                  </button>
                  <button class="hidden-xs header-button ng-scope" mat-button (click)="drawer4.toggle()">
                  <span class="icon fa fa-address-book-o"></span><br>
                  <span class="label ng-binding">DIRECTORY</span>
                  </button> 
                  <div class="example-sidenav-content widget-btn side-tp ">
                     <button class="hamburgerHeader header-button hamburger hamburger-arrow-left " hamburger-drv="" mat-button (click)="drawer1.toggle()">
                     <span class="icon material-icons ng-binding">apps</span><br>
                     <span class="label ng-binding">WIDGETS</span>
                     </button>
                  </div>
               </div>
            </div>
         </mat-drawer-container>
    </div>
  </mat-drawer-container>
</div>

