<section class="content-header">
  <h1>
    Contacts
  </h1>
</section>
<section class="content admin-user">
  <div class="toolbox">
    <button class="btn btn-blue" (click)="openAddFileDialog()">
      <span class="fa fa-plus"></span> Add Contact
    </button>
    <button class="btn btn-default" (click)="openInviteContactDialog()">
      <span class="fa fa-plus"></span> Invite Contact
    </button>
    <button class="btn btn-default" (click)="exporter.exportTable('xlsx')">
      <span class="fa fa-download "></span> Export
    </button>
    <div class="pull-right">
      <button ng-click="vm.changeColumns()" uib-popover-template="'myPopoverTemplate.html'"
        popover-placement="bottom-right" popover-append-to-body="true" type="button" class="btn btn-default">
        <span class="fa fa-columns"></span>
        Columns
      </button>
      <button class="btn btn-default" (click)="onActiveSearch()">
        <span class="fa fa-search"></span> Search
      </button>
      <button class="btn btn-default" ng-click="vm.LoadUsers()" (click)="loadContacts()">
        <span class="fa fa-refresh fa-fw" ng-class="{'fa-spin':vm.loading}"></span>
      </button>
    </div>
  </div>
  
  <div class="mat-elevation-z8 box box-default" >
    <table class="searchTable" mat-table matTableExporter #exporter="matTableExporter"
      [ngClass]="{'ActiveSpinner': showSpinner == true}" [dataSource]="dataSource"  matSort>
      <!-- ID Column -->
      <ng-container matColumnDef="img">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
        <td mat-cell *matCellDef="let row">
          <div class="user_img">
            <img class="img-responsive table-avatar" src="{{row.imgPath}}">
          </div>
        </td>
      </ng-container>
      <!-- ID Column -->
      <ng-container matColumnDef="fullname">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Name
        </th>
        <td mat-cell *matCellDef="let row">
          {{row.firstname}} {{row.lastname}}</td>
      </ng-container>
      <!-- Name Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Email
        </th>
        <td mat-cell *matCellDef="let row">
          {{row.email}} </td>
      </ng-container>
      <!-- Color Column -->
      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Phone Number
        </th>
        <td mat-cell *matCellDef="let row"> {{row.phone_number}} </td>
      </ng-container>
      <!-- Color Column -->
      <ng-container matColumnDef="subscription">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Subscription
        </th>
        <td mat-cell *matCellDef="let row"> {{ row.subscription && row.subscription || 'N/A' }} </td>
      </ng-container>
      <!-- Color Column -->
      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Type
        </th>
        <td mat-cell *matCellDef="let row" [ngClass]="{'adminClass' : row.role_id == 1}" > {{row.role_id === 1 ? "Admin" : "User"}} </td>
      </ng-container>
      <!-- Color Column -->
      <ng-container matColumnDef="devices">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Mobile Devices</th>
        <td mat-cell *matCellDef="let row">
          <!-- <span class=" badge-ios"
          [ngClass]="{'badge': row.deviceNumber.length}">
            <span class="fa fa-apple text-muted" *ngIf="row.deviceNumber"></span>
            <span class="text">{{row.deviceNumber}}</span>
          </span> -->
          <span class=" badge-ios"
          >
            <span class="fa fa-apple text-muted" *ngIf="row.deviceNumber"></span>
            <span class="text">{{row.deviceNumber}}</span>
          </span>
        </td>
      </ng-container>
      <!-- Color Column -->
      <ng-container matColumnDef="registered">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Registered </th>
        <td mat-cell *matCellDef="let row"> {{row.created_at | date: 'short'}} </td>
      </ng-container>
      <!-- Color Column -->
      <ng-container matColumnDef="lastActivity">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Activity </th>
        <td mat-cell *matCellDef="let row"> {{row.updated_at | date: 'short'}} </td>
      </ng-container>
      <!-- Color Column -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
        <td mat-cell *matCellDef="let row">
          <div class="ui-grid-cell-contents" >
            <a mat-icon-button color="warn" (click)="onDelete(0)">
              <i class="fa fa-trash fa-fw"></i>
            </a>
            <a mat-icon-button color="primary">
              <i class="fa fa-edit fa-fw"></i>
            </a>
          </div>
        </td>
      </ng-container>

      <!-- userimg search Column -->
      <ng-container matColumnDef="userImgSearch">
        <th mat-header-cell *matHeaderCellDef> </th>
      </ng-container>
      <!-- username search Column -->
      <ng-container matColumnDef="nameSearch">
        <th mat-header-cell *matHeaderCellDef>
          <mat-form-field *ngIf="searchActive">
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Name">
          </mat-form-field>
        </th>
      </ng-container>
      <!-- email search Column  -->
      <ng-container matColumnDef="emailSearch">
        <th mat-header-cell *matHeaderCellDef>
          <mat-form-field *ngIf="searchActive">
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Email">
          </mat-form-field>
        </th>
      </ng-container>
      <!-- verified search Column -->
      <ng-container matColumnDef="phoneSearch">
        <th mat-header-cell *matHeaderCellDef>
          <mat-form-field *ngIf="searchActive">
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Phone Number">
          </mat-form-field>
        </th>
      </ng-container>
      <!-- subscription search Column  -->
      <ng-container matColumnDef="subscriptionSearch">
        <th mat-header-cell *matHeaderCellDef>
          <mat-form-field *ngIf="searchActive">
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Subscription">
          </mat-form-field>
        </th>
      </ng-container>
      <!--type search Column -->
      <ng-container matColumnDef="typeSearch">
        <th mat-header-cell *matHeaderCellDef>
          <mat-form-field *ngIf="searchActive">
            <mat-select (keyup)="applyFilter($event.target.value)" placeholder="Select Type">
              <mat-option value="Admin">Admin</mat-option>
              <mat-option value="Instructor">Instructor</mat-option>
              <mat-option value="Moderator">Moderator</mat-option>
              <mat-option value="User">User</mat-option>
            </mat-select>
          </mat-form-field>
        </th>
      </ng-container>
      <!--empty search Column -->
      <ng-container matColumnDef="empty1">
        <th mat-header-cell *matHeaderCellDef> </th>
      </ng-container>
      <!--empty search Column -->
      <ng-container matColumnDef="empty2">
        <th mat-header-cell *matHeaderCellDef> </th>
      </ng-container>
      <!--empty search Column -->
      <ng-container matColumnDef="empty3">
        <th mat-header-cell *matHeaderCellDef> </th>
      </ng-container>
      <!--empty search Column -->
      <ng-container matColumnDef="empty4">
        <th mat-header-cell *matHeaderCellDef> </th>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns" [ngClass]="{'activeSearchHeader': searchActive == true}">
      </tr>
      <tr mat-header-row
        *matHeaderRowDef="['userImgSearch','nameSearch', 'emailSearch', 'phoneSearch', 'subscriptionSearch', 'typeSearch','empty1','empty2','empty3','empty4']"
        [ngClass]="{'activeRow': searchActive == true}" style="display: none;">
      </tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
      </tr>
    </table>
    <div class="empty_data" *ngIf="dataSourceEmpty">
      No data available
    </div>

    <mat-paginator [pageSizeOptions]="[13, 25, 50, 100]"></mat-paginator>
    <mat-progress-spinner [mode]="mode">
    </mat-progress-spinner>
  </div>
</section>