
        <section class="content-header">
            <h1>
                Dashboard
                <button type="button" class="btn btn-sm btn-link btn-no-shadow pull-right" >
                    <span class="fa fa-refresh fa-fw" ></span>
                </button>
            </h1>
        </section>
        <section class="content">
            <div class="row">
                <div class="col-md-4 col-lg-2 box-stats">
                    <div class="small-box">
                        <div class="icon">
                            <i class="fa fa-users fa-fw"></i>
                        </div>
                        <div class="inner">
                            <h3 class="ng-binding ng-scope" style="font-size: 55px; line-height: 77px; display: block;">
                                0</h3>
                            <p>Total Registered</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-2 box-stats">
                    <div class="small-box bg-green">
                        <div class="icon">
                            <i class="fa fa-user"></i>
                        </div>
                        <div class="inner">
                            <h3 class="ng-binding ng-scope" style="font-size: 55px; line-height: 77px; display: block;">
                                0
                            </h3>
                            <p>New this month</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-2 box-stats">
                    <div class="small-box bg-yellow">
                        <div class="icon">
                            <i class="fa fa-fire"></i>
                        </div>
                        <div class="inner">
                            <h3 class="ng-binding ng-scope" style="font-size: 55px; line-height: 77px; display: block;">
                                0</h3>
                            <p>Total Premium</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-2 box-stats">
                    <div class="small-box bg-teal">
                        <div class="icon">
                            <i class="fa fa-credit-card fa-fw"></i>
                        </div>
                        <div class="inner">
                            <h3 class="ng-binding ng-scope" style="font-size: 55px; line-height: 77px; display: block;">
                                $0</h3>
                            <p>This Month Payments</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-2 box-stats">
                    <div class="small-box bg-maroon">
                        <div class="icon">
                            <i class="fa fa-credit-card fa-fw"></i>
                        </div>
                        <div class="inner">
                            <h3 class="ng-binding ng-scope" style="font-size: 55px; line-height: 77px; display: block;">
                                $0</h3>
                            <p>Today Payments</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-2 box-stats">
                    <div class="small-box bg-purple">
                        <div class="icon">
                            <i class="fa fa-commenting"></i>
                        </div>
                        <div class="inner">
                            <h3 class="ng-binding ng-scope" style="font-size: 55px; line-height: 77px; display: block;">
                                0</h3>
                            <p>Online Users</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8" style="padding:0 15px;">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="line-graph" ng-controller="MyController">
                                <div class="box">
                                    <div class="box-header with-border" style="padding-bottom: 0;">
                                        <h3 class="box-title" style="line-height: 50px;">
                                            Registrations Overview
                                        </h3>
                                        <div class="box-tools pull-right">
                                            <button type="button" class="btn btn-sm btn-link btn-no-shadow">
                                                <span ng-show="!vm._isLine">
                                                    <span class="text-muted">
                                                        <span class="fa fa-line-chart fa-fw"></span>Line</span>/
                                                    <strong>
                                                        <span class="fa fa-bar-chart fa-fw"></span>Bar</strong>
                                                </span>
                                                <span ng-show="vm._isLine" class="ng-hide">
                                                    <strong>
                                                        <span class="fa fa-line-chart fa-fw"></span>Line</strong>/
                                                    <span class="text-muted">
                                                        <span class="fa fa-bar-chart fa-fw"></span>Bar</span>
                                                </span>
                                            </button>
                                            <div class="dropdown-btn">
                                                <mat-form-field>
                                                    <mat-select [(value)]="selected">
                                                        <mat-option value="option1">Last 90 days</mat-option>
                                                        <mat-option value="option2">Last 60 days</mat-option>
                                                        <mat-option value="option3">Last 30 days</mat-option>
                                                        <mat-option value="option1">Last 15 days</mat-option>
                                                        <mat-option value="option2">Last 7 days</mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                            <button type="button" class="btn btn-sm btn-link btn-no-shadow"
                                                ng-click="vm.LoadRegistrations()">
                                                <span class="fa fa-refresh fa-fw"
                                                    ng-class="{'fa-spin':vm.loading_statistics_registrations}"></span>
                                            </button>
                                        </div>
                                    </div>
                                    <canvas class="chart chart-line" chart-data="data" chart-labels="labels"
                                        chart-series="series" chart-click="onClick" height="200"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4" style="padding:0 15px;">
                    <div class="col-md-12 users-box">
                        <div class="box box-default ">
                            <div class="box-header with-border">
                                <h3 class="box-title">Latest Registrations</h3>
                            </div>
                            <div class="list-group">
                                <!-- <div class="list-group-item">
                                    <div class="media">
                                        <div class="media-left">
                                            <img class="img-circle img-sm" src="//cdn.echofin.co/avatars/5d053022.png">
                                        </div>
                                        <div class="media-body ng-binding">
                                            <strong class="ng-binding">mohit-kumar</strong><br> 2019-07-25 16:01:17
                                        </div>
                                    </div>
                                </div> -->
                            </div>
                            <div class="box-footer">
                                <a routerLink="../contacts" class="btn btn-sm btn-link pull-right">
                                    View All Users
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>