
    <section class="content-header">
      <h1>
        Chatrooms
      </h1>
    </section>
    <section class="content admin-user admin_payouts">
      <div class="toolbox">
        <button class="btn btn-blue" (click)="openAddFileDialog()">
          <span class="fa fa-plus fa-fw"></span> New Chatroom
        </button>
        <div class="pull-right">
          <button class="btn btn-default" (click)="onRefresh()">
            <span class="fa fa-refresh fa-fw"></span>
          </button>
        </div>
      </div>
      <div class="mat-elevation-z8 box box-default">
        <table mat-table [dataSource]="rooms" matSort
        [ngClass]="{'ActiveSpinner': showSpinner == true}">
          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
            <td mat-cell *matCellDef="let row">{{row.title}} </td>
          </ng-container>
          <!-- Description Column -->
          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
            <td mat-cell *matCellDef="let row"> {{row.description}} </td>
          </ng-container>
          <!-- Type Column -->
          <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
            <td mat-cell class="text-capitalize" *matCellDef="let row"> {{row.status}} </td>
          </ng-container>
          <!-- Plan Column -->
          <ng-container matColumnDef="plan">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Plan </th>
            <td mat-cell *matCellDef="let row"> {{row.plan ? row.plan : 'USD'}} </td>
          </ng-container>
          <!-- Coupon Column -->
          <ng-container matColumnDef="coupon">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Coupon </th>
            <td mat-cell *matCellDef="let row"> {{getCoupons(row.coupon)}} </td>
          </ng-container>
          <!-- Sort Column -->
          <ng-container matColumnDef="sort">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Sort</th>
            <td mat-cell *matCellDef="let row"> {{row.sort}} </td>
          </ng-container>
          <!-- Checkout Column -->
          <ng-container matColumnDef="checkout">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Checkout</th>
            <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.checkout}} </td>
          </ng-container>
          <!-- Action Column -->
          <ng-container matColumnDef="alter">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
            <td mat-cell *matCellDef="let row" [style.color]="row.color">
              <a mat-icon-button color="warn" (click)="deleteRoom(row)">
                <i class="fa fa-trash fa-fw" ></i>
              </a> 
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;">
          </tr>
        </table>
        <mat-paginator [pageSizeOptions]="[14, 30, 50, 100]"></mat-paginator>
        <mat-progress-spinner  [mode]="mode">
        </mat-progress-spinner>
      </div>
    </section>

