.wrap_messages{
  position:absolute;
  width:100%;
  top:10px;
  bottom:10px;  
  height: calc(100vh - 140px);
}
.message_list{
  position:absolute;
    bottom:0px;
    right:0px;
    left:0px;
    overflow-y:auto;
    max-height:100%;
}
form{
  position: absolute;
height: 0px;
bottom: 0;
width: 99%;
}
.wrap_messages .msg_delivered:last-child {
  padding-bottom: 15px;
}
/* upload */
.upload_file_for_chat{
  position: relative;
  width: 50px;
  height: 45px;
  overflow: hidden;
  float: left;
  border-right: 2px solid #ddd;
}
.upload_file_for_chat input{
  position: absolute;
  width: 50px;
  height: 46px;
  cursor: pointer;
  opacity: 0;
}
.media_upload_container{
  padding: 15px;
}
.col-sm-9{
  padding-right: 15px;
}
/* new signal */
.signal-table mat-form-field {
 max-width: 110px;
 padding: 0 2px;
}
.signal-table th{
  font-weight: 400;
  font-size: 14px;
}
.signal-table{
  color: #444;
}
mat-form-field{
  width: 100%;
}