.wrap_messages{
  position:absolute;
  width:100%;
  top:10px;
  bottom:10px;  
  height: calc(100vh - 140px);
}
.message_list{
  position:absolute;
    bottom:0px;
    right:0px;
    left:0px;
    overflow-y:auto;
    max-height:100%;
}
form{
  position: absolute;
height: 0px;
bottom: 0;
width: 99%;
}
.wrap_messages .msg_delivered:last-child {
  padding-bottom: 15px;
}