.wrap_messages{
  /* display: inline-flex; */
  justify-content: flex-end;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 120px);
  overflow-y: scroll!important;
  vertical-align: top;
  display: -webkit-box;
}
