
        <section class="content-header admin-widget">
            <h1>
                Widgets
            </h1>
        </section>
        <section class="content admin-widget">
            <mat-tab-group>
                <mat-tab>
                    <ng-template mat-tab-label>
                        <i class="fa fa-search fa-1x"></i>Available
                    </ng-template>
                    <div class="row">
                        <div class="col-md-8">
                            <table class="table">
                                <tbody>
                                    <tr class="">
                                        <td style="width: 100px">
                                            <span class="is-new ">NEW</span>
                                            <img class="img-thumbnail img-responsive"
                                                src="https://cdn.echofin.co/widgets/tradetools.stockscreener.png">
                                        </td>
                                        <td>
                                            <h4 class="">Stock Screener
                                                <small class="">TradeTools</small>
                                            </h4>
                                            <p class="">Stock Screener is a powerfull widget allowing you to search for
                                                a stock symbol or company
                                                name, providing company information, market news, real-time quotes and
                                                30 day candle chart. Data is provided by IEX</p>
                                        </td>
                                        <td style="vertical-align: middle; width: 150px;">
                                            <div class="text-center text-success ">
                                                <span class="fa fa-check-circle fa-fw "></span> INSTALLED
                                            </div>
                                            <button class="btn btn-block btn-blue ng-hide">
                                                <span>
                                                    <span class="fa fa-download fa-fw"></span> INSTALL
                                                </span>
                                                <span class="ng-hide">
                                                    <span class="fa fa-refresh fa-spin fa-fw"></span>
                                                </span>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="table">
                                <tbody>
                                    <tr class="">
                                        <td style="width: 100px">
                                            <span class="is-new ">NEW</span>
                                            <img class="img-thumbnail img-responsive"
                                                src="https://cdn.echofin.co/widgets/tradetools.stockscreener.png">
                                        </td>
                                        <td>
                                            <h4 class="">Stock Screener
                                                <small class="">TradeTools</small>
                                            </h4>
                                            <p class="">Stock Screener is a powerfull widget allowing you to search for
                                                a stock symbol or company
                                                name, providing company information, market news, real-time quotes and
                                                30 day candle chart. Data is provided by IEX</p>
                                        </td>
                                        <td style="vertical-align: middle; width: 150px;">
                                            <div class="text-center text-success ng-hide">
                                                <span class="fa fa-check-circle fa-fw "></span> INSTALLED
                                            </div>
                                            <button class="btn btn-block btn-blue">
                                                <span>
                                                    <span class="fa fa-download fa-fw"></span> INSTALL
                                                </span>
                                                <span class="ng-hide">
                                                    <span class="fa fa-refresh fa-spin fa-fw"></span>
                                                </span>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="table">
                                <tbody>
                                    <tr class="">
                                        <td style="width: 100px">
                                            <span class="is-new ">NEW</span>
                                            <img class="img-thumbnail img-responsive"
                                                src="https://cdn.echofin.co/widgets/tradetools.stockscreener.png">
                                        </td>
                                        <td>
                                            <h4 class="">Stock Screener
                                                <small class="">TradeTools</small>
                                            </h4>
                                            <p class="">Stock Screener is a powerfull widget allowing you to search for
                                                a stock symbol or company
                                                name, providing company information, market news, real-time quotes and
                                                30 day candle chart. Data is provided by IEX</p>
                                        </td>
                                        <td style="vertical-align: middle; width: 150px;">
                                            <div class="text-center text-success ng-hide">
                                                <span class="fa fa-check-circle fa-fw "></span> INSTALLED
                                            </div>
                                            <button class="btn btn-block btn-blue">
                                                <span>
                                                    <span class="fa fa-download fa-fw"></span> INSTALL
                                                </span>
                                                <span class="ng-hide">
                                                    <span class="fa fa-refresh fa-spin fa-fw"></span>
                                                </span>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="table">
                                <tbody>
                                    <tr class="">
                                        <td style="width: 100px">
                                            <span class="is-new ">NEW</span>
                                            <img class="img-thumbnail img-responsive"
                                                src="https://cdn.echofin.co/widgets/tradetools.stockscreener.png">
                                        </td>
                                        <td>
                                            <h4 class="">Stock Screener
                                                <small class="">TradeTools</small>
                                            </h4>
                                            <p class="">Stock Screener is a powerfull widget allowing you to search for
                                                a stock symbol or company
                                                name, providing company information, market news, real-time quotes and
                                                30 day candle chart. Data is provided by IEX</p>
                                        </td>
                                        <td style="vertical-align: middle; width: 150px;">
                                            <div class="text-center text-success ng-hide">
                                                <span class="fa fa-check-circle fa-fw "></span> INSTALLED
                                            </div>
                                            <button class="btn btn-block btn-blue">
                                                <span>
                                                    <span class="fa fa-download fa-fw"></span> INSTALL
                                                </span>
                                                <span class="ng-hide">
                                                    <span class="fa fa-refresh fa-spin fa-fw"></span>
                                                </span>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-4">
                            <div class="lead">
                                <h5 class="page-header">Add your custom widget!</h5>
                                Apart from the available widgets found in this section, you are able to add your own
                                widgets. Adding a custom widget is simple as embedding a web page. You only need a valid
                                URL to your widget (with HTTPS connection) and you are good to go!
                                <hr>
                                <button class="btn btn-success btn-md btn-block" (click)="openAddFileDialog()">ADD
                                    CUSTOM</button>
                            </div>
                        </div>
                    </div>
                </mat-tab>

                <mat-tab>
                    <ng-template mat-tab-label>
                        <i class="fa fa-download" aria-hidden="true"></i>Installed
                    </ng-template>
                    <div class="row">
                        <div class="col-md-8">
                            <h3>
                                Right Bar
                                <div class="pull-right">
                                    <button class="btn btn-sm btn-link btn-no-shadow">
                                        <span class="fa fa-sort fa-fw"></span> Sort
                                    </button>
                                </div>
                            </h3>
                            <div class="">
                                <table class="table">
                                    <tbody class=" ui-sortable">
                                        <tr>

                                            <td style="width: 50px">
                                                <img class="img-responsive"
                                                    src="https://cdn.echofin.co/widgets/echofin.commodities.jpg">
                                            </td>
                                            <td>
                                                <h4>
                                                    Commodities
                                                    <small class="">TradeTools</small>
                                                </h4>
                                            </td>
                                            <td style="vertical-align: middle; width: 50px;">
                                                <button class="btn btn-link btn-block" (click)="openConfigureDialog()">
                                                    <span class="fa fa-cog fa-fw text-muted"></span>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="width: 50px">
                                                <img class="img-responsive"
                                                    src="https://cdn.echofin.co/widgets/echofin.fxcal.jpg">
                                            </td>
                                            <td>
                                                <h4>
                                                    Indices
                                                    <small class="">TradeTools</small>
                                                    <span ng-if="!w.isEnabled"
                                                        class="label label-warning ng-scope">disabled</span>
                                                </h4>
                                            </td>
                                            <td style="vertical-align: middle; width: 50px;">
                                                <button class="btn btn-link btn-block" (click)="openConfigureDialog()">
                                                    <span class="fa fa-cog fa-fw text-muted"></span>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="width: 50px">
                                                <img class="img-responsive"
                                                    src="https://cdn.echofin.co/widgets/echofin.commodities.jpg">
                                            </td>
                                            <td>
                                                <h4>
                                                    Commodities
                                                    <small class="">TradeTools</small>
                                                </h4>
                                            </td>
                                            <td style="vertical-align: middle; width: 50px;">
                                                <button class="btn btn-link btn-block" (click)="openConfigureDialog()">
                                                    <span class="fa fa-cog fa-fw text-muted"></span>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="width: 50px">
                                                <img class="img-responsive"
                                                    src="https://cdn.echofin.co/widgets/echofin.fxcal.jpg">
                                            </td>
                                            <td>
                                                <h4>
                                                    Indices
                                                    <small class="">TradeTools</small>
                                                    <span ng-if="!w.isEnabled"
                                                        class="label label-warning ng-scope">disabled</span>
                                                </h4>
                                            </td>
                                            <td style="vertical-align: middle; width: 50px;">
                                                <button class="btn btn-link btn-block" (click)="openConfigureDialog()">
                                                    <span class="fa fa-cog fa-fw text-muted"></span>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <h3>Top Bar
                                <div class="pull-right">
                                    <button class="btn btn-sm btn-link btn-no-shadow">
                                        <span class="fa fa-sort fa-fw"></span> Sort
                                    </button>
                                </div>
                            </h3>
                            <div class="">
                                <table class="table">
                                    <tbody class="ui-sortable">
                                        <tr *ngFor="let widget of topBarWidgets">
                                            <td style="width: 50px">
                                                <img class="img-responsive"
                                                    src="{{widget.img}}">
                                            </td>
                                            <td>
                                                <h4>
                                                    {{widget.name}}
                                                    <small style="margin-right: 5px;">{{widget.description}}</small> 
                                                    <span *ngIf="widgetStatus"
                                                        class="label label-warning">disabled</span>
                                                </h4>
                                            </td>
                                            <td style="vertical-align: middle; width: 50px;">
                                                <button class="btn btn-link btn-block" (click)="openConfigureDialog()">
                                                    <span class="fa fa-cog fa-fw text-muted"></span>
                                                </button>
                                            </td>
                                        </tr>
                                        <!-- <tr>
                                            <td style="width: 50px">
                                                <img class="img-responsive"
                                                    src="https://cdn.echofin.co/widgets/echofin.fxcal.jpg">
                                            </td>
                                            <td>
                                                <h4>
                                                    Indices
                                                    <small class="">TradeTools</small>
                                                    <span ng-if="!w.isEnabled"
                                                        class="label label-warning ng-scope">disabled</span>
                                                </h4>
                                            </td>
                                            <td style="vertical-align: middle; width: 50px;">
                                                <button class="btn btn-link btn-block" (click)="openConfigureDialog()">
                                                    <span class="fa fa-cog fa-fw text-muted"></span>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>

                                            <td style="width: 50px">
                                                <img class="img-responsive"
                                                    src="https://cdn.echofin.co/widgets/echofin.commodities.jpg">
                                            </td>
                                            <td>
                                                <h4>
                                                    Commodities
                                                    <small class="">TradeTools</small>
                                                </h4>
                                            </td>
                                            <td style="vertical-align: middle; width: 50px;">
                                                <button class="btn btn-link btn-block" (click)="openConfigureDialog()">
                                                    <span class="fa fa-cog fa-fw text-muted"></span>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="width: 50px">
                                                <img class="img-responsive"
                                                    src="https://cdn.echofin.co/widgets/echofin.fxcal.jpg">
                                            </td>
                                            <td>
                                                <h4>
                                                    Indices
                                                    <small class="">TradeTools</small>
                                                    <span ng-if="!w.isEnabled"
                                                        class="label label-warning ng-scope">disabled</span>
                                                </h4>
                                            </td>
                                            <td style="vertical-align: middle; width: 50px;">
                                                <button class="btn btn-link btn-block" (click)="openConfigureDialog()">
                                                    <span class="fa fa-cog fa-fw text-muted"></span>
                                                </button>
                                            </td>
                                        </tr> -->
                                    </tbody>
                                </table>
                            </div>
                            <div class="text-center text-muted">Top bar widgets are not mobile device compatible and
                                will not be accessible from the mobile app</div>
                        </div>
                        <div class="col-md-4">
                            <div class="lead">
                                <h4 class="page-header">Add your custom widget!</h4>
                                Apart from the available widgets found in this section, you are able to add your own
                                widgets. Adding a custom widget is simple as embedding a web page.
                                You only need a valid URL to your widget (with HTTPS connection) and you are good to go!
                                <hr>
                                <button class="btn btn-success btn-md btn-block" (click)="openAddFileDialog()">ADD
                                    CUSTOM</button>
                            </div>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </section>