<a ui-sref="app.main" class="text-center" href="#">
  <span class="logo-mini">
      <img class="navbar-brand-logo" src="https://marketmastersacademy.echofin.co/dashboard/resources/images/logo.png" title="echofin">
      <img class="navbar-brand-logo-mini" src="https://marketmastersacademy.echofin.co/dashboard/resources/images/icon-white.png" title="echofin">
  </span>
</a>
<div id="team-wrapper" header-company-sidebar="" class="ng-isolate-scope" style="position:static; min-width: 300px; padding: 10px;margin-bottom: 4px;border: none;">
    <img class="sidebar-avatar" src="//cdn.echofin.co/avatar/b7e64405.png?t=1551496349357">
    <div class="teamName" title="MarketMastersAcademy">
        <h5 class="ng-binding">MarketMastersAcademy</h5>
        <span class="team-members ng-binding">b7e64405</span>
    </div>
  </div>
  <ul class="nav nav-sidebar">
    <li class="ng-scope">
        <a [routerLink]="['/admindashboard']" routerLinkActive="selectedRoom" style="cursor:pointer" class="flex-parent">
            <i class="fa fa-dashboard fa-fw"></i>
        <span class="room-name ng-binding">Dashboard</span>
        </a>
    </li>
    <li  class="ng-scope">
        <a [routerLink]="['/adminusers']" routerLinkActive="selectedRoom" style="cursor:pointer" class="flex-parent  ">
            <i class="fa fa-users fa-fw"></i>
        <span class="ng-binding">Users</span>
        </a>
    </li>
    <li ng-class="{active:vm.$state.includes('app.payments.*')}">
        <a [routerLink]="['/adminpayments']" routerLinkActive="selectedRoom"   class="flex-parent" ui-sref="app.payments.overview" href="#">
            <i class="fa fa-check-square-o fa-fw"></i>
            <span>Payments</span>
        </a> 
    </li>
    <li ng-class="{active:vm.$state.includes('app.subscriptions.*')}">
        <a [routerLink]="['/adminsubscriptions']" routerLinkActive="selectedRoom"  class="flex-parent  " ui-sref="app.subscriptions.overview" href="#">
            <i class="fa fa-money fa-fw"></i>
            <span>Subscriptions</span>
        </a>
    </li>
    <li ng-class="{active:vm.$state.includes('app.payouts.*')}">
        <a class="flex-parent  " ui-sref="app.payouts.overview" href="#">
            <i class="fa fa-bank fa-fw"></i>
            <span>Payouts</span>
        </a>
    </li>
    <li class="divider no-line"></li>
    <li ng-class="{active:vm.$state.includes('app.billing.*')}">
        <a class="flex-parent  " ui-sref="app.billing.overview" href="#">
            <i class="fa fa-credit-card fa-fw"></i>
            <span>Billing Plans</span>
        </a>
    </li>
    <li ng-class="{active:vm.$state.includes('app.coupons.*')}">
        <a class="flex-parent  " ui-sref="app.coupons.overview" href="#!/coupons/">
            <i class="fa fa-tags fa-fw"></i>
            <span>Coupons</span>
        </a>
    </li>
    <li class="divider no-line"></li>
    <li ng-class="{active:vm.$state.includes('app.chatrooms.*')}">
        <a class="flex-parent  " ui-sref="app.chatrooms.overview" href="#!/chatrooms/">
            <i class="fa fa-comments-o fa-fw"></i>
            <span>Chatrooms</span>
        </a>
    </li>
    <li ng-class="{active:vm.$state.includes('app.pages.*')}">
        <a class="flex-parent  " ui-sref="app.pages.overview" href="#!/pages/">
            <i class="fa fa-files-o fa-fw"></i>
            <span>Services</span>
        </a>
    </li>
    <li ng-class="{active:vm.$state.includes('app.widgets')}">
        <a class="flex-parent  " ui-sref="app.widgets" href="#!/widgets">
            <i class="fa fa-cubes fa-fw"></i>
            <span>Widgets</span>
        </a>
    </li>
    <li class="divider no-line"></li>
    <li ng-class="{active:vm.$state.includes('app.online')}">
        <a class="flex-parent  " ui-sref="app.online" href="#!/online">
            <i class="fa fa-podcast fa-fw"></i>
            <span>Online Activity</span>
        </a>
    </li>
    <li ng-class="{active:vm.$state.includes('app.compliance')}">
        <a  class="flex-parent  " ui-sref="app.compliance.overview" href="#!/compliance/">
            <i class="fa fa-balance-scale fa-fw"></i>
            <span>Compliance</span>
        </a>
    </li>
    <li class="divider no-line"></li>
    <li ng-class="{active:vm.$state.includes('app.api')}">
        <a class="flex-parent  " ui-sref="app.api" href="#!/api">
            <i class="fa fa-code fa-fw"></i>
            <span>API
                <small class="badge" style="font-size: .6rem;
                padding: 2px 4px;
                margin: 0 0 0 5px; 
                background: #FFF;
                border-radius: 3px;
                color: #666;
                line-height: 1rem;">BETA</small>
            </span>
        </a>
    </li>
    <li class="divider no-line"></li>
    <li>
        <a  class="flex-parent  " href="#" target="_blank">
            <i class="fa fa-youtube fa-fw"></i>
            <span>Video Tutorials</span>
        </a>
    </li>
    <li>
        <a class="flex-parent  " href="" ng-click="vm.ViewTutorial()">
            <i class="fa fa-graduation-cap fa-fw"></i>
            <span>Guided Tour</span>
        </a>
    </li>
  </ul>