<a ui-sref="app.main" class="text-center" routerLink="/">
  <span class="logo-mini">
      <img class="navbar-brand-logo" src="assets/big-lion2 smaller.png">
      <img class="navbar-brand-logo-mini" src="assets/mini-logo.png" >
  </span>
</a>
<div id="team-wrapper" header-company-sidebar="" class="ng-isolate-scope" style="position:static; min-width: 300px; padding: 10px;margin-bottom: 4px;border: none;">
    <img class="sidebar-avatar usr_img" src="assets/mini-logo.png">
    <div class="teamName" title="MarketMastersAcademy">
        <h5 class="ng-binding">MarketMastersAcademy</h5>
        <span class="team-members ng-binding">b7e64405</span>
    </div>
  </div>
  <ul class="nav nav-sidebar">
    <li>
        <a [routerLink]="['/admindashboard']" routerLinkActive="selectedRoom" class="flex-parent dashboard-link">
            <i class="fa fa-dashboard fa-fw"></i>
        <span class="room-name ng-binding">Dashboard</span>
        </a>
    </li>
    <li >
        <a [routerLink]="['/admincontacts']" routerLinkActive="selectedRoom" class="flex-parent users-link">
            <i class="fa fa-users fa-fw"></i>
        <span class="ng-binding">Contacts</span>
        </a>
    </li>
    <li>
        <a [routerLink]="['/adminsales']" routerLinkActive="selectedRoom"   class="flex-parent">
            <i class="fa fa-usd fa-fw"></i>
            <span>Sales</span>
        </a> 
    </li>
    <li>
        <a [routerLink]="['/adminoffers']" routerLinkActive="selectedRoom"  class="flex-parent" >
            <i class="fa fa-percent fa-fw"></i>
            <span>Offers</span>
        </a>
    </li>
    <li class="divider no-line"></li>
    <li>
        <a [routerLink]="['/adminbilling']" routerLinkActive="selectedRoom" class="flex-parent billing-link ">
            <i class="fa fa-credit-card fa-fw"></i>
            <span>Billing Plans</span>
        </a>
    </li>
    <li >
        <a [routerLink]="['/admincoupons']" routerLinkActive="selectedRoom" class="flex-parent" >
            <i class="fa fa-tags fa-fw"></i>
            <span>Coupons</span>
        </a>
    </li> 
    <li class="divider no-line"></li>
    <li>
        <a [routerLink]="['/adminchatroom']" routerLinkActive="selectedRoom" class="flex-parent chatroom-link" >
            <i class="fa fa-comments-o fa-fw"></i>
            <span>Chatrooms</span>
        </a>
    </li>
    <li>
        <a [routerLink]="['/adminservices']" routerLinkActive="selectedRoom" class="flex-parent"  >
            <i class="fa fa-files-o fa-fw"></i>
            <span>Services</span>
        </a>
    </li>
    <li>
        <a [routerLink]="['/adminwidget']" routerLinkActive="selectedRoom" class="flex-parent  widget-link"  >
            <i class="fa fa-cubes fa-fw"></i>
            <span>Widgets</span>
        </a>
    </li>
    <li>
        <a [routerLink]="['/adminmarketing']" routerLinkActive="selectedRoom" class="flex-parent  widget-link"  >
            <i class="fa fa-bullhorn fa-fw"></i>
            <span>Marketing</span>
        </a>
    </li>
    <li class="divider no-line"></li>
    <li>
        <a [routerLink]="['/adminonlineativity']" routerLinkActive="selectedRoom" class="flex-parent" >
            <i class="fa fa-podcast fa-fw"></i>
            <span>Online Activity</span>
        </a>
    </li>
    <li>
        <a [routerLink]="['/admincompliance']" routerLinkActive="selectedRoom" class="flex-parent"  href="#">
            <i class="fa fa-balance-scale fa-fw"></i>
            <span>Compliance</span>
        </a>
    </li>
    <li class="divider no-line"></li>
    <li>
        <a [routerLink]="['/adminapi']" routerLinkActive="selectedRoom"  class="flex-parent">
            <i class="fa fa-code fa-fw"></i>
            <span>API
                <small class="badge" style="font-size: .6rem;
                padding: 2px 4px;
                margin: 0 0 0 5px; 
                background: #FFF;
                border-radius: 3px;
                color: #666;
                line-height: 1rem;">BETA</small>
            </span>
        </a>
    </li>
    <li class="divider no-line"></li>
    <li>
        <a  class="flex-parent  video-link" href="#" target="_blank">
            <i class="fa fa-youtube fa-fw"></i>
            <span>Video Tutorials</span>
        </a>
    </li>
    <li>
        <a class="flex-parent  tour-link" onclick="guidedtour()">
            <i class="fa fa-graduation-cap fa-fw"></i>
            <span>Guided Tour</span>
        </a>
    </li>
  </ul>