<mat-drawer-container class="example-container container-all-page" autosize >
        <mat-drawer #drawer1 class="example-sidenav sidebar navbar-collapse widget-sidenav right-sidenav" mode="side" opened="true" 
        position="end" [opened]="screenWidth > 840" [mode]="(screenWidth > 840) ? 'side' : 'over'" >
            <mat-tab-group>
            <mat-tab label="FX Quotes">
                <div class="stats-list" style="height: 32px;">
                    <span class="stats-head" nowrap="" style="padding-left: 25px;">
                    Symbol
                    </span>
                    <span class="stats-head" nowrap="">Ask</span>
                    <span class="stats-head" nowrap="">Last</span>
                    <span class="stats-head" nowrap="">High</span>
                    <span class="stats-head" nowrap="">Low</span>
                    <span class="stats-head" nowrap="">Chg.</span>
                    <span class="stats-head" nowrap="">Chg. %</span>
                    <span class="stats-head" nowrap="">Time</span>
                </div>
                <div colspan="8" style="height: 18px; background-color: #13282D;">&nbsp;</div>
                <div class="stats-desc" style="padding-left: 5px;">
                    <span> <i class="fa fa-arrow-right" aria-hidden="true"></i>
                    AUD/CAD
                    </span>
                    <span> <i class="fa fa-arrow-right" aria-hidden="true"></i>
                    AUD/CAD
                    </span>
                    <span> <i class="fa fa-arrow-right" aria-hidden="true"></i>
                    AUD/CAD
                    </span>
                    <span> <i class="fa fa-arrow-right" aria-hidden="true"></i>
                    AUD/CAD
                    </span>
                    <span> <i class="fa fa-arrow-right" aria-hidden="true"></i>
                    AUD/CAD
                    </span>
                    <span> <i class="fa fa-arrow-right" aria-hidden="true"></i>
                    AUD/CAD
                    </span>
                    <span> <i class="fa fa-arrow-right" aria-hidden="true"></i>
                    AUD/CAD
                    </span>
                    <span> <i class="fa fa-arrow-right" aria-hidden="true"></i>
                    AUD/CAD
                    </span>
                    <span> <i class="fa fa-arrow-right" aria-hidden="true"></i>
                    AUD/CAD
                    </span>
                    <span> <i class="fa fa-arrow-right" aria-hidden="true"></i>
                    AUD/CAD
                    </span>
                    <span> <i class="fa fa-arrow-right" aria-hidden="true"></i>
                    AUD/CAD
                    </span>
                    <span> <i class="fa fa-arrow-right" aria-hidden="true"></i>
                    AUD/CAD
                    </span>
                    <span> <i class="fa fa-arrow-right" aria-hidden="true"></i>
                    AUD/CAD
                    </span>
                    <span> <i class="fa fa-arrow-right" aria-hidden="true"></i>
                    AUD/CAD
                    </span>
                    <span> <i class="fa fa-arrow-right" aria-hidden="true"></i>
                    AUD/CAD
                    </span>
                    <span> <i class="fa fa-arrow-right" aria-hidden="true"></i>
                    AUD/CAD
                    </span>
                    <span> <i class="fa fa-arrow-right" aria-hidden="true"></i>
                    AUD/CAD
                    </span>
                    <span> <i class="fa fa-arrow-right" aria-hidden="true"></i>
                    AUD/CAD
                    </span>
                    <span> <i class="fa fa-arrow-right" aria-hidden="true"></i>
                    AUD/CAD
                    </span>
                    <span> <i class="fa fa-arrow-right" aria-hidden="true"></i>
                    AUD/CAD
                    </span>
                    <span> <i class="fa fa-arrow-right" aria-hidden="true"></i>
                    AUD/CAD
                    </span>
                    <span> <i class="fa fa-arrow-right" aria-hidden="true"></i>
                    AUD/CAD
                    </span>
                    <span> <i class="fa fa-arrow-right" aria-hidden="true"></i>
                    AUD/CAD
                    </span>
                    <span> <i class="fa fa-arrow-right" aria-hidden="true"></i>
                    AUD/CAD
                    </span>
                    <div style="font-size:10px;">
                        <a href="settings.php" style="margin:10px 0 0 10px;  float: left; color: #19a68a;">Settings</a>
                        <span style="margin:10px 10px 0 0; float: right;color:#585858;padding:0;">Quotes by Investing.com</span>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="FX Calculators">
                <div id="calculators">
                    <p>Select a calculator:</p>
                    <select>
                        <option>Pip</option>
                        <option>Margin</option>
                    </select>
                </div>
                <div id="trdt_container">
                    <legend>Margin Calculator</legend>
                    <div class="control-group">
                        <label class="control-label">Currency Pair:</label>
                        <div class="controls">
                        <select>
                            <option>USD/JPY</option>
                            <option>EUR/USD</option>
                        </select>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">USD / JPY Rate:</label>
                        <div class="controls">
                        <input type="text" placeholder="108.663" disabled>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Number of Units:</label>
                        <div class="controls">
                        <input type="text" placeholder=""  style="margin-bottom:10px;">
                        <select>
                            <option>standard</option>
                            <option>Mini</option>
                        </select>
                        </div>
                        <span class="help-block">Standard lot equals 100,000BC, 100oz Gold, 100oz Platinum, 100oz Palladium, 1000oz Silver, 100 Barrel Oil</span>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Margin Ratio (Leverage):</label>
                        <div class="controls">
                        <select>
                            <option>1:1</option>
                            <option>25:1</option>
                        </select>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label"><span id="marginCalculate" class="btn btn-success">Calculate</span>
                        </label>
                        <div class="controls"><span id="marginOutput" class="result">0.00</span></div>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Commodities">
                <div class="stats-list" style="height: 32px;">
                    <span class="stats-head" nowrap="" style="padding-left: 25px;">Symbol(CFDs)
                    </span>
                    <span class="stats-head" nowrap="">Last</span>
                    <span class="stats-head" nowrap="">High</span>
                    <span class="stats-head" nowrap="">Low</span>
                    <span class="stats-head" nowrap="">Chg.</span>
                    <span class="stats-head" nowrap="">Chg. %</span>
                    <span class="stats-head" nowrap="">Time</span>
                </div>
                <div class="stats-desc" style="padding-left: 15px;">
                    <span style="display:inline-block;" class="ceFlags UK no-pad"></span>
                    <span style="display:inline-block;">
                    Lumber
                    </span>
                </div>
                <div class="stats-desc" style="padding-left: 15px; background-color: rgb(19, 40, 45);">
                    <span style="display:inline-block;" class="ceFlags UK no-pad"></span>
                    <span style="display:inline-block;">
                    Gasoline RBOB
                    </span>
                </div>
                <div class="stats-desc" style="padding-left: 15px;">
                    <span style="display:inline-block;" class="ceFlags UK no-pad"></span>
                    <span style="display:inline-block;">
                    Aluminum
                    </span>
                </div>
                <div class="stats-desc" style="padding-left: 15px;background-color: rgb(19, 40, 45);">
                    <span style="display:inline-block;" class="ceFlags UK no-pad"></span>
                    <span style="display:inline-block;">
                    Aluminum
                    </span>
                </div>
                <div class="stats-desc" style="padding-left: 15px;">
                    <span style="display:inline-block;" class="ceFlags UK no-pad"></span>
                    <span style="display:inline-block;">
                    Aluminum
                    </span>
                </div>
                <div class="stats-desc" style="padding-left: 15px;background-color: rgb(19, 40, 45);">
                    <span style="display:inline-block;" class="ceFlags UK no-pad"></span>
                    <span style="display:inline-block;">
                    Aluminum
                    </span>
                </div>
                <div class="stats-desc" style="padding-left: 15px;">
                    <span style="display:inline-block;" class="ceFlags UK no-pad"></span>
                    <span style="display:inline-block;">
                    Aluminum
                    </span>
                </div>
                <div class="stats-desc" style="padding-left: 15px; background-color: rgb(19, 40, 45);">
                    <span style="display:inline-block;" class="ceFlags UK no-pad"></span>
                    <span style="display:inline-block;">
                    Aluminum
                    </span>
                </div>
                <div class="stats-desc" style="padding-left: 15px;">
                    <span style="display:inline-block;" class="ceFlags UK no-pad"></span>
                    <span style="display:inline-block;">
                    Copper
                    </span>
                </div>
                <div class="stats-desc" style="padding-left: 15px;background-color: rgb(19, 40, 45);">
                    <span style="display:inline-block;" class="ceFlags UK no-pad"></span>
                    <span style="display:inline-block;">
                    Aluminum
                    </span>
                </div>
                <div class="stats-desc" style="padding-left: 15px;">
                    <span style="display:inline-block;" class="ceFlags UK no-pad"></span>
                    <span style="display:inline-block;">
                    Copper
                    </span>
                </div>
                <div class="stats-desc" style="padding-left: 15px;background-color: rgb(19, 40, 45);">
                    <span style="display:inline-block;" class="ceFlags UK no-pad"></span>
                    <span style="display:inline-block;">
                    Aluminum
                    </span>
                </div>
                <div class="stats-desc" style="padding-left: 15px;">
                    <span style="display:inline-block;" class="ceFlags UK no-pad"></span>
                    <span style="display:inline-block;">
                    Copper
                    </span>
                </div>
                <div class="stats-desc" style="padding-left: 15px;background-color: rgb(19, 40, 45);">
                    <span style="display:inline-block;" class="ceFlags UK no-pad"></span>
                    <span style="display:inline-block;">
                    Copper
                    </span>
                </div>
                <div class="stats-desc" style="padding-left: 15px;">
                    <span style="display:inline-block;" class="ceFlags UK no-pad"></span>
                    <span style="display:inline-block;">
                    Copper
                    </span>
                </div>
                <div class="stats-desc" style="padding-left: 15px;background-color: rgb(19, 40, 45);">
                    <span style="display:inline-block;" class="ceFlags UK no-pad"></span>
                    <span style="display:inline-block;">
                    Aluminum
                    </span>
                </div>
                <div class="stats-desc" style="padding-left: 15px;">
                    <span style="display:inline-block;" class="ceFlags UK no-pad"></span>
                    <span style="display:inline-block;">
                    Copper
                    </span>
                </div>
                <div>
                    <span style="margin-right: 10px;"></span>
                </div>
                <div style="font-size:10px;">
                    <span style="margin-right: 10px; float: right;color:#585858;">Quotes by Investing.com</span>
                </div>
            </mat-tab>
            <mat-tab label=" Talking Twitter">
                <div id="topBar">
                    <a href="javascript: void(0);" id="soundBtn" data-speak="0" title="Mute/Unmute twitter feed speech">
                    <i class="fa fa-volume-off" aria-hidden="true"></i>
                    </a>
                    <a href="javascript: void(0);" id="settingsBtn" title="Feed options">
                    <i class="fa fa-sliders" aria-hidden="true"></i>
                    </a>
                </div>
                <div  style="height: 18px; background-color: rgb(19, 40, 45);" class="ng-star-inserted">&nbsp;</div>
                <div class="twitter-talk">
                    <div class="img_flex"><img src="https://pbs.twimg.com/profile_images/991818020233404416/alrBF_dr_normal.jpg" width="48" height="48"></div>
                    <div class="content">
                        <div class="user">
                        <a href="#" target="_blank">
                        <span class="username">Bloomberg</span>
                        <span class="screenname">
                        <small>@</small>business
                        </span>
                        </a>
                        </div>
                        <div class="time" data-created="Sat Jul 27 11:32:02 +0000 2019">2 minutes ago</div>
                        <div class="text">India deployed military teams to help rescue passengers stranded aboard a train
                        stalled by heavy rainfall and flood… <a href="#" target="_blank">https://t.co/n3LqsN9taz
                        </a>
                        </div>
                    </div>
                </div>
                <div class="twitter-talk" style="background-color:rgb(19, 40, 45);">
                    <div class="img_flex"><img src="https://pbs.twimg.com/profile_images/879361767914262528/HdRauDM-_normal.jpg" width="48" height="48"></div>
                    <div class="content">
                        <div class="user">
                        <a href="#" target="_blank">
                        <span class="username">The Economist</span>
                        <span class="screenname">
                        <small>@</small>business
                        </span>
                        </a>
                        </div>
                        <div class="time" data-created="Sat Jul 27 11:32:02 +0000 2019">2 minutes ago</div>
                        <div class="text">India deployed military teams to help rescue passengers stranded aboard a train
                        stalled by heavy rainfall and flood… <a href="#" target="_blank">https://t.co/n3LqsN9taz
                        </a>
                        </div>
                    </div>
                </div>
                <div class="twitter-talk">
                    <div class="img_flex"><img src="https://pbs.twimg.com/profile_images/991818020233404416/alrBF_dr_normal.jpg" width="48" height="48"></div>
                    <div class="content">
                        <div class="user">
                        <a href="#" target="_blank">
                        <span class="username">Bloomberg</span>
                        <span class="screenname">
                        <small>@</small>business
                        </span>
                        </a>
                        </div>
                        <div class="time" data-created="Sat Jul 27 11:32:02 +0000 2019">2 minutes ago</div>
                        <div class="text">India deployed military teams to help rescue passengers stranded aboard a train
                        stalled by heavy rainfall and flood… <a href="#" target="_blank">https://t.co/n3LqsN9taz
                        </a>
                        </div>
                    </div>
                </div>
                <div class="twitter-talk" style="background-color:rgb(19, 40, 45);">
                    <div class="img_flex"><img src="https://pbs.twimg.com/profile_images/879361767914262528/HdRauDM-_normal.jpg" width="48" height="48"></div>
                    <div class="content">
                        <div class="user">
                        <a href="#" target="_blank">
                        <span class="username">The Economist</span>
                        <span class="screenname">
                        <small>@</small>business
                        </span>
                        </a>
                        </div>
                        <div class="time" data-created="Sat Jul 27 11:32:02 +0000 2019">2 minutes ago</div>
                        <div class="text">India deployed military teams to help rescue passengers stranded aboard a train
                        stalled by heavy rainfall and flood… <a href="#" target="_blank">https://t.co/n3LqsN9taz
                        </a>
                        </div>
                    </div>
                </div>
                <div class="twitter-talk">
                    <div class="img_flex"><img src="https://pbs.twimg.com/profile_images/991818020233404416/alrBF_dr_normal.jpg" width="48" height="48"></div>
                    <div class="content">
                        <div class="user">
                        <a href="#" target="_blank">
                        <span class="username">Bloomberg</span>
                        <span class="screenname">
                        <small>@</small>business
                        </span>
                        </a>
                        </div>
                        <div class="time" data-created="Sat Jul 27 11:32:02 +0000 2019">2 minutes ago</div>
                        <div class="text">India deployed military teams to help rescue passengers stranded aboard a train
                        stalled by heavy rainfall and flood… <a href="#" target="_blank">https://t.co/n3LqsN9taz
                        </a>
                        </div>
                    </div>
                </div>
            </mat-tab>
            </mat-tab-group>
        </mat-drawer>
        <div class="example-sidenav-content">
           <mat-drawer-container class="example-container" autosize>
              <mat-drawer #drawer4 class="example-sidenav admin_and_users" mode="side" position="end">
                 <mat-tab-group>
                    <mat-tab>
                       <ng-template mat-tab-label>
                          <i class="fa fa-users fa-lg"></i>
                       </ng-template>
                       <div>
                            <div class="input-user-filter-wrapper">
                                <input class="form-control input-user-filter" placeholder="User search">
                            </div>
                            <div class="">
                                <div class="userGroupContainer">
                                    <div class="panelUserLabel ng-binding">
                                        <span class="border-badge border-admin" aria-hidden="true"></span> Admins
                                    </div>
                                    <div class="panelUser" style="float:left;">
                                        <span class="glyphicon glyphicon-one-fine-dot userStatus2" ></span> 
                                        <img class="team-user-avatar" src="//cdn.echofin.co/avatars/5007bf5e_e190221b94244369954f8240580a1d80.png" alt="alt-text">
                                        Jetsetlukas
                                    </div>
                                </div>
                            </div>
                       </div>
                    </mat-tab>
                    <mat-tab>
                       <ng-template mat-tab-label>
                          <i class="fa fa-folder-open-o fa-lg"></i>
                       </ng-template>
                       Content 2
                    </mat-tab>
                    <mat-tab>
                       <ng-template mat-tab-label>
                          <i class="fa fa-at fa-lg"></i>
                       </ng-template>
                       Content 3
                    </mat-tab>
                 </mat-tab-group>
              </mat-drawer>
              <div class="example-sidenav-content">
                 <app-unlockchatroom></app-unlockchatroom>
                 <!-- <app-lockedchatroom></app-lockedchatroom> -->
                 <!-- <app-directchatroom></app-directchatroom> -->
                 <div class="chatDiv" style="display: block; right: 25px; left: 10px;">
                    <button class="btnUploader dz-clickable" id="uploadBtn" style="cursor: pointer;"><i class="fa fa-arrow-circle-o-up"></i></button>
                    <button id="emojiBtn" class=""><i class="fa fa-smile-o" aria-hidden="true"></i>
                    </button>
                    <button id="addon_Signal" class="cbAddonsBtn" title="Publish Signal"><i class="fa fa-bullhorn" aria-hidden="true"></i></button>
                    <span id="chatbox-placeholder" >Message #Traders Lounge</span>
                    <div id="chatbox" contenteditable="true" style="cursor: text;"></div>
                    <span id="faux" style="display: none;"></span>
                    <span class="downloadLink paymentFormRoom"><i class="fa fa-download"></i> Download Desktop App</span>
                 </div>
              </div>
           </mat-drawer-container>
           <div class="leftnav">
              <button class="hidden-xs header-button ng-scope">
              <span class="icon fa fa-bar-chart"></span><br>
              <span class="label ng-binding">CHARTS</span>
              </button>
              <button class="hidden-xs header-button ng-scope"  >
              <span class="icon fa fa-clock-o"></span><br>
              <span class="label ng-binding">MARKET HOURS</span>
              </button> <button class="hidden-xs header-button ng-scope">
              <span class="icon fa fa-thermometer-full"></span><br>
              <span class="label ng-binding">FX HEATMAP</span>
              </button>
              <button class="hidden-xs header-button ng-scope">
              <span class="icon fa fa-bolt"></span><br>
              <span class="label ng-binding">DATAFLASH</span>
              </button>
              <button class="hidden-xs header-button ng-scope" mat-button (click)="drawer4.toggle()">
              <span class="icon fa fa-address-book-o"></span><br>
              <span class="label ng-binding">DIRECTORY</span>
              </button> 
              <div class="example-sidenav-content widget-btn side-tp ">
                 <button class="hamburgerHeader header-button hamburger hamburger-arrow-left " hamburger-drv="" mat-button (click)="drawer1.toggle()">
                 <span class="icon material-icons ng-binding">apps</span><br>
                 <span class="label ng-binding">WIDGETS</span>
                 </button>
              </div>
           </div>
        </div>
     </mat-drawer-container>