<div class="page-data"  style="font-size: 2rem;text-align: center;color: #656565;padding: 3rem;">
    <span class="fa fa-comments-o fa-3x" style="margin: 0 0 2rem;"></span><br>
    You are in Direct Message conversation<br>with @RiskyRicky
</div>
<div class="chatDiv" style="display: block; right: 25px; left: 10px;">
    <button class="btnUploader dz-clickable" id="uploadBtn" style="cursor: pointer;"><i class="fa fa-arrow-circle-o-up"></i></button>
    <button id="emojiBtn" class=""><i class="fa fa-smile-o" aria-hidden="true"></i>
    </button>
    <button id="addon_Signal" class="cbAddonsBtn" title="Publish Signal"><i class="fa fa-bullhorn" aria-hidden="true"></i></button>
    <span id="chatbox-placeholder" style="display: inline;">Message #Traders Lounge</span>
    <div id="chatbox" contenteditable="true" style="cursor: text;"></div>
    <span id="faux" style="display: none;"></span>
    <span class="downloadLink paymentFormRoom"><i class="fa fa-download"></i> Download Desktop App</span
       >
 </div>