<div class="login-container">
  <mat-sidenav-container class="sidenav-container" style="display: flex; align-items: center;">
    <mat-sidenav position="end" #sidenav mode="side" opened position="start">
      <img src="assets/big-lion2-smaller.png" class="main-logo">
      <div *ngIf="isLoading" class="loading-indicator">
        <mat-spinner style="margin:0 auto;" mode="indeterminate"></mat-spinner>
      </div>
      <div class="login-form">
        <div>
          <h1>Sign In</h1>
          <p>Join <span style="text-decoration:underline!important; color:#fff;">MarketMastersAcademy</span> team.</p>
          <div class="form-input">
            <form [formGroup]="loginUseData" (ngSubmit)="loginUser()">
              <div class="input-group input-field">
                <input class="inputText" formControlName="email" name="email" style="cursor: text;" required>
                <span class="floating-label">Your email address *</span>
                <p style="margin:0px;" *ngIf="!isValid && errorMessageEmail">{{errorMessageEmail}}</p>
              </div>
              <div class="input-group input-field">
                <input class="inputText" formControlName="password" name="email" type="password" style="cursor: text;"
                  required>
                <span class="floating-label">Password *</span>
                <p style="margin:0px;" *ngIf="!isValid && errorMessagePassword">{{errorMessagePassword}}</p>
              </div>
              <p style="margin:0px;" *ngIf="incorrectLogin && errorMessageLogin">{{errorMessageLogin}}</p>
              <button class="md-ink-ripple" type="submit" ng-transclude="" [disabled]="loginUseData.errors">
                Sign In</button>
            </form>
          </div>
          <div class="signup-forget">
            <p>No account? <a routerLink="/register" style="text-decoration:underline!important; color:#fff; cursor: pointer;">Sign Up</a></p>
            <p><a routerLink="/forgotpassword" style="text-decoration:underline!important; color:#fff; cursor: pointer;">Forgot
                Password</a></p>
          </div>
        </div>
      </div>
      <div class="sidebar-footer">
        <div class="footer-logo">
          <div class="text-center">
            <a href="https://www.facebook.com/officialcirclechat/" target="_blank" mat-mini-fab class="facebook"><i class="fa fa-facebook"></i></a>
            <a href="https://www.instagram.com/circle.chat/" target="_blank" mat-mini-fab class="insta"><i class="fa fa-instagram"></i></a>
            <a href="https://www.linkedin.com/company/circle-chat/" target="_blank" mat-mini-fab class="linkedin"><i class="fa fa-linkedin"></i></a>
          </div>
        </div>
        <div class="footer-reserved">
          © 2020. All RIGHTS RESERVED.
        </div>
      </div>
    </mat-sidenav>
    <!-- <div class="img-cont">
      <div class="final-img">
      </div>
    </div> -->
  </mat-sidenav-container>
</div>
