<a class="text-center" routerLink="/">
    <span class="logo-mini">
        <img class="navbar-brand-logo" src="assets/circle-chat7.png" style="max-width: 130px;">
        <img class="navbar-brand-logo appicon" src="assets/appicon_cc.png" style="max-width: 50px;margin: 0 auto; padding: 10px 0;">
    </span>
</a>
<div id="team-wrapper" header-company-sidebar=""
    style="position:static; min-width: 300px; padding: 10px;margin-bottom: 4px;border: none;">
    <img class="sidebar-avatar usr_img" src="assets/mini-logo.png" *ngIf="!adminImgPath" (click)="openteamavatar()">

    <img class="sidebar-avatar usr_img" src="{{adminImgPath}}" *ngIf="adminImgPath" (click)="openteamavatar()">
    <div class="teamName" title="MarketMastersAcademy">
        <h5 class="ng-binding">MarketMastersAcademy</h5>
        <mat-slide-toggle class="pull-left theme" [(ngModel)]="blackTheme" (click)="onBlackTheme()" color="warn">
        </mat-slide-toggle>
    </div>
</div>
<ul class="nav nav-sidebar">
    <li>
        <a routerLink="dashboard" routerLinkActive="selectedRoom" class="flex-parent dashboard-link">
            <i class="fa fa-dashboard fa-fw"></i>
            <span class="room-name ng-binding">Dashboard</span>
        </a>
    </li>
    <li>
        <a routerLink="contacts" routerLinkActive="selectedRoom" class="flex-parent users-link">
            <i class="fa fa-users fa-fw"></i>
            <span class="ng-binding">Contacts</span>
        </a>
    </li>
    <li>
        <a routerLink="sales" routerLinkActive="selectedRoom" class="flex-parent">
            <i class="fa fa-usd fa-fw"></i>
            <span>Sales</span>
        </a>
    </li>
    <li>
        <a routerLink="offers" routerLinkActive="selectedRoom" class="flex-parent">
            <i class="fa fa-percent fa-fw"></i>
            <span>Offers</span>
        </a>
    </li>
    <li class="divider no-line"></li>
    <li>
        <a routerLink="billing" routerLinkActive="selectedRoom" class="flex-parent billing-link ">
            <i class="fa fa-credit-card fa-fw"></i>
            <span>Billing Plans</span>
        </a>
    </li>
    <li>
        <a routerLink="coupons" routerLinkActive="selectedRoom" class="flex-parent">
            <i class="fa fa-tags fa-fw"></i>
            <span>Coupons</span>
        </a>
    </li>
    <li class="divider no-line"></li>
    <li>
        <a routerLink="chatrooms" routerLinkActive="selectedRoom" class="flex-parent chatroom-link">
            <i class="fa fa-comments-o fa-fw"></i>
            <span>Chatrooms</span>
        </a>
    </li>
    <li>
        <a routerLink="services" routerLinkActive="selectedRoom" class="flex-parent">
            <i class="fa fa-files-o fa-fw"></i>
            <span>Services</span>
        </a>
    </li>
    <li>
        <a routerLink="widgets" routerLinkActive="selectedRoom" class="flex-parent  widget-link">
            <i class="fa fa-cubes fa-fw"></i>
            <span>Widgets</span>
        </a>
    </li>
    <li>
        <a routerLink="registration-settings" routerLinkActive="selectedRoom" class="flex-parent  widget-link">
            <i class="fa fa-cogs fa-fw"></i>
            <span>Registration Settings</span>
        </a>
    </li>
    <li>
        <a routerLink="marketing" routerLinkActive="selectedRoom" class="flex-parent  widget-link">
            <i class="fa fa-bullhorn fa-fw"></i>
            <span>Marketing</span>
        </a>
    </li>
    <li class="divider no-line"></li>
    <li>
        <a routerLink="onlineactivity" routerLinkActive="selectedRoom" class="flex-parent">
            <i class="fa fa-podcast fa-fw"></i>
            <span>Online Activity</span>
        </a>
    </li>
    <li>
        <a routerLink="compliance" routerLinkActive="selectedRoom" class="flex-parent" href="#">
            <i class="fa fa-balance-scale fa-fw"></i>
            <span>Compliance</span>
        </a>
    </li>
    <li class="divider no-line"></li>
    <li>
        <a routerLink="api" routerLinkActive="selectedRoom" class="flex-parent">
            <i class="fa fa-code fa-fw"></i>
            <span>API
                <small class="badge" style="font-size: .6rem;
                padding: 2px 4px;
                margin: 0 0 0 5px; 
                background: #FFF;
                border-radius: 3px;
                color: #666;
                line-height: 1rem;">BETA</small>
            </span>
        </a>
    </li>
    <li class="divider no-line"></li>
    <li>
        <a class="flex-parent  video-link">
            <i class="fa fa-youtube fa-fw"></i>
            <span>Video Tutorials</span>
        </a>
    </li>
    <li>
        <a class="flex-parent  tour-link" onclick="guidedtour()">
            <i class="fa fa-graduation-cap fa-fw"></i>
            <span>Guided Tour</span>
        </a>
    </li>
</ul>