<div class="login-container admin-dashboard">
    <mat-drawer-container class="example-container" autosize>
      <div class="navbar navbar-fixed-top navbar-inverse navbar-static-top" style="position:static;">
        <mat-drawer #drawer class="example-sidenav sidebar navbar-collapse" opened="true" mode="side" 
          style="position:fixed; left:0;">
            <app-admin-sidebar></app-admin-sidebar>
        </mat-drawer>
        <div class="example-sidenav-content hidden-xs">
            <button class="hamburgerHeader hamburger hamburger-arrow-left sidebar-toggle" hamburger-drv="">
                <span class="icon"></span>
            </button>
        </div>
        <div class="roomHeader">
          <i class="fa" ng-class="{'roomLock': room.n_type==2 , 'fa-unlock': room.n_type==2}" aria-hidden="true"></i>
          <div header-nav-trial="" class="nav-trial-container">
            <div class="nav-trial-container-text ng-binding"></div>
          </div>
        </div>
        <div class="navbar-right navbar-custom-menu">
            <ul class="nav navbar-nav">
                <li ng-class="{active:vm.$state.includes('app.settings')}" class="">
                    <a ui-sref="app.settings" href="#">
                        <span class="fa fa-gears fa-fw"></span>
                    </a>
                </li>
                <li>
                    <a target="_blank" href="/">
                        <span class="fa fa-comments fa-fw"></span>
                    </a>
                </li>
                <li>
                    <a href="#" id="headwayapp">
                        <span class="fa fa-envelope-o fa-fw"></span>
                    <span id="HW_badge_cont" class="HW_visible"><span id="HW_badge" data-count-unseen="" class="HW_softHidden"></span></span></a>
                </li>
                <li class="dropdown">
                    <a>
                        <button mat-button [matMenuTriggerFor]="menu">puneetsethi25@gmail.com
                                <span class="caret"></span>
                        </button>
                        <mat-menu #menu="matMenu" xPosition="before">
                                <a class="profile-menu white" href="#" >Profile</a>
                                <li class="divider"></li>
                                <a class="profile-menu white" href="#">Sign Out</a>
                        </mat-menu>
                    </a>
                </li>
            </ul>
         </div>
      </div>
      <section class="content-header">
        <h1>Online Activity
            <small>last 24 hours</small>
        </h1>
      </section>
      <section class="content admin-payments">
          <div class="media">
                <div class="media-body">
                        <div style="padding: 0 10px;">
                            <div class="toolbox" style="padding:10px 25px">
                                <button type="button" class="btn btn-blue" [matMenuTriggerFor]="groupsession">
                                    <span class="fa fa-object-group fa-fw"></span> Group:
                                    <span class="ng-binding">session</span>&nbsp;
                                    <span class="caret"></span>
                                </button>
                                <mat-menu #groupsession="matMenu">
                                    <button class="white" mat-menu-item>Session</button>
                                    <button class="white" mat-menu-item>Ip</button>
                                    <button class="white" mat-menu-item>Device</button>
                                </mat-menu>
                                <button class="btn btn-default ng-scope">
                                    <span class="fa fa-expand fa-fw"></span> Expand All
                                </button>
                                <div class="pull-right">
                                    <button class="btn btn-default">
                                        <span class="fa fa-refresh fa-fw"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="box box-default" >
                            <div class="mat-elevation-z8">
                                <!-- <table >
                                    <thead>
                                        <th>

                                        </th>
                                        <th>User</th>
                                        <th>
                                                Active Sessions
                                        </th>
                                        <th>
                                                Sessions
                                        </th>
                                        <th>
                                            IPs
                                        </th>
                                        <th>
                                            Devices
                                        </th>
                                        <th>

                                        </th>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                    <button class="btn btn-xs btn-link btn-no-shadow">
                                                            <span class="fa fa-angle-right"></span>
                                                        </button>
                                            </td>
                                            <td>
                                                    puneetsethi25
                                                    <div class="status-badge pull-right">
                                                        <span class="label label-success" >online</span>
                                                    </div>
                                            </td>
                                            <td>
                                                    <div class="idle-badge">
                                                        <span class="label label-success">&nbsp;</span>
                                                    </div>  
                                            </td>
                                            <td>
                                                5 Sessions
                                            </td>
                                            <td>
                                                3ips
                                            </td>
                                            <td>1 devices</td>
                                        </tr>
                                    </tbody>
                                </table> -->
                                <table mat-table [dataSource]="dataSource" matSort>
                                      <!-- ID Column -->
                                   <ng-container matColumnDef="empty">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
                                        <td mat-cell *matCellDef="let row"> 
                                                <button class="btn btn-xs btn-link btn-no-shadow">
                                                    <span class="fa fa-angle-right"></span>
                                                </button>
                                        </td>
                                    </ng-container>                                     
                                   <!-- ID Column -->
                                   <ng-container matColumnDef="user">
                                      <th mat-header-cell *matHeaderCellDef mat-sort-header> User</th>
                                      <td mat-cell *matCellDef="let row"> 
                                          <a>{{row.user}}</a>
                                          <div class="status-badge pull-right">
                                                <span class="label label-success" >online</span>
                                            </div>
                                      </td>
                                    </ng-container> 
                                  <!-- ID Column -->
                                  <ng-container matColumnDef="activesessions">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Active Sessions </th>
                                    <td mat-cell *matCellDef="let row"> 
                                            <div class="idle-badge">
                                                <span class="label label-success">&nbsp;</span>
                                            </div>    
                                    </td>
                                  </ng-container>
                                  <!-- Name Column -->
                                  <ng-container matColumnDef="sessions">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Sessions </th>
                                    <td mat-cell *matCellDef="let row"> {{row.sessions}} </td>
                                  </ng-container>
                                  <!-- Color Column -->
                                  <ng-container matColumnDef="ip">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> IPs </th>
                                    <td mat-cell *matCellDef="let row" > {{row.ip}} </td>
                                  </ng-container>
                                    <!-- Color Column -->
                                    <ng-container matColumnDef="devices">
                                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Devices </th>
                                      <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.devices}} </td>
                                    </ng-container>
                                    
                                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                  <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                                  </tr>
                                </table>
                                <mat-paginator [pageSizeOptions]="[14, 25, 50, 100]"></mat-paginator>
                              </div>
                        </div>
                    </div>
              <div class="media-right">
                    <div class="box box-default pull-right" style="width: 300px;">
                            <div class="box-body">
                                <h2>Legend</h2>
                                <div style="margin-bottom:4px">
                                    <strong>Messaging Service Status</strong>
                                </div>
                                <div style="margin-bottom:4px">
                                    <div class="status-badge" style="float:left;margin-right:5px;">
                                        <span class="label label-success">online</span>
                                    </div> Connected to the messaging service and status is Online</div>
                                <div style="margin-bottom:4px">
                                    <div class="status-badge" style="float:left;margin-right:5px;">
                                        <span class="label label-warning">busy</span>
                                    </div> Connected to the messaging service and set the status Away</div>
                                <div style="margin-bottom:4px">
                                    <div class="status-badge" style="float:left;margin-right:5px;">
                                        <span class="label label-danger">away</span>
                                    </div> 
                                    Connected to the messaging service and set the status Busy
                                </div>
                                <div style="margin-bottom:4px">
                                    <div class="status-badge" style="float:left;margin-right:5px;">
                                        <span class="label label-default">offline</span>
                                    </div>
                                    Not connected to the messaging service ie. the user is offline</div>
                                <div style="margin-top:10px;margin-bottom:5px">
                                    <strong>Session Service Status</strong>
                                </div>
                                <div style="margin-bottom:4px">
                                    <div class="idle-badge" style="float:left;margin-right:5px;">
                                        <span class="label label-success">&nbsp;</span>
                                    </div> Active on a session ie. typing, moving the mouse etc.</div>
                                <div style="margin-bottom:4px">
                                    <div class="idle-badge" style="float:left;margin-right:5px;">
                                        <span class="label label-warning">&nbsp;</span>
                                    </div> Idle session ie. the browser is not focused, the mobile app is in the background or the browser has no activity for more than 5 minutes</div>
                                <div style="margin-bottom:4px">
                                    <div class="idle-badge" style="float:left;margin-right:5px;">
                                        <span class="label label-default">&nbsp;</span>
                                    </div> Session has expired</div>
                                <hr>
                                <h2>Example</h2>
                                <ul class="list-unstyled">
                                    <li>
                                        <div class="status-badge" style="float:left;margin-right:5px;">
                                            <span class="label label-danger">away</span>
                                        </div>
                                        <div class="idle-badge" style="float:left;margin-right:5px;">
                                            <span class="label label-success">&nbsp;</span>
                                        </div>
                                        <div class="idle-badge" style="float:left;margin-right:5px;">
                                            <span class="label label-warning">&nbsp;</span>
                                        </div>
                                        The user is connected to the messaging service and set their status to Away. The user has two active sessions. One is active and one is about to expire as it is already idle.
                                    </li>
                                </ul>
                            </div>
                        </div>
                </div>
          </div>
      </section>
    </mat-drawer-container>
  </div>