<div  class="card_box">
    <div class="profile-sidebar">
        <div class="ui-widget-header-user ui-draggable-handle ">
            <span class="material-icons userStatus1 offline" style="vertical-align:middle; font-size:20px">person_outline</span> brytonmarquis
            <div class="pull-right">
                <button class="pull-right btnClose" matTooltip="Close user window"
                aria-label="Button that displays a tooltip when focused or hovered over"
                matTooltipPosition="right">×</button>
            </div>
        </div>
        <div class="profile-userpic">
            <img src="//cdn.echofin.co/avatars/f40b53a0.png" class="img-responsive" alt="" width="220">
        </div>
        <div class="profile-usermenu">
            <ul class="nav nav-profile">
                <li>
                    <a href="#">
                        Direct Message
                    </a>
                </li>
                <li>
                    <a href="#">
                        Block Direct Messages
                        <span class="fa fa-info-circle pull-right"  matTooltip="Prevent user from sending you Direct Messages"
                        aria-label="Button that displays a tooltip when focused or hovered over"
                        matTooltipPosition="right"></span>
                    </a>
                </li>
                <li>
                    <a  href="#">
                        Mute from Timeline
                        <span class="fa fa-info-circle pull-right" matTooltip="Hide the user's messages from the timeline of the current chatroom"
                        aria-label="Button that displays a tooltip when focused or hovered over"
                        matTooltipPosition="right"></span>
                    </a>
                </li>
                <li>
                    <a class="#">
                        Ban from Team
                        <span class="fa fa-info-circle pull-right"matTooltip="Kick the user out of the team and lock their account"
                        aria-label="Button that displays a tooltip when focused or hovered over"
                        matTooltipPosition="right"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>