.login-container{
  height: 100vh;
  width: 100%;
  background-image: url('../../assets/echofin_bg.png');
  background-size: cover;
  background-position: center;
}

.sidenav-container{
  background-color: '#eeeeee';
}

.app-logo{
  display: block;
  margin: auto;
  height: auto;
}
.input-field{
  position: relative;
  padding: 2px;
  margin: 15px 0;
  vertical-align: middle;
  min-height: 35px;
  float: left;
  width: 100%;
}
.mat-drawer-content {
  margin: 0!important;
} 
.sidenav-container{
  color: #fff;
  height: 100vh;
}
.login-form{
  text-align: center;
  overflow: hidden;
  flex: 1;
  display: flex;
  align-items: center;
}
.signup-forget {
  margin: 5px 0 20px 0;
  float: left;
  width: 100%;
  text-align: center;
}

h1{
  margin-bottom: 10px;
  font-weight: 400; 
}
h1 + p{
  margin-bottom: 20px;
  margin-top: 0;
  font-size: .9em;
}
P{
  font-size: .9em;
}

input:focus ~ .floating-label,
input:not(:focus):valid ~ .floating-label{
top: -2px;
bottom: 10px;
left: 0px;
font-size: 13px;
opacity: 1;
}

.inputText{
font-size: 14px;
width: 100%;
height: 35px;
}

.floating-label {
position: absolute;
pointer-events: none;
left: 0px;
color: #fff;
transition: 500ms ease-in-out;
top: 12px;
opacity: 0.4;
}
.input-group{
position: relative;
float: left;
padding-bottom: 0;
height: 30px;
width: 100%;
}


input:focus{
  box-shadow: none;
  outline: none;
}
::placeholder { 
  color: rgb(153, 153, 153);
} 
a {
text-decoration: none!important;
}

:-ms-input-placeholder { 
color: rgb(153, 153, 153);
} 

::-ms-input-placeholder { 
color: rgb(153, 153, 153);
} 
input:focus{
border-bottom: 2px solid  rgb(225, 102, 38);
}
input{
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
  order: 2;
  display: block;
  margin-top: 0;
  background: none;
  padding: 2px 2px 1px;
  border-width: 0 0 1px;
  transition: 500ms ease-in-out;
  line-height: 26px;
  height: 30px;
  -ms-flex-preferred-size: 26px;
  border-radius: 0;
  font-size: 20px;
  border-style: solid;
  width: 100%;
  color: #fff;
  box-sizing: border-box;
  float: left;
  border-bottom: 1px solid rgb(160, 81, 38);
}
button{
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
  color: rgba(255,255,255,0.87);
  background-color: #1A83F5;
  padding-top: 5px;
  display: inline-block;
  position: relative;
  cursor: pointer;
  min-height: 46px;
  min-width: 88px;
  line-height: 36px;
  vertical-align: middle;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-grid-row-align: center;
  align-items: center;
  text-align: center;
  border-radius: 3px;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 0;
  padding: 0 6px;
  margin: 20px 0 6px 0;
  white-space: nowrap;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  font-style: inherit;
  font-variant: inherit;
  font-family: inherit;
  text-decoration: none;
  overflow: hidden;
  -webkit-transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1);
  transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1);
  width: 100%;
}
.img-cont::after {
  content: "";
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .4;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
.sidebar-footer {
  text-align: center;
}
.img-cont{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  position: relative;
}
.img-cont .final-img{
  display: inline-block;
  margin: 0 auto;
  max-width: 520px;
  z-index: 9;
  padding: 0 10px;
}
.img-cont .final-img img{
  width: 100%;
}

#wrapper {
  height:100%;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}
#wrapper td {
  vertical-align: middle;
  text-align: center;
}

mat-sidenav {
  padding: 0px;
  transform: none;
  visibility: visible;
  width: auto!important;
  max-width: 470px;
  margin: 0 auto;
  position: static;
  height: auto;
  border: none!important;
  vertical-align: middle;
  margin-top: 0px; color:#fff; 
  position: relative;
  overflow:visible;
  padding-top: 140px;
  background: transparent;
}
.main-logo{
  max-width: 400px;
  width: auto;
  margin: 0 auto;
  position: absolute;
  top: 0;
}
.footer-logo{
  display: flex;
}
.store-logos{
  display: flex;
}
.footer-reserved {
  font-size: .7em;
  margin: 15px 0 15px;
  line-height: 1.5em;
  text-align: center;
}

.top-div {
height: 190px;
width: 100%;
}

.mat-drawer-inner-container {
flex-direction: column;
display: flex;
}
.foot-logo {
z-index: 1;
width: 120px;
position: absolute;
bottom: 10px;
color: #FFF;
text-shadow: 1px 1px 0 #000;
left: 15px;
}
a:-webkit-any-link {
color: -webkit-link;
cursor: pointer;
text-decoration: underline;
}
.foot-logo img {
width: 100%;
}
@media screen and (max-width:767px){
.main-logo{
  position: static;
  max-width: 100%;
}
mat-sidenav{
  padding-top: 0;
  height: 100vh;
  background-image: linear-gradient(to top, #e26727 , #0e2226);
  display: flex;
  align-items: center;
  width: 100%!important;
  max-width: 100%;
}
}