  <div class="login-container">
      <mat-sidenav-container class="sidenav-container" style="display: flex; align-items: center;">
        <mat-sidenav position="end" #sidenav mode="side" opened position="start">
          <img src="assets/big-lion2-smaller.png" class="main-logo">
          <div class="login-form">
            <div>
              <h1>Forgot Your Password?</h1>
              <p>Input your registered email or username to reset your password</p>
              <div class="form-input col-xs-2">
                  <div class="input-group input-field">
                    <input type="text" class="inputText" required/>
                    <span class="floating-label">Email or Username *</span>
                  </div>
                    <button class="md-ink-ripple" type="submit" ng-transclude="" ng-disabled="loading">
                    reset your password</button>
            </div>
              <div class="signup-forget">
                    <p>Do you have an account? Please 
                      <a href="/login" style="text-decoration:underline!important; color:#fff;">Sign In</a> instead.</p>
              </div>
            </div>
          </div>
          <div class="sidebar-footer">
            <div class="footer-logo">
              <a href="#" style="padding:1.5%">
                <img src="./../../../assets/google-play.png" style="width:100%;">
              </a>
              <a href="#" style="padding:1.5%">
                <img src="./../../../assets/windows.png" style="width:100%;">
              </a>
              <a href="#" style="padding:1.5%">
                <img src="./../../../assets/apple-store.png" style="width:100%;">
              </a>
            </div>
            <div class="footer-reserved">
              © 2019. All RIGHTS RESERVED.
            </div>
          </div>
        </mat-sidenav>
        <div class="img-cont">
          <div class="final-img">
          </div>
        </div>
      </mat-sidenav-container>
    </div>
    
  