<div class="login-container admin-dashboard">
    <mat-drawer-container class="example-container" autosize>
      <div class="navbar navbar-fixed-top navbar-inverse navbar-static-top" style="position:static;">
        <mat-drawer #drawer7 class="example-sidenav sidebar navbar-collapse admindrawer" opened="true" mode="side" 
          style="position:fixed; left:0;">
            <app-admin-sidebar></app-admin-sidebar>
        </mat-drawer>
        <div class="example-sidenav-content hidden-xs">
            <button class="hamburgerHeader hamburger hamburger-arrow-left sidebar-toggle" hamburger-drv="" (click)="drawer7.toggle();">
                <span class="icon"></span>
            </button>
        </div>
        <div class="roomHeader">
          <i class="fa" ng-class="{'roomLock': room.n_type==2 , 'fa-unlock': room.n_type==2}" aria-hidden="true"></i>
          <div header-nav-trial="" class="nav-trial-container">
            <div class="nav-trial-container-text ng-binding"></div>
          </div>
        </div>
        <div class="navbar-right navbar-custom-menu">
            <ul class="nav navbar-nav">
                <li class="settings-menu">
                    <a [routerLink]="['/adminsettings']" routerLinkActive="selectedRoom">
                        <span class="fa fa-gears fa-fw"></span>
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/dashboard']" target="_blank" href="/">
                        <span class="fa fa-comments fa-fw"></span>
                    </a>
                </li>
                <li>
                    <a mat-icon-button [matMenuTriggerFor]="notificationMenu" > 
    <span class="fa fa-envelope-o fa-fw"></span>
</a>
<mat-menu #notificationMenu="matMenu" class="notificationMenu">
    <h3 class="mat-h4">Latest Changes</h3>
    <mat-divider></mat-divider>
    <button mat-menu-item>
        <span>new</span>
        <a><b>Echofin v2</b></a>
        The new Echofin platform has been released. Get all the details here: https://www.echofin.com/
    </button>
    <button mat-menu-item>
        <span>new</span>
        <a><b>Zoom widget integration</b></a>
        A new widget has been added that allows your team members to watch your Zoom broadcast within...
    </button>
    <button mat-menu-item>
        <span>new</span>
        <a><b>Dashboard\Users</b></a>
        Added a Subscriptions tab on the details panel.
    </button>
    <button mat-menu-item>
        <span>new</span>
        <a><b>Email</b></a>
        All email billing receipts will now include a reply-to which can be set within the...
    </button>
    <button mat-menu-item>
        <span>new</span>
        <a><b>API</b></a>
        The initial version of the Echofin API has been released. For more details please check the API...
    </button>
</mat-menu>
                </li>
                <li class="dropdown">
                    <a>
                        <button mat-button [matMenuTriggerFor]="menu">puneetsethi25@gmail.com
                                <span class="caret"></span>
                        </button>
                        <mat-menu #menu="matMenu" xPosition="before">
                                <a class="profile-menu white" href="#" >Profile</a>
                                <li class="divider"></li>
                                <a class="profile-menu white" href="#">Sign Out</a>
                        </mat-menu>
                    </a>
                </li>
            </ul>
         </div>
      </div>
      <section class="content-header">
          <h1>
            API Events History
          </h1>
      </section>
      <section class="content admin-payments">
          <div class="media">
              <div class="media-body">
                  <div class="box box-default" >
                      <div class="box-body">
                            <div class="empty" style="margin: 0;position: relative;padding: 5rem;">
                                no events were found for
                                <br>
                                <strong class="ng-binding">September 2, 2019</strong>
                            </div>
                      </div>
                  </div>
              </div>
              <div class="media-right">
                    <div style="width: 400px;">
                        <div class="box box-default">
                            <div class="box-body text-center">
                                <!-- <mat-form-field class="example-full-width">
                                    <input matInput [matDatepicker]="picker" placeholder="Choose a date">
                                    <mat-datepicker #picker></mat-datepicker>
                                  </mat-form-field>
                                  <button mat-raised-button (click)="picker.open()">Open</button> -->
                            </div>
                        </div>
                        <div class="box box-default">
                            <div class="box-header with-border">
                                <h3 class="box-title">
                                    Token
                                </h3>
                            </div>
                            <div class="box-body">
                                <p>Echofin's API allows the integration with third-party systems. Please generate your authentication token.</p>
                                <p>Every token is bound to the underlying administrator level account.</p>
                                <p>For more details on how to use the web API please refer to the web API
                                    <a target="_blank" href="#">documentation</a>.</p>
                                <div ng-if="!vm.currentApiKey" class="ng-scope">
                                    You do not have any key generated yet. Click generate button to create a new one.
                                    <hr>
                                    <div class="text-center">
                                        <button class="btn btn-blue" type="button">Generate</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
          </div>
      </section>
    </mat-drawer-container>
  </div>    