<section class="content-header admin-widget">
    <h1>
        Registration Field Settings
    </h1>
</section>
<section class="content admin-widget">
    <div class="box box-default">
        <div class="box-body wrap-div">
            <div class="col-md-12">
                <mat-selection-list #registrationField color="primary" class="p-0">
                    <mat-list-item>
                        <b>Fields to Show</b>
                        <span><b>* Required</b></span>
                    </mat-list-item>
                    <mat-list-option disabled [checkboxPosition]="before" [selected]="true">
                        Email
                    </mat-list-option>
                    <mat-list-option disabled [checkboxPosition]="before" [selected]="true">
                        Password
                    </mat-list-option>
                    <mat-list-option [checkboxPosition]="before" *ngFor="let registrationField of RegistrationList">
                        {{registrationField}}
                        <mat-slide-toggle color="primary"></mat-slide-toggle>
                    </mat-list-option>
                </mat-selection-list>
            </div>
        </div>
    </div>
    <button class="btn btn-blue pull-right">
        Save
    </button>
</section>