<div class="login-container">
  <mat-sidenav-container class="sidenav-container" style="display: flex; align-items: center;">
    <mat-sidenav position="end" #sidenav mode="side" opened position="start">
      <img src="assets/big-lion2-smaller.png" class="main-logo">
      <div class="login-form">
        <div>
          <h1>Sign Up</h1>
          <p></p>
          <!-- <form (submit)="registerUser($event)"> -->
            <form [formGroup]= "useData" (ngSubmit)="registerUser()">
            <div class="form-input">
              <div class="input-group input-field">
                <!-- <input type="text" #fullname id="fullname" class="inputText" required /> -->
                <input class="inputText" formControlName="fullname" name="fullname" style="cursor: text;" required>
                <span class="floating-label">Full Name *</span>
              </div>
              <div class="input-group input-field">
                <!-- <input type="text" #email class="inputText" id="email" required /> -->
                <input class="inputText"  formControlName="email" name="email" style="cursor: text;" required>
                <span class="floating-label">Email *</span>
              </div>
              <div class="input-group input-field">
                <!-- <input type="text" #username class="inputText"  id="username" required /> -->
                <input id="userdata_username" class="inputText"  formControlName="username" name="username" style="cursor: text;" required>
                <span class="floating-label">Username *</span>
              </div>
              <div class="input-group input-field">
                <input id="userdata_phoneNumber" class="inputText"  formControlName="phoneNumber" name="phoneNumber" style="cursor: text;" >
                <span class="floating-label">Phone Number</span>
              </div>
              <div class="input-group input-field">
                <!-- <input type="text" #password class="inputText" id="password" required /> -->
                <input id="userdata_pwd" class="inputText"  formControlName="password" name="password" style="cursor: text;" required>
                <span class="floating-label">Password *</span>
              </div>
              <div class="input-group input-field">
                <!-- <input type="text" #cpassword class="inputText" id="cpassword" required /> -->
                <input id="userdata_cpassword" class="inputText"  formControlName="cpassword" name="cpassword" style="cursor: text;" required>
                <span class="floating-label">Retype Password *</span>
              </div>
              <div class="md-label" style="float:left; width:100%;text-align:left;">
                <div>
                  <label>
                    <mat-checkbox>By clicking Sign Up, you agree to our <a href="#" target="_blank"
                        md-colors="{'color': 'accent-500'}" class="ng-scope"
                        style="text-decoration:underline!important; color:#fff;">Terms</a>.</mat-checkbox>
                  </label>
                </div>
              </div>
              <button class="md-ink-ripple" type="submit" ng-transclude="" ng-disabled="loading">
                Sign Up</button>
            </div>
          </form>

          <div class="signup-forget">
            <p>Do you have an account? Please
              <a href="/login" style="text-decoration:underline!important; color:#fff;">Sign In</a> instead.</p>
          </div>
        </div>
      </div>
      <div class="sidebar-footer">
        <div class="footer-logo">
          <a href="#" style="padding:1.5%">
            <img src="assets/google-play.png" style="width:100%;">
          </a>
          <a href="#" style="padding:1.5%">
            <img src="assets/windows.png" style="width:100%;">
          </a>
          <a href="#" style="padding:1.5%">
            <img src="assets/apple-store.png" style="width:100%;">
          </a>
        </div>
        <div class="footer-reserved">
          © 2020. All RIGHTS RESERVED.
        </div>
      </div>
    </mat-sidenav>
    <div class="img-cont">
      <div class="final-img">
      </div>
    </div>
  </mat-sidenav-container>
</div>
