 <mat-tab-group>
       <mat-tab>
          <ng-template mat-tab-label>
             <i class="fa fa-users fa-lg"></i>
          </ng-template>
          <div class="empty-msg">
                <span class="fa fa-users fa-2x"></span>
                <br>No Users
                <br>were found
          </div>
          <div>
               <!-- <div class="input-user-filter-wrapper">
                   <mat-form-field>
                    <mat-label>User search</mat-label>
                    <input matInput >
                  </mat-form-field>
               </div> -->
                   <div class="userGroupContainer">
                     <!-- ADMINS -->
                       <!-- <div class="panelUserLabel">
                           <span class="border-badge border-admin" aria-hidden="true"></span> Admins
                       </div> -->
                       <!-- <div class="panelUser" style="position:relative;">
                           <span class="glyphicon glyphicon-one-fine-dot userStatus2 offline" ></span> 
                           <img class="team-user-avatar" src="//cdn.echofin.co/avatars/5007bf5e_e190221b94244369954f8240580a1d80.png" alt="alt-text">
                           Jetsetlukas
                       </div> -->
        
                      <!-- MODERATORS -->
                      <!-- <div class="panelUserLabel">
                          <span class="border-badge border-moderator" ></span> Moderators
                      </div> -->

                      <!-- TEAM USERS -->
                      <!-- <div class="panelUserLabel">
                          <button class="btn_show_all">show all</button>
                          <span class="border-badge border-user" aria-hidden="true"></span> Team Users
                      </div>
                      <div class="panelUser" style="position:relative;">
                          <span class="glyphicon glyphicon-one-fine-dot userStatus2 online" ></span> 
                          <img class="team-user-avatar" src="https://cdn.echofin.co/avatars/4ab8e499.png" alt="alt-text">
                          akina53
                      </div> -->
                   </div>
          </div>
       </mat-tab>
       <mat-tab>
          <ng-template mat-tab-label>
             <i class="fa fa-folder-open-o fa-lg"></i>
          </ng-template>
          <div class="empty-msg">
                    <span class="fa fa-folder-open-o fa-2x"></span>
                    <br>No File
                    <br>were found
            </div>
          <!-- <div class="sidepanel-item ng-scope">
              <div class="sidepanel-item-header">
                  <span class="sidepanel-item-username ng-binding"  style="cursor: pointer;" data-original-title="" title="">@Xavierking</span>
                  <span class="sidepanel-item-date ng-binding">
                      04/12  14:00 PM
                  </span>
              </div>
              <div class="sidepanel-item-body">
                  <a file-popup-link="" extension="png" url="//cdn.echofin.co/uploads/7e9a237a/B46C54ABC8CE4E8EA35EDA799A1E64A3.png" class=""
                   href="//cdn.echofin.co/uploads/7e9a237a/B46C54ABC8CE4E8EA35EDA799A1E64A3.png">
                      <img src="//cdn.echofin.co/uploads/7e9a237a/B46C54ABC8CE4E8EA35EDA799A1E64A3.thumb.png">
                  </a>
              </div>
              <div class="sidepanel-item-footer ng-binding" >
                  #Traders Lounge
              </div>
          </div> -->
       </mat-tab>
       <mat-tab>
          <ng-template mat-tab-label>
             <i class="fa fa-at fa-lg"></i>
          </ng-template>
            <div class="empty-msg ng-scope" ng-if="!mentions.length &amp;&amp; !mentionsLoading">
                <span class="fa fa-inbox fa-2x"></span>
                <br>No mentions
                <br>were found
            </div>
       </mat-tab>
    </mat-tab-group>





