 <mat-tab-group>
       <mat-tab>
          <ng-template mat-tab-label>
             <i class="fa fa-users fa-lg"></i>
          </ng-template>
          <div>
               <div class="input-user-filter-wrapper">
                   <input class="form-control input-user-filter" placeholder="User search">
               </div>
                   <div class="userGroupContainer">
                     <!-- ADMINS -->
                       <div class="panelUserLabel">
                           <span class="border-badge border-admin" aria-hidden="true"></span> Admins
                       </div>
                       <div class="panelUser" style="position:relative;">
                           <span class="glyphicon glyphicon-one-fine-dot userStatus2 offline" ></span> 
                           <img class="team-user-avatar" src="//cdn.echofin.co/avatars/5007bf5e_e190221b94244369954f8240580a1d80.png" alt="alt-text">
                           Jetsetlukas
                       </div>
                       <div class="panelUser" style="position:relative;">
                           <span class="glyphicon glyphicon-one-fine-dot userStatus2 offline" ></span> 
                           <img class="team-user-avatar" src="//cdn.echofin.co/avatars/2eefc572_22d400953f7a4ab6b792cb319a400945.png" alt="alt-text">
                           Abc
                       </div>
                       <div class="panelUser" style="position:relative;">
                          <span class="glyphicon glyphicon-one-fine-dot userStatus2 offline" ></span> 
                          <img class="team-user-avatar" src="https://cdn.echofin.co/avatars/1b14b4b6.png" alt="alt-text">
                          Puneetsethi
                      </div>
                      <div class="panelUser" style="position:relative;">
                          <span class="glyphicon glyphicon-one-fine-dot userStatus2 offline" ></span> 
                          <img class="team-user-avatar" src="https://cdn.echofin.co/avatars/6ca70361.png" alt="alt-text">
                          Shabaz
                      </div>
                      <div class="panelUser" style="position:relative;">
                          <span class="glyphicon glyphicon-one-fine-dot userStatus2 offline" ></span> 
                          <img class="team-user-avatar" src="//cdn.echofin.co/avatars/2eefc572_22d400953f7a4ab6b792cb319a400945.png" alt="alt-text">
                          MarcosRuiz
                      </div>
                      <!-- MODERATORS -->
                      <div class="panelUserLabel">
                          <span class="border-badge border-moderator" ></span> Moderators
                      </div>
                      <div class="panelUser" style="position:relative;">
                          <span class="glyphicon glyphicon-one-fine-dot userStatus2 offline" ></span> 
                          <img class="team-user-avatar" src="https://cdn.echofin.co/avatars/b89add87_2b34beacf1054e2997c2be8a79743088.png" alt="alt-text">
                          echo20
                      </div>

                      <!-- TEAM USERS -->
                      <div class="panelUserLabel">
                          <button class="btn_show_all">show all</button>
                          <span class="border-badge border-user" aria-hidden="true"></span> Team Users
                      </div>
                      <div class="panelUser" style="position:relative;">
                          <span class="glyphicon glyphicon-one-fine-dot userStatus2 online" ></span> 
                          <img class="team-user-avatar" src="https://cdn.echofin.co/avatars/4ab8e499.png" alt="alt-text">
                          akina53
                      </div>
                      <div class="panelUser">
                          <span class="glyphicon glyphicon-one-fine-dot userStatus1" ></span>
                          <img class="team-user-avatar b-lazy b-loaded" src="//cdn.echofin.co/avatars/c4ece53a.png" alt="alt-text">
                          ayopaul
                      </div>

                      <div class="panelUser">
                          <span class="glyphicon glyphicon-one-fine-dot userStatus1" ></span>
                          <img class="team-user-avatar b-lazy b-loaded" src="//cdn.echofin.co/avatars/78f88c7b.png" alt="alt-text">
                          Backkwoods2448
                      </div>
                      <div class="panelUser">
                          <span class="glyphicon glyphicon-one-fine-dot userStatus1" ></span>
                          <img class="team-user-avatar b-lazy b-loaded" src="//cdn.echofin.co/avatars/1051782e.png" alt="alt-text">
                          Beng00
                      </div>
                      <div class="panelUser">
                          <span class="glyphicon glyphicon-one-fine-dot userStatus1" ></span>
                          <img class="team-user-avatar b-lazy b-loaded" src="//cdn.echofin.co/avatars/bd3320fc.png" alt="alt-text">
                          Bosslsx
                      </div>
                      <div class="panelUser" style="position:relative;">
                          <span class="glyphicon glyphicon-one-fine-dot userStatus2 online" ></span> 
                          <img class="team-user-avatar" src="https://cdn.echofin.co/avatars/4ab8e499.png" alt="alt-text">
                          akina53
                      </div>
                      <div class="panelUser">
                          <span class="glyphicon glyphicon-one-fine-dot userStatus1" ></span>
                          <img class="team-user-avatar b-lazy b-loaded" src="//cdn.echofin.co/avatars/c4ece53a.png" alt="alt-text">
                          ayopaul
                      </div>

                      <div class="panelUser">
                          <span class="glyphicon glyphicon-one-fine-dot userStatus1" ></span>
                          <img class="team-user-avatar b-lazy b-loaded" src="//cdn.echofin.co/avatars/78f88c7b.png" alt="alt-text">
                          Backkwoods2448
                      </div>
                      <div class="panelUser">
                          <span class="glyphicon glyphicon-one-fine-dot userStatus1" ></span>
                          <img class="team-user-avatar b-lazy b-loaded" src="//cdn.echofin.co/avatars/1051782e.png" alt="alt-text">
                          Beng00
                      </div>
                      <div class="panelUser">
                          <span class="glyphicon glyphicon-one-fine-dot userStatus1" ></span>
                          <img class="team-user-avatar b-lazy b-loaded" src="//cdn.echofin.co/avatars/bd3320fc.png" alt="alt-text">
                          Bosslsx
                      </div>
                      <div class="panelUser">
                          <span class="glyphicon glyphicon-one-fine-dot userStatus1" ></span>
                          <img class="team-user-avatar b-lazy b-loaded" src="//cdn.echofin.co/avatars/c4ece53a.png" alt="alt-text">
                          ayopaul
                      </div>
                      <div class="panelUser">
                          <span class="glyphicon glyphicon-one-fine-dot userStatus1" ></span>
                          <img class="team-user-avatar b-lazy b-loaded" src="//cdn.echofin.co/avatars/78f88c7b.png" alt="alt-text">
                          Backkwoods2448
                      </div>
                      <div class="panelUser">
                          <span class="glyphicon glyphicon-one-fine-dot userStatus1" ></span>
                          <img class="team-user-avatar b-lazy b-loaded" src="//cdn.echofin.co/avatars/1051782e.png" alt="alt-text">
                          Beng00
                      </div>
                      <div class="panelUser">
                          <span class="glyphicon glyphicon-one-fine-dot userStatus1" ></span>
                          <img class="team-user-avatar b-lazy b-loaded" src="//cdn.echofin.co/avatars/bd3320fc.png" alt="alt-text">
                          Bosslsx
                      </div>
                      <div class="panelUser">
                          <span class="glyphicon glyphicon-one-fine-dot userStatus1" ></span>
                          <img class="team-user-avatar b-lazy b-loaded" src="//cdn.echofin.co/avatars/c4ece53a.png" alt="alt-text">
                          ayopaul
                      </div>

                      <div class="panelUser">
                          <span class="glyphicon glyphicon-one-fine-dot userStatus1" ></span>
                          <img class="team-user-avatar b-lazy b-loaded" src="//cdn.echofin.co/avatars/78f88c7b.png" alt="alt-text">
                          Backkwoods2448
                      </div>
                      <div class="panelUser">
                          <span class="glyphicon glyphicon-one-fine-dot userStatus1" ></span>
                          <img class="team-user-avatar b-lazy b-loaded" src="//cdn.echofin.co/avatars/1051782e.png" alt="alt-text">
                          Beng00
                      </div>
                      <div class="panelUser">
                          <span class="glyphicon glyphicon-one-fine-dot userStatus1" ></span>
                          <img class="team-user-avatar b-lazy b-loaded" src="//cdn.echofin.co/avatars/bd3320fc.png" alt="alt-text">
                          Bosslsx
                      </div>
                      <div class="panelUser" style="position:relative;">
                          <span class="glyphicon glyphicon-one-fine-dot userStatus2 online" ></span> 
                          <img class="team-user-avatar" src="https://cdn.echofin.co/avatars/4ab8e499.png" alt="alt-text">
                          akina53
                      </div>
                      <div class="panelUser">
                          <span class="glyphicon glyphicon-one-fine-dot userStatus1" ></span>
                          <img class="team-user-avatar b-lazy b-loaded" src="//cdn.echofin.co/avatars/1051782e.png" alt="alt-text">
                          Beng00
                      </div>
                      <div class="panelUser">
                          <span class="glyphicon glyphicon-one-fine-dot userStatus1" ></span>
                          <img class="team-user-avatar b-lazy b-loaded" src="//cdn.echofin.co/avatars/bd3320fc.png" alt="alt-text">
                          Bosslsx
                      </div>
                      <div class="panelUser" style="position:relative;">
                          <span class="glyphicon glyphicon-one-fine-dot userStatus2 online" ></span> 
                          <img class="team-user-avatar" src="https://cdn.echofin.co/avatars/4ab8e499.png" alt="alt-text">
                          akina53
                      </div>
                      <div class="panelUser">
                          <span class="glyphicon glyphicon-one-fine-dot userStatus1" ></span>
                          <img class="team-user-avatar b-lazy b-loaded" src="//cdn.echofin.co/avatars/c4ece53a.png" alt="alt-text">
                          ayopaul
                      </div>
                   </div>
          </div>
       </mat-tab>
       <mat-tab>
          <ng-template mat-tab-label>
             <i class="fa fa-folder-open-o fa-lg"></i>
          </ng-template>
          <div class="sidepanel-item ng-scope">
              <div class="sidepanel-item-header">
                  <span class="sidepanel-item-username ng-binding"  style="cursor: pointer;" data-original-title="" title="">@Xavierking</span>
                  <span class="sidepanel-item-date ng-binding">
                      04/12  14:00 PM
                  </span>
              </div>
              <div class="sidepanel-item-body">
                  <a file-popup-link="" extension="png" url="//cdn.echofin.co/uploads/7e9a237a/B46C54ABC8CE4E8EA35EDA799A1E64A3.png" class=""
                   href="//cdn.echofin.co/uploads/7e9a237a/B46C54ABC8CE4E8EA35EDA799A1E64A3.png">
                      <img src="//cdn.echofin.co/uploads/7e9a237a/B46C54ABC8CE4E8EA35EDA799A1E64A3.thumb.png">
                  </a>
              </div>
              <div class="sidepanel-item-footer ng-binding" >
                  #Traders Lounge
              </div>
          </div>

          <div class="sidepanel-item">
              <div class="sidepanel-item-header">
                  <span class="sidepanel-item-username"  style="cursor: pointer;"  title="">@mason4490011</span>
                  <span class="sidepanel-item-date ng-binding">
                      03/16  02:25 AM
                  </span>
              </div>
              <div class="sidepanel-item-body">
                  <a url="//cdn.echofin.co/uploads/399b9271/C487140033794691B1813BC5ECA745B4.png" class="" 
                  href="//cdn.echofin.co/uploads/399b9271/C487140033794691B1813BC5ECA745B4.png">    
                  </a>
              </div>
              <div class="sidepanel-item-footer" >
                  #Suggestions/Bug Reports
              </div>
          </div>
          <div class="sidepanel-item ng-scope">
              <div class="sidepanel-item-header">
                  <span class="sidepanel-item-username "  style="cursor: pointer;" data-original-title="" title="">@Xavierking</span>
                  <span class="sidepanel-item-date ng-binding">
                      04/12  14:00 PM
                  </span>
              </div>
              <div class="sidepanel-item-body">
                  <a url="//cdn.echofin.co/uploads/7e9a237a/B46C54ABC8CE4E8EA35EDA799A1E64A3.png" class=""
                   href="//cdn.echofin.co/uploads/7e9a237a/B46C54ABC8CE4E8EA35EDA799A1E64A3.png">
                      <img src="https://cdn.echofin.co/uploads/835630a5/5CA9D78C83AE4EB1B7C0A9B58F4A7019.thumb.png">
                  </a>
              </div>
              <div class="sidepanel-item-footer ng-binding" >
                  #Traders Lounge
              </div>
          </div>
          <div class="sidepanel-item ng-scope">
              <div class="sidepanel-item-header">
                  <span class="sidepanel-item-username " style="cursor: pointer;">@ADTheG__</span>
                  <span class="sidepanel-item-date ng-binding">
                      02/16  22:13 PM
                  </span>
              </div>
              <div class="sidepanel-item-body">
                  <a url="//cdn.echofin.co/uploads/8ed917c5/85D8161BC5A17BFED4F6924A35829A2A.png" class="" 
                  href="//cdn.echofin.co/uploads/8ed917c5/85D8161BC5A17BFED4F6924A35829A2A.png">
                      <img  src="//cdn.echofin.co/uploads/8ed917c5/85D8161BC5A17BFED4F6924A35829A2A.thumb.png">
                  </a>
              </div>
              <div class="sidepanel-item-footer">
                  #Traders Lounge
              </div>
          </div>
       </mat-tab>
       <mat-tab>
          <ng-template mat-tab-label>
             <i class="fa fa-at fa-lg"></i>
          </ng-template>
            <div class="empty-msg ng-scope" ng-if="!mentions.length &amp;&amp; !mentionsLoading">
                <span class="fa fa-inbox fa-2x"></span>
                <br>No mentions
                <br>were found
            </div>
       </mat-tab>
    </mat-tab-group>





