<div class="page-data empty-messages ">
    <img ng-if="!isAdmin" class="small ng-scope" src="https://marketmastersacademy.echofin.co/images/invite_logo.png">
    <br><br>
    <button class="btn btn-primary" ng-click="OpenInviteModal()">Invite your friends</button>

</div>
<div class="chatDiv" style="display: block; right: 25px; left: 10px;">
    <button class="btnUploader dz-clickable" id="uploadBtn" style="cursor: pointer;"><i class="fa fa-arrow-circle-o-up"></i></button>
    <button id="emojiBtn" class=""><i class="fa fa-smile-o" aria-hidden="true"></i>
    </button>
    <button id="addon_Signal" class="cbAddonsBtn" title="Publish Signal"><i class="fa fa-bullhorn" aria-hidden="true"></i></button>
    <span id="chatbox-placeholder" style="display: inline;">Message #Traders Lounge</span>
    <div id="chatbox" contenteditable="true" style="cursor: text;"></div>
    <span id="faux" style="display: none;"></span>
    <span class="downloadLink paymentFormRoom"><i class="fa fa-download"></i> Download Desktop App</span
       >
 </div>

 