.btn-primary {
  background-color: #e26727!important;
  border-color: #ce500e!important;
  color: #fff!important;
}
.empty-messages img.small {
  height: 230px;
}
.page-data > img {
  margin: 0;
}
.empty-messages {
  width: 100%;
  text-align: center;
  padding: 90px 0 0;
  font-size: 2em;
  color: #bbb;
}