<mat-drawer-container class="example-container container-all-page" autosize>
    <mat-drawer #drawer1 class="example-sidenav sidebar navbar-collapse widget-sidenav right-sidenav" mode="side" opened="true" position="end" style="position:fixed; background-color:#252525!important; right:0;">
        <mat-tab-group>
            <mat-tab label="FX Quotes">
 
                    <div class="stats-list" style="height: 32px;">
                            <span class="stats-head" nowrap="" style="padding-left: 25px;">
                                Symbol
                            </span>
                            <span class="stats-head" nowrap="">Ask</span>
                            <span class="stats-head" nowrap="">Last</span>
                            <span class="stats-head" nowrap="">High</span>
                            <span class="stats-head" nowrap="">Low</span>
                            <span class="stats-head" nowrap="">Chg.</span>
                            <span class="stats-head" nowrap="">Chg. %</span>
                            <span class="stats-head" nowrap="">Time</span>
                    </div>
                    <div colspan="8" style="height: 18px; background-color: #474747;">&nbsp;</div>
                    <div class="stats-desc" style="padding-left: 5px;">
                        <span> <i class="fa fa-arrow-right" aria-hidden="true"></i>
                            AUD/CAD
                        </span>
                        <span> <i class="fa fa-arrow-right" aria-hidden="true"></i>
                            AUD/CAD
                        </span>
                        <span> <i class="fa fa-arrow-right" aria-hidden="true"></i>
                            AUD/CAD
                        </span>
                        <span> <i class="fa fa-arrow-right" aria-hidden="true"></i>
                            AUD/CAD
                        </span>
                        <span> <i class="fa fa-arrow-right" aria-hidden="true"></i>
                            AUD/CAD
                        </span>
                        <span> <i class="fa fa-arrow-right" aria-hidden="true"></i>
                            AUD/CAD
                        </span>
                        <span> <i class="fa fa-arrow-right" aria-hidden="true"></i>
                            AUD/CAD
                        </span>
                        <span> <i class="fa fa-arrow-right" aria-hidden="true"></i>
                            AUD/CAD
                        </span>
                        <span> <i class="fa fa-arrow-right" aria-hidden="true"></i>
                            AUD/CAD
                        </span>
                        <span> <i class="fa fa-arrow-right" aria-hidden="true"></i>
                            AUD/CAD
                        </span>
                        <span> <i class="fa fa-arrow-right" aria-hidden="true"></i>
                            AUD/CAD
                        </span>
                        <span> <i class="fa fa-arrow-right" aria-hidden="true"></i>
                            AUD/CAD
                        </span>
                        <span> <i class="fa fa-arrow-right" aria-hidden="true"></i>
                            AUD/CAD
                        </span>
                        <span> <i class="fa fa-arrow-right" aria-hidden="true"></i>
                            AUD/CAD
                        </span>
                        <span> <i class="fa fa-arrow-right" aria-hidden="true"></i>
                            AUD/CAD
                        </span>
                        <span> <i class="fa fa-arrow-right" aria-hidden="true"></i>
                            AUD/CAD
                        </span>
                        <span> <i class="fa fa-arrow-right" aria-hidden="true"></i>
                            AUD/CAD
                        </span>
                        <span> <i class="fa fa-arrow-right" aria-hidden="true"></i>
                            AUD/CAD
                        </span>
                        <span> <i class="fa fa-arrow-right" aria-hidden="true"></i>
                            AUD/CAD
                        </span>
                        <span> <i class="fa fa-arrow-right" aria-hidden="true"></i>
                            AUD/CAD
                        </span>
                        <span> <i class="fa fa-arrow-right" aria-hidden="true"></i>
                            AUD/CAD
                        </span>
                        <span> <i class="fa fa-arrow-right" aria-hidden="true"></i>
                            AUD/CAD
                        </span>
                        <span> <i class="fa fa-arrow-right" aria-hidden="true"></i>
                            AUD/CAD
                        </span>
                        <span> <i class="fa fa-arrow-right" aria-hidden="true"></i>
                            AUD/CAD
                        </span>
                        <span> <i class="fa fa-arrow-right" aria-hidden="true"></i>
                            AUD/CAD
                        </span>
                        <span> <i class="fa fa-arrow-right" aria-hidden="true"></i>
                            AUD/CAD
                        </span>
                        <span> <i class="fa fa-arrow-right" aria-hidden="true"></i>
                            AUD/CAD
                        </span>
                        <span> <i class="fa fa-arrow-right" aria-hidden="true"></i>
                            AUD/CAD
                        </span>
                        <span> <i class="fa fa-arrow-right" aria-hidden="true"></i>
                            AUD/CAD
                        </span>
                        <span> <i class="fa fa-arrow-right" aria-hidden="true"></i>
                            AUD/CAD
                        </span>
                        <span> <i class="fa fa-arrow-right" aria-hidden="true"></i>
                            AUD/CAD
                        </span>
                        <div style="font-size:10px;">
                                <a href="settings.php" style="margin-left:10px;  float: left; color: #19a68a;">Settings</a>
                                <span style="margin-right: 10px; float: right;color:#585858;">Quotes by Investing.com</span>
                        </div>
                    </div>
 
            </mat-tab>
            <mat-tab label="FX Calculators">  <div id="calculators">
                    <p>Select a calculator:</p>
                        <select>
                                <option>Pip</option>
                                <option>Margin</option>
                            </select>
                </div>
                <div id="trdt_container">
                        <legend>Margin Calculator</legend>
                        <div class="control-group">
                                <label class="control-label">Currency Pair:</label>
                                <div class="controls">
                                        <select>
                                                <option>USD/JPY</option>
                                                <option>EUR/USD</option>
                                            </select>
                                </div>
                        </div>
                        <div class="control-group">
                                <label class="control-label">USD / JPY Rate:</label>
                                <div class="controls">
                                        <input type="text" placeholder="108.663" disabled>
                                </div>
                        </div>
                        <div class="control-group">
                                <label class="control-label">Number of Units:</label>
                                <div class="controls">
                                        <input type="text" placeholder=""  style="margin-bottom:10px;">
                                        <select>
                                                <option>standard</option>
                                                <option>Mini</option>
                                        </select>
                                </div>
                                <span class="help-block">Standard lot equals 100,000BC, 100oz Gold, 100oz Platinum, 100oz Palladium, 1000oz Silver, 100 Barrel Oil</span>
                        </div>
                        <div class="control-group">
                                <label class="control-label">Margin Ratio (Leverage):</label>
                                <div class="controls">
                                        <select>
                                                <option>1:1</option>
                                                <option>25:1</option>
                                            </select>
                                </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label"><span id="marginCalculate" class="btn btn-success">Calculate</span>
                            </label><div class="controls"><span id="marginOutput" class="result">0.00</span></div></div>
 
                </div>
            </mat-tab>
            <mat-tab label="Commodities">
                    <div class="stats-list" style="height: 32px;">
                            <span class="stats-head" nowrap="" style="padding-left: 25px;">Symbol(CFDs)
                            </span>
                            <span class="stats-head" nowrap="">Last</span>
                            <span class="stats-head" nowrap="">High</span>
                            <span class="stats-head" nowrap="">Low</span>
                            <span class="stats-head" nowrap="">Chg.</span>
                            <span class="stats-head" nowrap="">Chg. %</span>
                            <span class="stats-head" nowrap="">Time</span>
                    </div>
                    <div class="stats-desc" style="padding-left: 15px;">
                            <span style="display:inline-block;" class="ceFlags UK no-pad"></span>
                            <span style="display:inline-block;">
                                    Lumber
                            </span>
                    </div>
                    <div class="stats-desc" style="padding-left: 15px; background-color: rgba(255, 255, 255, 0.1);">
                            <span style="display:inline-block;" class="ceFlags UK no-pad"></span>
                            <span style="display:inline-block;">
                                    Gasoline RBOB
                            </span>
                    </div>
                    <div class="stats-desc" style="padding-left: 15px;">
                            <span style="display:inline-block;" class="ceFlags UK no-pad"></span>
                            <span style="display:inline-block;">
                                    Aluminum
                            </span>
                    </div>
                    <div class="stats-desc" style="padding-left: 15px;background-color: rgba(255, 255, 255, 0.1);">
                            <span style="display:inline-block;" class="ceFlags UK no-pad"></span>
                            <span style="display:inline-block;">
                                    Aluminum
                            </span>
                    </div>
                    <div class="stats-desc" style="padding-left: 15px;">
                            <span style="display:inline-block;" class="ceFlags UK no-pad"></span>
                            <span style="display:inline-block;">
                                    Aluminum
                            </span>
                    </div>
 
                    <div class="stats-desc" style="padding-left: 15px;background-color: rgba(255, 255, 255, 0.1);">
                            <span style="display:inline-block;" class="ceFlags UK no-pad"></span>
                            <span style="display:inline-block;">
                                    Aluminum
                            </span>
                    </div>
                    <div class="stats-desc" style="padding-left: 15px;">
                            <span style="display:inline-block;" class="ceFlags UK no-pad"></span>
                            <span style="display:inline-block;">
                                    Aluminum
                            </span>
                    </div>
                    <div class="stats-desc" style="padding-left: 15px; background-color: rgba(255, 255, 255, 0.1);">
                            <span style="display:inline-block;" class="ceFlags UK no-pad"></span>
                            <span style="display:inline-block;">
                                    Aluminum
                            </span>
                    </div>
 
                    <div class="stats-desc" style="padding-left: 15px;">
                            <span style="display:inline-block;" class="ceFlags UK no-pad"></span>
                            <span style="display:inline-block;">
                                    Copper
                            </span>
                    </div>
                    <div class="stats-desc" style="padding-left: 15px;background-color: rgba(255, 255, 255, 0.1);">
                            <span style="display:inline-block;" class="ceFlags UK no-pad"></span>
                            <span style="display:inline-block;">
                                    Aluminum
                            </span>
                    </div>
                    <div class="stats-desc" style="padding-left: 15px;">
                            <span style="display:inline-block;" class="ceFlags UK no-pad"></span>
                            <span style="display:inline-block;">
                                    Copper
                            </span>
                    </div>
 
                    <div class="stats-desc" style="padding-left: 15px;background-color: rgba(255, 255, 255, 0.1);">
                            <span style="display:inline-block;" class="ceFlags UK no-pad"></span>
                            <span style="display:inline-block;">
                                    Aluminum
                            </span>
                    </div>
                    <div class="stats-desc" style="padding-left: 15px;">
                            <span style="display:inline-block;" class="ceFlags UK no-pad"></span>
                            <span style="display:inline-block;">
                                    Copper
                            </span>
                    </div>
                    <div class="stats-desc" style="padding-left: 15px;background-color: rgba(255, 255, 255, 0.1);">
                            <span style="display:inline-block;" class="ceFlags UK no-pad"></span>
                            <span style="display:inline-block;">
                                    Copper
                            </span>
                    </div>
                    <div class="stats-desc" style="padding-left: 15px;">
                            <span style="display:inline-block;" class="ceFlags UK no-pad"></span>
                            <span style="display:inline-block;">
                                    Copper
                            </span>
                    </div>
                    <div class="stats-desc" style="padding-left: 15px;background-color: rgba(255, 255, 255, 0.1);">
                            <span style="display:inline-block;" class="ceFlags UK no-pad"></span>
                            <span style="display:inline-block;">
                                    Aluminum
                            </span>
                    </div>
                    <div class="stats-desc" style="padding-left: 15px;">
                            <span style="display:inline-block;" class="ceFlags UK no-pad"></span>
                            <span style="display:inline-block;">
                                    Copper
                            </span>
                    </div>
                    <div>
                        <span style="margin-right: 10px;"></span>
                    </div>
 
                    <div style="font-size:10px;">
                            <span style="margin-right: 10px; float: right;color:#585858;">Quotes by Investing.com</span>
                    </div>
            </mat-tab>
            <mat-tab label=" Talking Twitter">
                    <div id="topBar">
                            <a href="javascript: void(0);" id="soundBtn" data-speak="0" title="Mute/Unmute twitter feed speech">
                                <i class="fa fa-volume-off" aria-hidden="true"></i>
                            </a>
                            <a href="javascript: void(0);" id="settingsBtn" title="Feed options">
                                    <i class="fa fa-sliders" aria-hidden="true"></i>
                            </a>
                    </div>
                    <div  style="height: 18px; background-color: rgb(71, 71, 71);" class="ng-star-inserted">&nbsp;</div>
                        <div class="twitter-talk">
                                <div class="img_flex"><img src="https://pbs.twimg.com/profile_images/991818020233404416/alrBF_dr_normal.jpg" width="48" height="48"></div>
                                <div class="content">
                                    <div class="user">
                                        <a href="https://www.twitter.com/business" target="_blank">
                                            <span class="username">Bloomberg</span>
                                            <span class="screenname">
                                                <small>@</small>business
                                            </span>
                                        </a>
                                    </div>
                                    <div class="time" data-created="Sat Jul 27 11:32:02 +0000 2019">2 minutes ago</div>
                                    <div class="text">India deployed military teams to help rescue passengers stranded aboard a train
                                            stalled by heavy rainfall and flood… <a href="https://t.co/n3LqsN9taz" target="_blank">https://t.co/n3LqsN9taz
                                        </a>
                                    </div>
                                </div>
                        </div>
                        <div class="twitter-talk" style="background-color:rgb(50, 50, 50)">
                                <div class="img_flex"><img src="https://pbs.twimg.com/profile_images/879361767914262528/HdRauDM-_normal.jpg" width="48" height="48"></div>
                                <div class="content">
                                    <div class="user">
                                        <a href="https://www.twitter.com/business" target="_blank">
                                            <span class="username">The Economist</span>
                                            <span class="screenname">
                                                <small>@</small>business
                                            </span>
                                        </a>
                                    </div>
                                    <div class="time" data-created="Sat Jul 27 11:32:02 +0000 2019">2 minutes ago</div>
                                    <div class="text">India deployed military teams to help rescue passengers stranded aboard a train
                                            stalled by heavy rainfall and flood… <a href="https://t.co/n3LqsN9taz" target="_blank">https://t.co/n3LqsN9taz
                                        </a>
                                    </div>
                                </div>
                        </div>
                        <div class="twitter-talk">
                                <div class="img_flex"><img src="https://pbs.twimg.com/profile_images/991818020233404416/alrBF_dr_normal.jpg" width="48" height="48"></div>
                                <div class="content">
                                    <div class="user">
                                        <a href="https://www.twitter.com/business" target="_blank">
                                            <span class="username">Bloomberg</span>
                                            <span class="screenname">
                                                <small>@</small>business
                                            </span>
                                        </a>
                                    </div>
                                    <div class="time" data-created="Sat Jul 27 11:32:02 +0000 2019">2 minutes ago</div>
                                    <div class="text">India deployed military teams to help rescue passengers stranded aboard a train
                                            stalled by heavy rainfall and flood… <a href="https://t.co/n3LqsN9taz" target="_blank">https://t.co/n3LqsN9taz
                                        </a>
                                    </div>
                                </div>
                        </div>
                        <div class="twitter-talk" style="background-color:rgb(50, 50, 50)">
                                <div class="img_flex"><img src="https://pbs.twimg.com/profile_images/879361767914262528/HdRauDM-_normal.jpg" width="48" height="48"></div>
                                <div class="content">
                                    <div class="user">
                                        <a href="https://www.twitter.com/business" target="_blank">
                                            <span class="username">The Economist</span>
                                            <span class="screenname">
                                                <small>@</small>business
                                            </span>
                                        </a>
                                    </div>
                                    <div class="time" data-created="Sat Jul 27 11:32:02 +0000 2019">2 minutes ago</div>
                                    <div class="text">India deployed military teams to help rescue passengers stranded aboard a train
                                            stalled by heavy rainfall and flood… <a href="https://t.co/n3LqsN9taz" target="_blank">https://t.co/n3LqsN9taz
                                        </a>
                                    </div>
                                </div>
                        </div>
                        <div class="twitter-talk">
                                <div class="img_flex"><img src="https://pbs.twimg.com/profile_images/991818020233404416/alrBF_dr_normal.jpg" width="48" height="48"></div>
                                <div class="content">
                                    <div class="user">
                                        <a href="https://www.twitter.com/business" target="_blank">
                                            <span class="username">Bloomberg</span>
                                            <span class="screenname">
                                                <small>@</small>business
                                            </span>
                                        </a>
                                    </div>
                                    <div class="time" data-created="Sat Jul 27 11:32:02 +0000 2019">2 minutes ago</div>
                                    <div class="text">India deployed military teams to help rescue passengers stranded aboard a train
                                            stalled by heavy rainfall and flood… <a href="https://t.co/n3LqsN9taz" target="_blank">https://t.co/n3LqsN9taz
                                        </a>
                                    </div>
                                </div>
                        </div>
 
            </mat-tab>
          </mat-tab-group>
     </mat-drawer>

    <div class="example-sidenav-content">
        <div class="example-sidenav-content widget-btn side-tp ">
            <button class="hamburgerHeader header-button hamburger hamburger-arrow-left hidden-xs" hamburger-drv="" mat-button (click)="drawer1.toggle()">
            <span class="icon material-icons ng-binding">apps</span><br>
            <span class="label ng-binding">WIDGETS</span>
            </button>
        </div>

      <div class="page-data empty-messages ">
          <img ng-if="!isAdmin" class="small ng-scope" src="https://marketmastersacademy.echofin.co/images/invite_logo.png">
          <br><br>
          <button class="btn btn-primary" ng-click="OpenInviteModal()">Invite your friends</button>
      
      </div>
      <div class="chatDiv" style="display: block; right: 25px; left: 10px;">
          <button class="btnUploader dz-clickable" id="uploadBtn" style="cursor: pointer;"><i class="fa fa-arrow-circle-o-up"></i></button>
          <button id="emojiBtn" class=""><i class="fa fa-smile-o" aria-hidden="true"></i>
          </button>
          <button id="addon_Signal" class="cbAddonsBtn" title="Publish Signal"><i class="fa fa-bullhorn" aria-hidden="true"></i></button>
          <span id="chatbox-placeholder" style="display: inline;">Message #Traders Lounge</span>
          <div id="chatbox" contenteditable="true" style="cursor: text;"></div>
          <span id="faux" style="display: none;"></span>
          <span class="downloadLink paymentFormRoom"><i class="fa fa-download"></i> Download Desktop App</span
             >
       </div>

    </div>
  </mat-drawer-container>
