.btn-primary {
  background-color: #00a2c8!important;
  border-color: #019dc0!important;
  color: #fff!important;
}
.empty-messages img.small {
  height: 230px;
  max-width: 100%;
}
.page-data > img {
  margin: 0;
}
.empty-messages {
  width: 100%;
  text-align: center;
  padding: 90px 0 0;
  font-size: 2em;
  color: #bbb;
}
@media(max-width:768px){
  .empty-messages img {
    max-width: 90%;
    height: unset!important;
  }
}