<div class="login-container admin-dashboard">
        <mat-drawer-container class="example-container" autosize>
          <div class="navbar navbar-fixed-top navbar-inverse navbar-static-top" style="position:static;">
            <mat-drawer #drawer7 class="example-sidenav sidebar navbar-collapse" opened="true" mode="side"
              style="position:fixed; left:0;">
                <app-admin-sidebar></app-admin-sidebar>
            </mat-drawer>
            <div class="example-sidenav-content">
                <button class="hamburgerHeader hamburger hamburger-arrow-left sidebar-toggle" hamburger-drv="" (click)="drawer7.toggle();">
                    <span class="icon"></span>
                </button>
            </div>
            <div class="roomHeader">
              <i class="fa" ng-class="{'roomLock': room.n_type==2 , 'fa-unlock': room.n_type==2}" aria-hidden="true"></i>
              <div header-nav-trial="" class="nav-trial-container">
                <div class="nav-trial-container-text ng-binding"></div>
              </div>
            </div>
            <div class="navbar-right navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <li class="settings-menu">
                        <a [routerLink]="['/adminsettings']" routerLinkActive="selectedRoom">
                            <span class="fa fa-gears fa-fw"></span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/dashboard']" target="_blank" href="/">
                            <span class="fa fa-comments fa-fw"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#" id="headwayapp">
                            <span class="fa fa-envelope-o fa-fw"></span>
                        <span id="HW_badge_cont" class="HW_visible"><span id="HW_badge" data-count-unseen="" class="HW_softHidden"></span></span></a>
                    </li>
                    <li class="dropdown">
                        <a>
                            <button mat-button [matMenuTriggerFor]="menu">puneetsethi25@gmail.com
                                    <span class="caret"></span>
                            </button>
                            <mat-menu #menu="matMenu" xPosition="before">
                                    <a class="profile-menu white" href="#">Profile</a>
                                    <li class="divider"></li>
                                    <a class="profile-menu white" href="#">Sign Out</a>
                            </mat-menu>
                        </a>
                    </li>
                </ul>
             </div>
          </div>
          <section class="content-header ng-scope">
              <h1>
                Compliance
              </h1>
          </section>
          <section class="content admin-user admin_payouts">
                <div class="toolbox">
                <form  class="form-inline pull-left">
                    <div class="form-group">
                        <mat-form-field>
                                <mat-label>Report</mat-label>
                                <mat-select value="Report">
                                <mat-option value="Session">Session</mat-option>
                                <mat-option value="Messages">Messages</mat-option>
                                </mat-select>
                            </mat-form-field>
                    </div>
                    <div class="form-group">
                        <mat-form-field>
                                <mat-label>Room</mat-label>
                                <mat-select value="Room" aria-disabled="false">
                                <mat-option value="room1">room1</mat-option>
                                <mat-option value="room2">room2</mat-option>
                                </mat-select>
                            </mat-form-field>
                    </div>
                    <div class="form-group">
                            <mat-form-field color="accent">
                                    <mat-label>From</mat-label>
                                    <input matInput [matDatepicker]="picker1">
                                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                    <mat-datepicker #picker1></mat-datepicker>
                            </mat-form-field>
                    </div>
                    <div class="form-group">
                            <mat-form-field color="accent">
                                <mat-label>To</mat-label>
                                <input matInput [matDatepicker]="picker2">
                                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                <mat-datepicker #picker2 color="primary"></mat-datepicker>
                            </mat-form-field>
                    </div>
                    <button class="btn btn-blue" >
                        <span class="fa fa-cog fa-fw"></span> Export
                    </button>
                </form>
                <div class="pull-right">
                    <button class="btn btn-default" (click)="onRefresh()">
                        <span class="fa fa-refresh fa-fw" ></span>
                    </button>
                </div>
                <div class="clearfix"></div>
            </div>
              <div class="mat-elevation-z8 box box-default">
                <table mat-table [dataSource]="dataSource" matSort
                [ngClass]="{'ActiveSpinner': showSpinner == true}">
                  <!-- Color Column -->
                  <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
                    <td mat-cell *matCellDef="let row"> {{row.date}} </td>
                  </ng-container>
                    <!-- Color Column -->
                    <ng-container matColumnDef="user">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> User </th>
                      <td mat-cell *matCellDef="let row"><a href="#">{{row.user}}</a></td>
                    </ng-container>
                     <!-- Color Column -->
                     <ng-container matColumnDef="ip">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>IP</th>
                        <td mat-cell *matCellDef="let row"> {{row.ip}} </td>
                      </ng-container>
                    <!-- Color Column -->
                    <ng-container matColumnDef="report">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Report</th>
                      <td mat-cell *matCellDef="let row"> {{row.report}} </td>
                    </ng-container>
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                  </tr>
                </table>
                <mat-paginator [pageSizeOptions]="[14, 30, 50, 100]"></mat-paginator>
                <mat-progress-spinner  [mode]="mode">
                </mat-progress-spinner>
              </div>
          </section>
        </mat-drawer-container>
      </div>
