<div class="login-container">
  <mat-drawer-container class="example-container" autosize
    style="float:right; width:calc(100% - 80px); overflow:hidden!important; height:100vh; z-index:auto;">
    <mat-drawer #drawer class="example-sidenav sidebar navbar-collapse" [opened]="screenWidth > 840"
      [mode]="(screenWidth > 840) ? 'side' : 'over'">
      <app-sidenav (selectedRoom)="setRoomTitle($event)"></app-sidenav>
      <div class="example-sidenav-content mobile-cross">
        <button class="" hamburger-drv="" mat-button (click)="drawer.toggle()">
          <i class="fa fa-close"></i>
        </button>
      </div>
    </mat-drawer>
    <div class="example-sidenav-content">
      <div class="navbar navbar-fixed-top navbar-inverse navbar-static-top">
        <button class="hamburgerHeader hamburger hamburger-arrow-left" hamburger-drv="" mat-button
          (click)="drawer.toggle()">
          <span class="icon"></span>
        </button>
        <div class="roomHeader" style="float:none;">
          <i class="roomHash fa fa-hashtag" aria-hidden="true"></i>
          <span class="roomTitle text-capitalize  ">{{roomTitle}}</span>
          <i class="fa" ng-class="{'roomLock': room.n_type==2 , 'fa-unlock': room.n_type==2}" aria-hidden="true"></i>
          <div header-nav-trial="" class="nav-trial-container">
            <div class="nav-trial-container-text "></div>
          </div>
        </div>
      </div>

      <mat-drawer-container class="example-container container-all-page" autosize>
        <mat-drawer #drawer1 class="example-sidenav sidebar navbar-collapse widget-sidenav right-sidenav" mode="side"
          position="end" [opened]="screenWidth > 840" [mode]="(screenWidth > 840) ? 'side' : 'over'">
          <app-chatarea></app-chatarea>
        </mat-drawer>
        <div class="example-sidenav-content">
          <mat-drawer-container class="example-container" autosize>
            <app-profile-sidebar></app-profile-sidebar>
            <mat-drawer #drawer4 class="example-sidenav admin_and_users" mode="side" position="end">
              <app-user-panel></app-user-panel>
            </mat-drawer>
            <div class="example-sidenav-content">
              <div class="page-data">
                <app-unlockchatroom></app-unlockchatroom>
              </div>
            </div>
          </mat-drawer-container>
          <div class="leftnav">

            <button *ngIf="isAdmin" class="hidden-xs header-button dashboard ">
              <a href="/admindashboard">
                <span class="icon fa fa-desktop"></span><br>
                <span class="label">DASHBOARD</span>
              </a>
            </button>
            <button *ngIf="isAdmin" class="hidden-xs header-button broadcast">
              <a href="#">
                <span class="icon fa fa-video-camera"></span><br>
                <span class="label">BROADCAST</span>
              </a>
            </button>
            <button class="hidden-xs header-button ">
              <span class="icon fa fa-bar-chart"></span><br>
              <span class="label ">CHARTS</span>
            </button>
            <button class="hidden-xs header-button ">
              <span class="icon fa fa-clock-o"></span><br>
              <span class="label ">MARKET HOURS</span>
            </button> <button class="hidden-xs header-button ">
              <span class="icon fa fa-thermometer-full"></span><br>
              <span class="label ">FX HEATMAP</span>
            </button>
            <button class="hidden-xs header-button ">
              <span class="icon fa fa-bolt"></span><br>
              <span class="label ">DATAFLASH</span>
            </button>
            <button class="hidden-xs header-button " mat-button (click)="drawer4.toggle()">
              <span class="icon fa fa-address-book-o"></span><br>
              <span class="label ">DIRECTORY</span>
            </button>
            <div class="example-sidenav-content widget-btn side-tp ">
              <button class="hamburgerHeader header-button hamburger hamburger-arrow-left " hamburger-drv="" mat-button
                (click)="drawer1.toggle()">
                <span class="icon material-icons ">apps</span><br>
                <span class="label ">WIDGETS</span>
              </button>
            </div>
          </div>
        </div>
      </mat-drawer-container>

    </div>
  </mat-drawer-container>
</div>
