<div class="login-container">
  <!-- <mat-slide-toggle [(ngModel)]="darkTheme" (click)="onDarkTheme()" color="warn">
  </mat-slide-toggle> -->
  <mat-drawer-container class="example-container" autosize
    style="float:right; width:100%; overflow:hidden!important; height:100vh; z-index:auto;">
    <mat-drawer #drawer class="example-sidenav sidebar navbar-collapse" [opened]="screenWidth > 840"
      [mode]="(screenWidth > 840) ? 'side' : 'over'">
      <app-sidenav (selectedRoom)="setRoomTitle($event)"></app-sidenav>
      <div class="example-sidenav-content mobile-cross">
        <button class="" hamburger-drv="" mat-button (click)="drawer.toggle()">
          <i class="fa fa-close"></i>
        </button>
      </div>
    </mat-drawer>
    <div class="example-sidenav-content">
      <div class="navbar navbar-fixed-top navbar-inverse navbar-static-top" style="display: flex;">
        <!-- <button class="hamburgerHeader hamburger hamburger-arrow-left" hamburger-drv="" mat-button
          (click)="drawer.toggle()">
          <span class="icon"></span>
        </button> -->
        <div style="flex: 1 auto;line-height: 66px;     flex: 1 auto;
        line-height: 66px;
        min-width: 250px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;">
          <button mat-icon-button color="warn" class="hamburgerHeader" (click)="drawer.toggle()">
            <i class="fa fa-bars"></i>
          </button>
          <i class="roomHash fa fa-hashtag" aria-hidden="true"></i>
          <span class="roomTitle text-capitalize  ">{{roomTitle}}</span>
          <span class="roomTitle text-capitalize  ">Market master</span>
        </div>
        <div class="roomHeader" style="flex: 1 auto;">
          <div header-nav-trial="" class="nav-trial-container">
            <button class=" button_wrap" (click)="drawer1.toggle()" mat-icon-button>
              <span class="material-icons">
                widgets
              </span>
              <a>WIDGETS</a>
            </button>
            <button class="hidden-xs  button_wrap" mat-icon-button (click)="drawer4.toggle()">
              <span class="icon fa fa-address-book"></span>
              <a>CONTACTS</a>
            </button>
            <!-- <button *ngIf="isAdmin" class="hidden-xs  rectangular-btn button_wrap " mat-button>
              <span class="material-icons">video_call</span>
              <a>BROADCAST</a>
            </button> -->
            <button class="button_wrap hidden-xs" mat-icon-button (click)="openDataFlashDialog()">
              <span class="material-icons">
                offline_bolt
              </span>
              <a>DATAFLASH</a>
            </button>
            <button class="button_wrap hidden-xs" mat-icon-button (click)="openFXCrossRatesDialog()">
              <span class="icon fa fa-exchange"></span>
              <a (click)="openFXCrossRatesDialog()">FX CROSS RATES</a>
            </button>
            <button class="button_wrap hidden-xs" mat-icon-button (click)="openOtherChartDialog()">
              <span class="icon fa fa-area-chart"></span>
              <a (click)="openOtherChartDialog()">CHARTS</a>
            </button>
            <button class="button_wrap hidden-xs" mat-icon-button (click)="openZoomDialog()">
              <span class="material-icons">video_call</span>
              <a (click)="openZoomDialog()">ZOOM</a>
            </button>
            <button class="button_wrap hidden-xs" mat-icon-button (click)="openLiveTVDialog()">
              <span class="material-icons">tv</span>
              <a (click)="openLiveTVDialog()">LIVETV</a>
            </button>
            <button class="button_wrap hidden-xs" mat-icon-button (click)="openCoin360Dialog()">
              <span class="icon fa fa-bitcoin"></span>
              <a (click)="openCoin360Dialog()">COIN360</a>
            </button>
            <button class="button_wrap hidden-xs" mat-icon-button (click)="openFXHeatmapDialog()">
              <span class="icon fa fa-thermometer-full"></span>
              <a (click)="openFXHeatmapDialog()">FX HEATMAP</a>
            </button>
            <button class="button_wrap hidden-xs" mat-icon-button>
              <span class="material-icons">alarm</span>
              <a (click)="openMarketHoursDialog()">MARKET HOURS</a>
            </button>

            <button class="button_wrap hidden-xs" mat-icon-button (click)="openChartsDialog()" *ngIf="!chartsDisable">
              <span class="material-icons">bar_chart</span>
              <a (click)="openChartsDialog()">CHARTS</a>
            </button>
            <button (click)="onRedirectAdmin()" mat-icon-button mat-button *ngIf="isAdmin"
              class="hidden-xs button_wrap dashboard-btn hidden-xs">
              <span class="icon fa fa-tachometer"></span>
              <a>DASHBOARD</a>
            </button>

           
          </div>
        </div>
      </div>

      <mat-drawer-container class="example-container container-all-page" autosize>
        <mat-drawer #drawer1 class="example-sidenav sidebar navbar-collapse widget-sidenav right-sidenav" mode="side"
          position="end" [opened]="screenWidth > 840" [mode]="(screenWidth > 840) ? 'side' : 'over'">
          <app-chatarea></app-chatarea>
        </mat-drawer>
        <div class="example-sidenav-content">
          <mat-drawer-container class="example-container" autosize>
            <app-profile-sidebar></app-profile-sidebar>
            <mat-drawer #drawer4 class="example-sidenav admin_and_users" mode="side" position="end">
              <app-user-panel></app-user-panel>
            </mat-drawer>
            <div class="example-sidenav-content">
              <div class="page-data">
                <app-unlockchatroom></app-unlockchatroom>
              </div>
            </div>
          </mat-drawer-container>
          <div class="leftnav">
            <!-- <button *ngIf="isAdmin" mat-button class="hidden-xs header-button dashboard ">
              <a routerLink="/admindashboard">
                <span class="icon fa fa-desktop"></span><br>
                <span class="label">DASHBOARD</span>
              </a>
            </button>
            <button *ngIf="isAdmin" class="hidden-xs header-button broadcast" mat-button>
                <span class="icon fa fa-video-camera"></span><br>
                <span class="label">BROADCAST</span>
            </button>
            <button class="hidden-xs header-button" (click)="openChartsDialog()" mat-button>
              <span class="icon fa fa-bar-chart"></span><br>
              <span class="label ">CHARTS</span>
            </button>
            <button class="hidden-xs header-button" (click)="openMarketHoursDialog()" mat-button>
              <span class="icon fa fa-clock-o"></span><br>
              <span class="label ">MARKET HOURS</span>
            </button> <button class="hidden-xs header-button" (click)="openFXHeatmapDialog()" mat-button>
              <span class="icon fa fa-thermometer-full"></span><br>
              <span class="label ">FX HEATMAP</span>
            </button>
            <button class="hidden-xs header-button" (click)="openCoin360Dialog()" mat-button>
              <span class="icon fa fa-bitcoin"></span><br>
              <span class="label ">COIN360</span>
            </button>
            <button class="hidden-xs header-button" (click)="openLiveTVDialog()" mat-button>
              <span class="icon fa fa-tv"></span><br>
              <span class="label ">LIVETV</span>
            </button>
            <button class="hidden-xs header-button" (click)="openZoomDialog()" mat-button>
              <span class="icon fa fa-video-camera"></span><br>
              <span class="label ">ZOOM</span>
            </button>
            <button class="hidden-xs header-button" (click)="openOtherChartDialog()" mat-button>
              <span class="icon fa fa-area-chart"></span><br>
              <span class="label ">CHARTS</span>
            </button>
            <button class="hidden-xs header-button" (click)="openFXCrossRatesDialog()" mat-button>
              <span class="icon fa fa-exchange"></span><br>
              <span class="label ">FX CROSS RATES</span>
            </button>
            <button class="hidden-xs header-button" mat-button>
              <span class="icon fa fa-bolt"></span><br>
              <span class="label ">DATAFLASH</span>
            </button> -->
            <!-- <button class="hidden-xs header-button " mat-button (click)="drawer4.toggle()">
              <span class="icon fa fa-address-book-o"></span><br>
              <span class="label ">DIRECTORY</span>
            </button>
            <div class="example-sidenav-content widget-btn side-tp ">
              <button class="hamburgerHeader header-button hamburger hamburger-arrow-left" mat-button
                (click)="drawer1.toggle()">
                <span class="icon material-icons">apps</span><br>
                <span class="label ">WIDGETS</span>
              </button>
            </div> -->
          </div>
        </div>
      </mat-drawer-container>
    </div>
  </mat-drawer-container>
</div>