<div class="login-container">
  <mat-drawer-container class="example-container" autosize>
    <div class="navbar navbar-fixed-top navbar-inverse navbar-static-top" style="position:static;">
      <mat-drawer #drawer class="example-sidenav sidebar navbar-collapse" opened="true" mode="side"
        style="position:fixed; left:0;">
        <app-sidenav></app-sidenav>
      </mat-drawer>

      <div class="example-sidenav-content">
        <button class="hamburgerHeader hamburger hamburger-arrow-left hidden-xs" hamburger-drv="" mat-button
          (click)="drawer.toggle()">
          <span class="icon"></span>
        </button>
      </div>
      <div class="roomHeader">
        <i ng-show="(room.n_type==2 || room.n_type==1) &amp;&amp; !room.isDirect" class="roomHash fa fa-hashtag"
          aria-hidden="true"></i>
        <span ng-if="room.roomType!=4 &amp;&amp; room.s_url.length" class="roomTitle ng-binding ng-scope">Traders
          Lounge</span><!-- end ngIf: room.roomType!=4 && room.s_url.length -->
        <i class="fa" ng-class="{'roomLock': room.n_type==2 , 'fa-unlock': room.n_type==2}" aria-hidden="true"></i>
        <div header-nav-trial="" class="nav-trial-container">
          <div class="nav-trial-container-text ng-binding"></div>
        </div>
      </div>
      <app-rightarea></app-rightarea>
    </div>
    <!-- <app-chatarea></app-chatarea> -->
    <app-lockedchatroom></app-lockedchatroom>
    <!-- <app-directchatroom></app-directchatroom> -->
  </mat-drawer-container>
</div>
