/* top bar */
.nav-trial-container{
  line-height: 30px;
}
.nav-trial-container a{
  display: block;
  font-size: 10px;
  line-height: 12px;
  font-weight: 700;
  color: #e26727;
  position: relative;
  top: -5px;
  cursor: pointer;
  width: 70px;
  white-space: normal;
  text-decoration: none;
}
.button_wrap{
  float: right;
  color: #e26727;
  width: 74px;
  height: 74px;
  text-align: center;
  position: relative;
  margin: 0 5px;
  background-color: antiquewhite;
}
.rectangular-btn{
  padding: 0 0px;
  width: 80px;
  background: rgba(226, 103, 39, 0.8)!important;
  color: #fff;
  border-radius: 0;
  margin: 0;
  border-left: 1px solid #eee;
}
.rectangular-btn::after{
  display: none;
}
.rectangular-btn a{
  color: #fff;
}
.dashboard-btn{
  background: #e26727!important;
}
.hamburgerHeader {
  color: #e26727;
}