<div class="login-container admin-dashboard">
    <mat-drawer-container class="example-container" autosize>
      <div class="navbar navbar-fixed-top navbar-inverse navbar-static-top" style="position:static;">
        <mat-drawer #drawer class="example-sidenav sidebar navbar-collapse" opened="true" mode="side" 
          style="position:fixed; left:0;">
          <a ui-sref="app.main" class="text-center" href="#">
            <span class="logo-mini">
                <img class="navbar-brand-logo" src="https://marketmastersacademy.echofin.co/dashboard/resources/images/logo.png" title="echofin">
                <img class="navbar-brand-logo-mini" src="https://marketmastersacademy.echofin.co/dashboard/resources/images/icon-white.png" title="echofin">
            </span>
        </a>
          <div id="team-wrapper" header-company-sidebar="" class="ng-isolate-scope" style="position:static; min-width: 300px; padding: 10px;margin-bottom: 4px;border: none;">
              <img class="sidebar-avatar" src="//cdn.echofin.co/avatar/b7e64405.png?t=1551496349357">
              <div class="teamName" title="MarketMastersAcademy">
                  <h5 class="ng-binding">MarketMastersAcademy</h5>
                  <span class="team-members ng-binding">b7e64405</span>
              </div>
            </div>
            <ul class="nav nav-sidebar">
              <li class="ng-scope selectedRoom">
                  <a style="cursor:pointer" class="flex-parent selectedRoom">
                      <i class="fa fa-dashboard fa-fw"></i>
                  <span class="room-name ng-binding">Dashboard</span>
                  </a>
              </li>
              <li  class="ng-scope">
                  <a  style="cursor:pointer" class="flex-parent inactive ">
                      <i class="fa fa-users fa-fw"></i>
                  <span class="ng-binding">Users</span>
                  </a>
              </li>
              <li ng-class="{active:vm.$state.includes('app.payments.*')}">
                  <a class="flex-parent inactive " ui-sref="app.payments.overview" href="#">
                      <i class="fa fa-check-square-o fa-fw"></i>
                      <span>Payments</span>
                  </a> 
              </li>
              <li ng-class="{active:vm.$state.includes('app.subscriptions.*')}">
                  <a class="flex-parent inactive " ui-sref="app.subscriptions.overview" href="#">
                      <i class="fa fa-money fa-fw"></i>
                      <span>Subscriptions</span>
                  </a>
              </li>
              <li ng-class="{active:vm.$state.includes('app.payouts.*')}">
                  <a class="flex-parent inactive " ui-sref="app.payouts.overview" href="#">
                      <i class="fa fa-bank fa-fw"></i>
                      <span>Payouts</span>
                  </a>
              </li>
              <li class="divider no-line"></li>
              <li ng-class="{active:vm.$state.includes('app.billing.*')}">
                  <a class="flex-parent inactive " ui-sref="app.billing.overview" href="#">
                      <i class="fa fa-credit-card fa-fw"></i>
                      <span>Billing Plans</span>
                  </a>
              </li>
              <li ng-class="{active:vm.$state.includes('app.coupons.*')}">
                  <a class="flex-parent inactive " ui-sref="app.coupons.overview" href="#!/coupons/">
                      <i class="fa fa-tags fa-fw"></i>
                      <span>Coupons</span>
                  </a>
              </li>
              <li class="divider no-line"></li>
              <li ng-class="{active:vm.$state.includes('app.chatrooms.*')}">
                  <a class="flex-parent inactive " ui-sref="app.chatrooms.overview" href="#!/chatrooms/">
                      <i class="fa fa-comments-o fa-fw"></i>
                      <span>Chatrooms</span>
                  </a>
              </li>
              <li ng-class="{active:vm.$state.includes('app.pages.*')}">
                  <a class="flex-parent inactive " ui-sref="app.pages.overview" href="#!/pages/">
                      <i class="fa fa-files-o fa-fw"></i>
                      <span>Services</span>
                  </a>
              </li>
              <li ng-class="{active:vm.$state.includes('app.widgets')}">
                  <a class="flex-parent inactive " ui-sref="app.widgets" href="#!/widgets">
                      <i class="fa fa-cubes fa-fw"></i>
                      <span>Widgets</span>
                  </a>
              </li>
              <li class="divider no-line"></li>
              <li ng-class="{active:vm.$state.includes('app.online')}">
                  <a class="flex-parent inactive " ui-sref="app.online" href="#!/online">
                      <i class="fa fa-podcast fa-fw"></i>
                      <span>Online Activity</span>
                  </a>
              </li>
              <li ng-class="{active:vm.$state.includes('app.compliance')}">
                  <a  class="flex-parent inactive " ui-sref="app.compliance.overview" href="#!/compliance/">
                      <i class="fa fa-balance-scale fa-fw"></i>
                      <span>Compliance</span>
                  </a>
              </li>
              <li class="divider no-line"></li>
              <li ng-class="{active:vm.$state.includes('app.api')}">
                  <a class="flex-parent inactive " ui-sref="app.api" href="#!/api">
                      <i class="fa fa-code fa-fw"></i>
                      <span>API
                          <small class="badge" style="font-size: .6rem;
                          padding: 2px 4px;
                          margin: 0 0 0 5px; 
                          background: #FFF;
                          border-radius: 3px;
                          color: #666;
                          line-height: 1rem;">BETA</small>
                      </span>
                  </a>
              </li>
              <li class="divider no-line"></li>
              <li>
                  <a  class="flex-parent inactive " href="#" target="_blank">
                      <i class="fa fa-youtube fa-fw"></i>
                      <span>Video Tutorials</span>
                  </a>
              </li>
              <li>
                  <a class="flex-parent inactive " href="" ng-click="vm.ViewTutorial()">
                      <i class="fa fa-graduation-cap fa-fw"></i>
                      <span>Guided Tour</span>
                  </a>
              </li>
            </ul>
        </mat-drawer>
        <div class="example-sidenav-content hidden-xs">
            <button class="hamburgerHeader hamburger hamburger-arrow-left sidebar-toggle" hamburger-drv="">
                <span class="icon"></span>
            </button>
        </div>
        <div class="roomHeader">
          <i class="fa" ng-class="{'roomLock': room.n_type==2 , 'fa-unlock': room.n_type==2}" aria-hidden="true"></i>
          <div header-nav-trial="" class="nav-trial-container">
            <div class="nav-trial-container-text ng-binding"></div>
          </div>
        </div>
        <div class="navbar-right navbar-custom-menu">
            <ul class="nav navbar-nav">
                <li ng-class="{active:vm.$state.includes('app.settings')}" class="">
                    <a ui-sref="app.settings" href="#">
                        <span class="fa fa-gears fa-fw"></span>
                    </a>
                </li>
                <li>
                    <a target="_blank" href="/">
                        <span class="fa fa-comments fa-fw"></span>
                    </a>
                </li>
                <li>
                    <a href="#" id="headwayapp">
                        <span class="fa fa-envelope-o fa-fw"></span>
                    <span id="HW_badge_cont" class="HW_visible"><span id="HW_badge" data-count-unseen="" class="HW_softHidden"></span></span></a>
                </li>
                <li class="dropdown"> 
                    <a>
                        <button mat-button [matMenuTriggerFor]="menu">puneetsethi25@gmail.com
                                <span class="caret"></span>
                        </button>
                        <mat-menu #menu="matMenu" xPosition="before">
                                <a class="profile-menu white" href="#" >Profile</a>
                                <li class="divider"></li>
                                <a class="profile-menu white" href="#">Sign Out</a>
                        </mat-menu>
                    </a>
                </li>
            </ul>
         </div>
      </div>
      <section class="content-header ng-scope">
            <h1>
                Dashboard
                <button type="button" class="btn btn-sm btn-link btn-no-shadow pull-right" ng-click="vm.LoadAll()">
                    <span class="fa fa-refresh fa-fw" ng-class="{'fa-spin':vm.loading}"></span>
                </button>
            </h1>
        </section>
        <section class="content">
            <div class="row">
                    <div class="col-md-4 col-lg-2 box-stats">
                            <div class="small-box">
                                <div class="icon">
                                    <i class="fa fa-users fa-fw"></i>
                                </div>
                                <div class="inner">
                                    <h3  class="ng-binding ng-scope" style="font-size: 65px; line-height: 77px; display: block;">3343</h3>
                                    <p>Total Registered</p>
                                </div>
                            </div>
                    </div>
                    <div class="col-md-4 col-lg-2 box-stats">
                            <div class="small-box bg-green" >
                                <div class="icon">
                                    <i class="fa fa-user"></i>
                                </div>
                                <div class="inner">
                                    <h3  class="ng-binding ng-scope" style="font-size: 65px; line-height: 77px; display: block;">0
                                        </h3>
                                    <p>New this month</p>
                                </div>
                            </div>
                    </div>
                    <div class="col-md-4 col-lg-2 box-stats">
                            <div class="small-box bg-yellow">
                                <div class="icon">
                                    <i class="fa fa-fire"></i>
                                </div>
                                <div class="inner">
                                    <h3  class="ng-binding ng-scope" style="font-size: 65px; line-height: 77px; display: block;">320</h3>
                                    <p>Total PremiumNew</p>
                                </div>
                            </div>
                    </div>
                    <div class="col-md-4 col-lg-2 box-stats">
                            <div class="small-box bg-teal" >
                                <div class="icon">
                                    <i class="fa fa-credit-card fa-fw"></i>
                                </div>
                                <div class="inner">
                                    <h3  class="ng-binding ng-scope" style="font-size: 65px; line-height: 77px; display: block;">$0</h3>
                                    <p>This Month Payments</p>
                                </div>
                            </div>
                    </div>
                    <div class="col-md-4 col-lg-2 box-stats">
                            <div class="small-box bg-maroon" >
                                <div class="icon">
                                    <i class="fa fa-credit-card fa-fw"></i>
                                </div>
                                <div class="inner">
                                    <h3  class="ng-binding ng-scope" style="font-size: 65px; line-height: 77px; display: block;">$0</h3>
                                    <p>Today Payments</p>
                                </div>
                            </div>
                    </div>
                    <div class="col-md-4 col-lg-2 box-stats">
                            <div class="small-box bg-purple">
                                <div class="icon">
                                    <i class="fa fa-commenting"></i>
                                </div>
                                <div class="inner">
                                    <h3  class="ng-binding ng-scope" style="font-size: 65px; line-height: 77px; display: block;">98</h3>
                                    <p>Online Users</p>
                                </div>
                            </div>
                    </div>
            </div>
            <div class="row"> 
                <div class="col-md-8" style="padding:0 15px;">
                        <div class="row">
                                <div class="col-md-12">
                                        <div class="line-graph" ng-controller="MyController">
                                            <div class="box">
                                                    <div class="box-header with-border">
                                                            <h3 class="box-title">
                                                                Registrations Overview
                                                            </h3>
                                                            <div class="box-tools pull-right">
                                                                <button type="button" class="btn btn-sm btn-link btn-no-shadow" ng-click="vm._isLine = !vm._isLine">
                                                                    <span ng-show="!vm._isLine">
                                                                        <span class="text-muted">
                                                                            <span class="fa fa-line-chart fa-fw"></span>Line</span>/
                                                                        <strong>
                                                                            <span class="fa fa-bar-chart fa-fw"></span>Bar</strong>
                                                                    </span>
                                                                    <span ng-show="vm._isLine" class="ng-hide">
                                                                        <strong>
                                                                            <span class="fa fa-line-chart fa-fw"></span>Line</strong>/
                                                                        <span class="text-muted">
                                                                            <span class="fa fa-bar-chart fa-fw"></span>Bar</span>
                                                                    </span>
                                                                </button>
                                                                <div class="dropdown-btn">
                                                                        <button mat-button [matMenuTriggerFor]="beforeMenu">Last 30 days <span class="caret"></span></button>
                                                                        <mat-menu #beforeMenu="matMenu" xPosition="before">
                                                                          <button class="white" mat-menu-item>Last 90 days</button>
                                                                          <button class="white" mat-menu-item>Last 60 days</button>
                                                                          <button class="white" mat-menu-item>Last 30 days</button>
                                                                          <button class="white" mat-menu-item>Last 15 days</button>
                                                                          <button class="white" mat-menu-item>Last 7 days</button>
                                                                        </mat-menu>
                                                                </div>
                                                                <button type="button" class="btn btn-sm btn-link btn-no-shadow" ng-click="vm.LoadRegistrations()">
                                                                    <span class="fa fa-refresh fa-fw" ng-class="{'fa-spin':vm.loading_statistics_registrations}"></span>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    <canvas class="chart chart-line" chart-data="data" chart-labels="labels" 
                                                      chart-series="series" chart-click="onClick" height="200"></canvas> 
                                            </div>
                                        </div>
                                </div>
                        </div>
                </div>
                <div class="col-md-4" style="padding:0 15px;">
                            <div class="col-md-12 users-box">
                                    <div class="box box-default ">
                                            <div class="box-header with-border">
                                                <h3 class="box-title">Latest Registrations</h3>
                                            </div>
                                            <div class="list-group">
                                                    <div class="list-group-item">
                                                        <div class="media">
                                                            <div class="media-left">
                                                                <img class="img-circle img-sm"   src="//cdn.echofin.co/avatars/5d053022.png">
                                                            </div>
                                                            <div class="media-body ng-binding">
                                                                <strong class="ng-binding">mohit-kumar</strong><br> 2019-07-25 16:01:17
                                                            </div>
                                                        </div>
                                                    </div> <div class="list-group-item">
                                                        <div class="media">
                                                            <div class="media-left">
                                                                <img class="img-circle img-sm"   src="//cdn.echofin.co/avatars/1b14b4b6.png">
                                                            </div>
                                                            <div class="media-body ng-binding">
                                                                <strong class="ng-binding">puneetsethi25</strong><br> 2019-07-18 13:45:01
                                                            </div>
                                                        </div>
                                                    </div> <div class="list-group-item">
                                                        <div class="media">
                                                            <div class="media-left">
                                                                <img class="img-circle img-sm"   src="//cdn.echofin.co/avatars/f47c2751.png">
                                                            </div>
                                                            <div class="media-body ng-binding">
                                                                <strong class="ng-binding">Domulo</strong><br> 2019-06-12 12:59:48
                                                            </div>
                                                        </div>
                                                    </div> <div class="list-group-item">
                                                        <div class="media">
                                                            <div class="media-left">
                                                                <img class="img-circle img-sm"   src="//cdn.echofin.co/avatars/39fad28a.png">
                                                            </div>
                                                            <div class="media-body ng-binding">
                                                                <strong class="ng-binding">Ricky</strong><br> 2019-05-21 14:34:21
                                                            </div>
                                                        </div>
                                                    </div> <div class="list-group-item">
                                                        <div class="media">
                                                            <div class="media-left">
                                                                <img class="img-circle img-sm"  src="//cdn.echofin.co/avatars/73d68540.png">
                                                            </div>
                                                            <div class="media-body ng-binding">
                                                                <strong class="ng-binding">sterrones</strong><br> 2019-05-21 11:13:52
                                                            </div>
                                                        </div>
                                                    </div> <div class="list-group-item">
                                                        <div class="media">
                                                            <div class="media-left">
                                                                <img class="img-circle img-sm"  src="//cdn.echofin.co/avatars/6ca0ba32.png">
                                                            </div>
                                                            <div class="media-body ng-binding">
                                                                <strong class="ng-binding">elturco34</strong><br> 2019-05-07 15:34:11
                                                            </div>
                                                        </div>
                                                    </div> <div class="list-group-item">
                                                        <div class="media">
                                                            <div class="media-left">
                                                                <img class="img-circle img-sm"  src="//cdn.echofin.co/avatars/f29fd757.png">
                                                            </div>
                                                            <div class="media-body">
                                                                <strong class="ng-binding">bkells06</strong><br> 2019-04-28 14:37:56
                                                            </div>
                                                        </div>
                                                    </div> <div class="list-group-item">
                                                        <div class="media">
                                                            <div class="media-left">
                                                                <img class="img-circle img-sm"  src="//cdn.echofin.co/avatars/d913dd34.png">
                                                            </div>
                                                            <div class="media-body ng-binding">
                                                                <strong class="ng-binding">Joshkido13349</strong><br> 2019-04-23 08:05:54
                                                            </div>
                                                        </div>
                                                    </div> <div class="list-group-item">
                                                        <div class="media">
                                                            <div class="media-left">
                                                                <img class="img-circle img-sm"  ng-src="//cdn.echofin.co/avatars/e4f49140.png" src="//cdn.echofin.co/avatars/e4f49140.png">
                                                            </div>
                                                            <div class="media-body ng-binding">
                                                                <strong class="ng-binding">Milordjuste</strong><br> 2019-04-22 00:32:44
                                                            </div>
                                                        </div>
                                                    </div> <div class="list-group-item">
                                                        <div class="media">
                                                            <div class="media-left">
                                                                <img class="img-circle img-sm"  src="//cdn.echofin.co/avatars/11b139bd.png">
                                                            </div>
                                                            <div class="media-body ng-binding">
                                                                <strong class="ng-binding">sebastienb23</strong><br> 2019-04-21 22:37:36
                                                            </div>
                                                        </div>
                                                    </div> 
                                                </div>
                                            <div class="box-footer clearfix">
                                                <a ui-sref="app.users.overview" class="btn btn-sm btn-link pull-right" href="#">
                                                    View All Users
                                                </a>
                                            </div>
                                        </div>
                            </div>
                </div>
            </div>
        </section>
    </mat-drawer-container>
  </div>
  