<div id="team-wrapper" header-company-sidebar="" style="position:static;">
  <img class="sidebar-avatar" src="assets/mini-logo.png" *ngIf="!adminImgPath">
  <img class="sidebar-avatar" src="{{adminImgPath}}" *ngIf="adminImgPath">
  <p class="teamName" title="MarketMastersAcademy">
    <strong class="ng-binding">MarketMastersAcademy</strong>
  </p>
  <mat-slide-toggle  class="theme" [(ngModel)]="darkTheme" (click)="onDarkTheme()" color="warn">
  </mat-slide-toggle>
</div>
<div class="topLeft sidebar-match">
  <div class="dropdown">
    <button class="dropdown-toggle" data-toggle="dropdown" [matMenuTriggerFor]="appMenu">
      <span class="glyphicon glyphicon-one-fine-dot sidebar-status-dot userStatus1" [ngClass]="{'userStatus3': status === 'away', 'userStatus4':status === 'busy' }"

        ></span>
      <img class="sidebar-avatar usr_img" *ngIf="!imgURL" src="assets/mini-logo.png">
      <img class="sidebar-avatar usr_img" *ngIf="imgURL" [src]="imgURL">
      <strong class="text-capitalize sidebar-username ng-binding">{{user.firstname}} {{user.lastname}}</strong>
      <span class="fa fa-angle-down"></span>
    </button>
    <!-- dropdown for user online status -->
    <mat-menu #appMenu="matMenu">
      <li mat-menu-item ><a  (click)="status = 'online'"><span
            class="glyphicon glyphicon-one-fine-dot userStatus1" style="padding:0 !important"></span> Online</a></li>
      <li mat-menu-item ><a  (click)="status = 'away'"><span
            class="glyphicon glyphicon-one-fine-dot userStatus3" style="padding:0 !important"></span> Away</a></li>
      <li mat-menu-item >
        <a  (click)="status = 'busy'"><span class="glyphicon glyphicon-one-fine-dot userStatus4" style="padding:0 !important"></span> Busy</a>
      </li>
      <li mat-menu-item role="separator" class="divider"></li>
      <li mat-menu-item><a (click)="openPreferencesDialog()">Preferences</a></li>
      <li mat-menu-item ng-show="isAdmin" class="ng-hide"><a target="_blank" href="/dashboard/">Dashboard</a></li>
      <li ng-if="isFootnoteVisible">
        <a href="#">Download App
          <span class="fa fa-windows fa-fw"></span>
        </a>
      </li>
      <li mat-menu-item role="separator" class="divider"></li>
      <li mat-menu-item (click)="logout()"><a>Logout</a></li>
    </mat-menu>
  </div>
</div>
<!-- list -->
<ul class="nav nav-sidebar">
  <li class="rooms-sidebar-header">ROOMS</li>

  <li class=" rooms_list" *ngFor="let room of rooms; let index= index">
    <!-- (click)="room.status == 'private' ? openAddFileDialog(room) : selectRoom(room)" -->
    <a (click)="clickRoom(room)" class="flex-parent locked" [class.active]="index == 0" style="cursor: pointer">
      <span class="flex-child">
        <i class="roomIcon fa fa-fw fa-hashtag" aria-hidden="true"></i>
        <span class="text-capitalize room-name">{{room.title}}</span>
      </span>
      <span class="flex-child-icons">
        <i style="font-size:12px;" [ngClass]="room.status === 'private' ? 'fa-lock' : 'fa-globe'"
          class="roomIcon fa fa-fw" aria-hidden="true"></i>
        <i style="font-size:12px;" class="roomIcon fa fa-eye" aria-hidden="true"></i>
      </span>
    </a>
  </li>
  <li *ngIf="rooms.length == 0">
    <a class="flex-parent locked" style="cursor: pointer">
      <span class="flex-child">
        <i class="roomIcon fa fa-fw fa-hashtag" aria-hidden="true"></i>
        <span class="text-capitalize room-name ng-binding">No Room available</span>
      </span>
    </a>
  </li>
  <li class="messages-sidebar-header ng-scope" ng-if="(chatRooms|filter:{n_type:3}).length">SERVICES</li>
  <li ng-repeat="chatRoom in chatRooms | filter:{n_type:3}" class="ng-scope">
    <a ng-click="changeRoom(chatRoom);" style="cursor:pointer" class="service-item flex-parent">
      <span class="flex-child">
        <i class="roomIcon fa fa-fw fa-rss" aria-hidden="true"></i>
        <span class="room-name ng-binding" style="max-width: 157px;">Market Mastermind</span>
      </span>
      <span class="flex-child-icons">
      </span>
      <span class="flex-child-actions">
      </span>
    </a>
  </li>
  <li ng-repeat="chatRoom in chatRooms | filter:{n_type:3}" class="ng-scope">
    <a ng-click="changeRoom(chatRoom);" style="cursor:pointer" class="service-item flex-parent">
      <span class="flex-child">
        <i class="roomIcon fa fa-fw fa-video-camera" aria-hidden="true"></i>
        <span class="room-name ng-binding" style="max-width: 157px;">7 Day Intense Forex Training</span>
      </span>
      <span class="flex-child-icons">
      </span>
      <span class="flex-child-actions">
      </span>
    </a>
  </li>
  <li ng-repeat="chatRoom in chatRooms | filter:{n_type:3}" class="ng-scope">
    <a ng-click="changeRoom(chatRoom);" style="cursor:pointer" class="service-item flex-parent">
      <span class="flex-child">
        <i class="roomIcon fa fa-fw fa-dollar" aria-hidden="true"></i>
        <span class="room-name ng-binding" style="max-width: 157px;">FREE Strategy Session</span>
      </span>
      <span class="flex-child-icons">
      </span>
      <span class="flex-child-actions">
      </span>
    </a>
  </li>
  <div selected="roomName" >
    <li class="nav-item-header rooms-sidebar-header">
      WEBTRADER
      <button class="btn btn-link pull-right" style="padding:0;" (click)="onManageBrockerDialog()">
        <i class="roomIcon fa fa-fw fa-plus" aria-hidden="true"></i>
      </button>
    </li>
    <li ng-if="!myBrokers.length" class="nav-item-empty">
      No brokers were added
    </li>
  </div>
  <li class="messages-sidebar-header rooms-sidebar-header">DIRECT MESSAGES</li>
  <li class="directChat ng-scope">
    <a href="#" >
      <span class="material-icons userStatus1" ng-class="'userStatus'+user.status">person_outline</span> RiskyRicky
    </a>
  </li>
  <div id="dvFootnote" class="ng-scope">
    <div class="footer-invite"><a target="" class="btn btn-primary btn-sm" (click)="onInviteFriendDialog()">Invite
        your friends</a></div>
  </div>
</ul>