<div id="team-wrapper" header-company-sidebar="" class="ng-isolate-scope" style="position:static;">
  <img class="sidebar-avatar" ng-src="//cdn.echofin.co/avatar/b7e64405.png?t=1551496349357"
    src="//cdn.echofin.co/avatar/b7e64405.png?t=1551496349357">
  <p class="teamName" title="MarketMastersAcademy">
    <strong class="ng-binding">MarketMastersAcademy</strong>
    <br><span class="team-members ng-binding">b7e64405</span>
  </p>
</div>
<div class="topLeft sidebar-match">
  <div class="dropdown">
    <button class="dropdown-toggle" data-toggle="dropdown" [matMenuTriggerFor]="appMenu">
      <span class="glyphicon glyphicon-one-fine-dot sidebar-status-dot userStatus1"
        ng-class="'userStatus' + currentUser.status"></span>
      <img class="sidebar-avatar" ng-src="//cdn.echofin.co/avatars/5d053022.png"
        src="//cdn.echofin.co/avatars/5d053022.png">
      <strong class="sidebar-username ng-binding">{{user.firstname}}</strong>
      <span class="fa fa-angle-down"></span>
    </button>
    <!-- dropdown for user online status -->
    <mat-menu #appMenu="matMenu">
      <li mat-menu-item><a href="#Traders Lounge"><span class="glyphicon glyphicon-one-fine-dot userStatus1"
            style="padding:0 !important"></span> Online</a></li>
      <li mat-menu-item><a href="#Traders Lounge" ng-click="ChangeStatus(3);"><span
            class="glyphicon glyphicon-one-fine-dot userStatus3" style="padding:0 !important"></span> Away</a></li>
      <li mat-menu-item><a href="#Traders Lounge" ng-click="ChangeStatus(4);"><span
            class="glyphicon glyphicon-one-fine-dot userStatus4" style="padding:0 !important"></span> Busy</a></li>
      <li mat-menu-item role="separator" class="divider"></li>
      <li mat-menu-item><a href="#Traders Lounge" ng-click="LoadSettings()">Preferences</a></li>
      <li mat-menu-item ng-show="isAdmin" class="ng-hide"><a target="_blank" href="/dashboard/">Dashboard</a></li>
      <li ng-if="isFootnoteVisible" class="ng-scope">
        <a href="#">Download App
          <span class="fa fa-windows fa-fw"></span>
        </a>
      </li>
      <li mat-menu-item role="separator" class="divider"></li>
      <li mat-menu-item (click)="logout()"><a>Logout</a></li>
    </mat-menu>
  </div>
</div>
<!-- list -->
<ul class="nav nav-sidebar">
  <li class="rooms-sidebar-header">ROOMS</li>

  <li class="ng-scope" *ngFor="let room of rooms">
    <a (click)="!room.active ? openAddFileDialog() : ''" [routerLink]="['/{room.roomTitle}']" routerLinkActive="selectedRoom" href="#" class="flex-parent locked">
      <span class="flex-child">
        <i class="roomIcon fa fa-fw fa-hashtag" aria-hidden="true"></i>
        <span class="room-name ng-binding">{{room.roomTitle}}</span>
      </span>
      <span class="flex-child-icons">
        <i style="font-size:12px;" class="roomIcon fa fa-fw ng-scope fa-lock" aria-hidden="true"></i>
        <i style="font-size:12px;" class="roomIcon fa fa-eye ng-scope" aria-hidden="true"></i>
      </span>
    </a>

  </li>


  <!-- <li class="ng-scope">
    <a [routerLink]="['/dashboard']" routerLinkActive="selectedRoom" href="#" (click)="isOn= false" class="flex-parent">
      <span class="flex-child">
        <i class="roomIcon fa fa-fw fa-hashtag" aria-hidden="true"></i>
        <span class="room-name ng-binding">Traders Lounge</span>
      </span>
      <span class="flex-child-icons">
        <i style="font-size:12px;" class="roomIcon fa fa-fw ng-scope fa-unlock" aria-hidden="true"></i>
        <i style="font-size:12px;" class="roomIcon fa fa-eye ng-scope" aria-hidden="true"></i>
      </span>
    </a>
  </li>
  <li class="ng-scope">
    <a href="#" class="flex-parent locked">
      <span class="flex-child">
        <i class="roomIcon fa fa-fw fa-hashtag" aria-hidden="true"></i>
        <span class="room-name ng-binding">On Point FX Signals (USA)</span>
      </span>
      <span class="flex-child-icons">
        <i style="font-size:12px;" class="roomIcon fa fa-fw ng-scope fa-lock" aria-hidden="true"></i>
        <i style="font-size:12px;" class="roomIcon fa fa-eye ng-scope" aria-hidden="true"></i>
      </span>
    </a>
  </li>
  <li class="ng-scope">
    <a href="#" class="flex-parent locked">
      <span class="flex-child">
        <i class="roomIcon fa fa-fw fa-hashtag" aria-hidden="true"></i>
        <span class="room-name ng-binding">Traders Lounge</span>
      </span>
      <span class="flex-child-icons">
        <i style="font-size:12px;" class="roomIcon fa fa-fw ng-scope fa-lock" aria-hidden="true"></i>
        <i style="font-size:12px;" class="roomIcon fa fa-eye ng-scope" aria-hidden="true"></i>
      </span>
    </a>
  </li>
  <li class="ng-scope">
    <a href="#" class="flex-parent locked">
      <span class="flex-child">
        <i class="roomIcon fa fa-fw fa-hashtag" aria-hidden="true"></i>
        <span class="room-name ng-binding">On Point FX Signals (USA)</span>
      </span>
      <span class="flex-child-icons">
        <i style="font-size:12px;" class="roomIcon fa fa-fw ng-scope fa-lock" aria-hidden="true"></i>
        <i style="font-size:12px;" class="roomIcon fa fa-eye ng-scope" aria-hidden="true"></i>
      </span>
    </a>
  </li>
  <li class="ng-scope">
    <a href="#" class="flex-parent locked">
      <span class="flex-child">
        <i class="roomIcon fa fa-fw fa-hashtag" aria-hidden="true"></i>
        <span class="room-name ng-binding">The Golden Circle</span>
      </span>
      <span class="flex-child-icons">
        <i style="font-size:12px;" class="roomIcon fa fa-fw ng-scope fa-lock" aria-hidden="true"></i>
      </span>
    </a>
  </li>
  <li class="ng-scope">
    <a href="#" class="flex-parent locked">
      <span class="flex-child">
        <i class="roomIcon fa fa-fw fa-hashtag" aria-hidden="true"></i>
        <span class="room-name ng-binding">On Point FX Signals (USA)</span>
      </span>
      <span class="flex-child-icons">
        <i style="font-size:12px;" class="roomIcon fa fa-fw ng-scope fa-lock" aria-hidden="true"></i>
        <i style="font-size:12px;" class="roomIcon fa fa-eye ng-scope" aria-hidden="true"></i>
      </span>
    </a>
  </li>
  <li class="ng-scope">
    <a href="#" class="flex-parent locked">
      <span class="flex-child">
        <i class="roomIcon fa fa-fw fa-hashtag" aria-hidden="true"></i>
        <span class="room-name ng-binding">The Golden Circle</span>
      </span>
      <span class="flex-child-icons">
        <i style="font-size:12px;" class="roomIcon fa fa-fw ng-scope fa-lock" aria-hidden="true"></i>
      </span>
    </a>
  </li>
  <li class="ng-scope">
    <a href="#" class="flex-parent locked">
      <span class="flex-child">
        <i class="roomIcon fa fa-fw fa-hashtag" aria-hidden="true"></i>
        <span class="room-name ng-binding">On Point FX Signals (USA)</span>
      </span>
      <span class="flex-child-icons">
        <i style="font-size:12px;" class="roomIcon fa fa-fw ng-scope fa-unlock" aria-hidden="true"></i>
        <i style="font-size:12px;" class="roomIcon fa fa-eye ng-scope" aria-hidden="true"></i>
      </span>
    </a>
  </li> -->


  <li class="messages-sidebar-header ng-scope" ng-if="(chatRooms|filter:{n_type:3}).length">SERVICES</li>
  <li ng-repeat="chatRoom in chatRooms | filter:{n_type:3}" class="ng-scope">
    <a ng-click="changeRoom(chatRoom);" style="cursor:pointer" class="service-item flex-parent">
      <span class="flex-child">
        <i class="roomIcon fa fa-fw fa-rss" aria-hidden="true"></i>
        <span class="room-name ng-binding" style="max-width: 157px;">Market Mastermind</span>
      </span>
      <span class="flex-child-icons">
      </span>
      <span class="flex-child-actions">
      </span>
    </a>
  </li>
  <li ng-repeat="chatRoom in chatRooms | filter:{n_type:3}" class="ng-scope">
    <a ng-click="changeRoom(chatRoom);" style="cursor:pointer" class="service-item flex-parent">
      <span class="flex-child">
        <i class="roomIcon fa fa-fw fa-video-camera" aria-hidden="true"></i>
        <span class="room-name ng-binding" style="max-width: 157px;">7 Day Intense Forex Training</span>
      </span>
      <span class="flex-child-icons">
      </span>
      <span class="flex-child-actions">
      </span>
    </a>
  </li>
  <li ng-repeat="chatRoom in chatRooms | filter:{n_type:3}" class="ng-scope">
    <a ng-click="changeRoom(chatRoom);" style="cursor:pointer" class="service-item flex-parent">
      <span class="flex-child">
        <i class="roomIcon fa fa-fw fa-dollar" aria-hidden="true"></i>
        <span class="room-name ng-binding" style="max-width: 157px;">FREE Strategy Session</span>
      </span>
      <span class="flex-child-icons">
      </span>
      <span class="flex-child-actions">
      </span>
    </a>
  </li>
  <div selected="roomName" class="ng-scope ng-isolate-scope">
    <li class="nav-item-header rooms-sidebar-header">
      WEBTRADER
      <button class="btn btn-link pull-right" style="padding:0;">
        <i class="roomIcon fa fa-fw fa-plus" aria-hidden="true"></i>
      </button>
    </li>
    <li ng-if="!myBrokers.length" class="nav-item-empty ng-scope">
      No brokers were added
    </li>
  </div>
  <li class="messages-sidebar-header rooms-sidebar-header">DIRECT MESSAGES</li>
  <li class="directChat ng-scope">
    <a href="#" class="ng-binding">
      <span class="material-icons userStatus1" ng-class="'userStatus'+user.status">person_outline</span> RiskyRicky
    </a>
  </li>
  <div id="dvFootnote" class="ng-scope">
    <div class="footer-invite ng-isolate-scope"><a href="" target="" class="btn btn-primary btn-sm ng-binding">Invite
        your friends</a></div>
  </div>
</ul>
