/* preferences dialog */
mat-form-field{
  width: 100%;
}
.modal-footer{
  border-top: 1px solid #ddd;
}
mat-checkbox{
  width: 100%;
  display: block;
}
.rooms-overflow {
  padding: 0px 30px;
    height: 196px;
    overflow-y: auto;
    margin: 10px 0;
}
.blockandmute-body {
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px 0;
}
.blockandmute-body button{
  color: #fff!important;;
}
.blockandmute-body .label{
  margin-right: 5px;
}
.empty-msg{
  padding: 5px 0 15px;
  text-align: left;
  font-size: 1.1rem;
  color: #666;
}
.form-group label {
  font-weight: bold;
}
.blockandmute-title{
 font-weight: bold;
}
.preference-container .active{
  border-left: 2px solid #0C2124!important;
  background-color: #e26727!important;
  color: #fff!important;
}
.preference-container .content{
  background: #fff;
  padding: 10px!important;
  border-top: 1px solid #ddd;
}
.preference-container > .row{
  display: flex;
}
.preference-container > .row .col-md-3{
  flex: auto 0;
  background: #eee;
}
.preference-container > .row .col-md-9{
  flex: auto 0;
}