<div class="leftnav">
        <button class="hidden-xs header-button ng-scope"  >
            <span class="icon fa fa-bar-chart"></span><br>
            <span class="label ng-binding">CHARTS</span>
            </button>
            <button class="hidden-xs header-button ng-scope"  >
            <span class="icon fa fa-clock-o"></span><br>
            <span class="label ng-binding">MARKET HOURS</span>
            </button> <button class="hidden-xs header-button ng-scope">
            <span class="icon fa fa-thermometer-full"></span><br>
            <span class="label ng-binding">FX HEATMAP</span>
            </button>
             <button class="hidden-xs header-button ng-scope">
            <span class="icon fa fa-bolt"></span><br>
            <span class="label ng-binding">DATAFLASH</span>
            </button>
            <button class="hidden-xs header-button ng-scope">
                <span class="icon fa fa-address-book-o"></span><br>
                 <span class="label ng-binding">DIRECTORY</span>
            </button> 
            <div class="example-sidenav-content widget-btn side-tp ">
                    <button class="hamburgerHeader header-button hamburger hamburger-arrow-left " hamburger-drv="" mat-button (click)="drawer1.toggle()">
                    <span class="icon material-icons ng-binding">apps</span><br>
                    <span class="label ng-binding">WIDGETS</span>
                    </button>
            </div>
    </div>