<section class="admin-marketing ">
    <button class="btn btn-blue pull-right new_marketing">
        <span class="fa fa-plus fa-fw"></span>New Marketing
    </button>
</section>
<section class="admin-marketing pt-70">
    <h1 class="pull-left">
        Marketing
    </h1>
    <mat-form-field class="searchbar_marketing pull-right">
        <input matInput placeholder="Search">
    </mat-form-field>
</section>

<section class="admin-marketing pos-rel" style="clear: both;">
    <mat-tab-group animationDuration="0ms">
        <mat-tab>
            <ng-template mat-tab-label>
                All
            </ng-template>
            <div  class="empty_data"> No data available </div>
            <!-- <div class="row">
                <div class="col-md-12 p-10">
                    <a mat-icon-button>
                        <i class="fa fa-envelope"></i>
                    </a>
                    <div class="name_and_desc">
                        <h3>Live Analysis</h3>
                        <p>Sent May 05, 2020 01:44PM</p>
                    </div>
                    <div class="toolbar-spacer"></div>
                    <div class="stats">
                        <h3>20,017</h3>
                        <p>Sends</p>
                    </div>
                    <div class="stats">
                        <h3>320,017</h3>
                        <p>Sends</p>
                    </div>
                    <div class="stats">
                        <h3>1%</h3>
                        <p>Clicked</p>
                    </div>
                </div>
                <mat-divider class="wrap-div"></mat-divider>
                <div class="col-md-12 p-10">
                    <a mat-icon-button>
                        <i class="fa fa-paper-plane"></i>
                    </a>
                    <div class="name_and_desc">
                        <h3>Live Analysis</h3>
                        <p>Sent May 05, 2020 01:44PM</p>
                    </div>
                    <div class="toolbar-spacer"></div>
                    <div class="stats">
                        <h3>20,017</h3>
                        <p>Sends</p>
                    </div>
                    <div class="stats">
                        <h3>320,017</h3>
                        <p>Sends</p>
                    </div>
                    <div class="stats">
                        <h3>1%</h3>
                        <p>Clicked</p>
                    </div>
                </div>
                <mat-divider class="wrap-div"></mat-divider>
                <div class="col-md-12 p-10">
                    <a mat-icon-button>
                        <i class="fa fa-refresh"></i>
                    </a>
                    <div class="name_and_desc">
                        <h3>UPSELL - On Point Crypto Signal</h3>
                        <p>Sent May 05, 2020 01:44PM</p>
                    </div>
                    <div class="toolbar-spacer"></div>
                    <div class="stats">
                        <h3>20,017</h3>
                        <p>Sends</p>
                    </div>
                    <div class="stats">
                        <h3>320,017</h3>
                        <p>Sends</p>
                    </div>
                    <div class="stats">
                        <h3>1%</h3>
                        <p>Clicked</p>
                    </div>
                </div>
                <mat-divider class="wrap-div"></mat-divider>
                <div class="col-md-12 p-10">
                    <a mat-icon-button>
                        <i class="fa fa-paper-plane"></i>
                    </a>
                    <div class="name_and_desc">
                        <h3>Live Analysis</h3>
                        <p>Sent May 05, 2020 01:44PM</p>
                    </div>
                    <div class="toolbar-spacer"></div>
                    <div class="stats">
                        <h3>20,017</h3>
                        <p>Sends</p>
                    </div>
                    <div class="stats">
                        <h3>320,017</h3>
                        <p>Sends</p>
                    </div>
                    <div class="stats">
                        <h3>1%</h3>
                        <p>Clicked</p>
                    </div>
                </div>
            </div> -->
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                Draft
            </ng-template>
            <div class="row">
                <div  class="empty_data"> No data available </div>
                <!-- <div class="col-md-8">
                </div>
                <div class="col-md-4">
                </div> -->
            </div>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                Scheduled
            </ng-template>
            <div class="row">
                <div  class="empty_data"> No data available </div>
                <!-- <div class="col-md-8">
                </div>
                <div class="col-md-4">
                </div> -->
            </div>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                Sent
            </ng-template>
            <div class="row">
                <div  class="empty_data"> No data available </div>
                <!-- <div class="col-md-8">
                </div>
                <div class="col-md-4">
                </div> -->
            </div>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                Sequence
            </ng-template>
            <div class="row">
                <div  class="empty_data"> No data available </div>
                <!-- <div class="col-md-8">
                </div>
                <div class="col-md-4">
                </div> -->
            </div>
        </mat-tab>
    </mat-tab-group>
</section>