<!-- <div class="login-container admin-dashboard">
  <mat-drawer-container class="example-container" autosize>
    <div class="navbar navbar-fixed-top navbar-inverse navbar-static-top" style="position:static;">
      <mat-drawer #drawer7 class="example-sidenav sidebar navbar-collapse" opened="true" mode="side"
        style="position:fixed; left:0;">
        <app-admin-sidebar></app-admin-sidebar>
      </mat-drawer>
      <div class="example-sidenav-content">
        <button class="hamburgerHeader hamburger hamburger-arrow-left sidebar-toggle" hamburger-drv=""
          (click)="drawer7.toggle();">
          <span class="icon"></span>
        </button>
      </div>
      <div class="roomHeader">
        <i class="fa" ng-class="{'roomLock': room.n_type==2 , 'fa-unlock': room.n_type==2}" aria-hidden="true"></i>
        <div header-nav-trial="" class="nav-trial-container">
          <div class="nav-trial-container-text ng-binding"></div>
        </div>
      </div>
      <div class="navbar-right navbar-custom-menu">
        <ul class="nav navbar-nav">
          <li class="settings-menu">
            <a [routerLink]="['/adminsettings']" routerLinkActive="selectedRoom">
              <span class="fa fa-gears fa-fw"></span>
            </a>
          </li>
          <li>
            <a [routerLink]="['/dashboard']" target="_blank" href="/">
              <span class="fa fa-comments fa-fw"></span>
            </a>
          </li>
          <li>
            <a [matMenuTriggerFor]="notificationMenu">
              <span class="fa fa-envelope-o fa-fw"></span>
            </a>
            <mat-menu #notificationMenu="matMenu" class="notificationMenu">
              <h3 class="mat-h4">Latest Changes</h3>
              <mat-divider></mat-divider>
              <button mat-menu-item>
                <span>new</span>
                <a><b>Echofin v2</b></a>
                The new Echofin platform has been released. Get all the details here: https://www.echofin.com/
              </button>
              <button mat-menu-item>
                <span>new</span>
                <a><b>Zoom widget integration</b></a>
                A new widget has been added that allows your team members to watch your Zoom broadcast within...
              </button>
              <button mat-menu-item>
                <span>new</span>
                <a><b>Dashboard\Users</b></a>
                Added a Subscriptions tab on the details panel.
              </button>
              <button mat-menu-item>
                <span>new</span>
                <a><b>Email</b></a>
                All email billing receipts will now include a reply-to which can be set within the...
              </button>
              <button mat-menu-item>
                <span>new</span>
                <a><b>API</b></a>
                The initial version of the Echofin API has been released. For more details please check the API...
              </button>
            </mat-menu>
          </li>
          <li class="dropdown">
            <a>
              <button mat-button [matMenuTriggerFor]="menu">puneetsethi25@gmail.com
                <span class="caret"></span>
              </button>
              <mat-menu #menu="matMenu" xPosition="before">
                <a class="profile-menu white" href="#">Profile</a>
          <li class="divider"></li>
          <a class="profile-menu white" href="#">Sign Out</a>
          </mat-menu>
          </a>
          </li>
        </ul>
      </div>
    </div> -->
    <section class="content-header">
      <h1>
        Offers
      </h1>
    </section>
    <section class="content admin-user">
      <div class="toolbox">
        <button class="btn btn-blue" (click)="openAddFileDialog()">
          <span class="fa fa-plus"></span> Add New Offer
        </button>
        <button class="btn btn-default" (click)="offersExporter.exportTable('xlsx')">
          <span class="fa fa-download "></span> Export
        </button>
        <div class="pull-right">
          <button class="btn btn-default" (click)="onActiveSearch()">
            <span class="fa fa-search"></span> Search
          </button>
          <button class="btn btn-default" (click)="onRefresh()">
            <span class="fa fa-refresh fa-fw"></span>
          </button>
        </div>
      </div>
      <div class="mat-elevation-z8 box box-default">
        <table class="searchTable" mat-table [dataSource]="dataSource" matTableExporter
          [ngClass]="{'ActiveSpinner': showSpinner == true}" #offersExporter="matTableExporter" matSort>
          <!-- ID Column -->
          <ng-container matColumnDef="username">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Username
            </th>
            <td mat-cell *matCellDef="let row"> {{row.username}} </td>
          </ng-container>
          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Email
            </th>
            <td mat-cell *matCellDef="let row"> {{row.email}} </td>
          </ng-container>
          <!-- Color Column -->
          <ng-container matColumnDef="plan">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Plan
            </th>
            <td mat-cell *matCellDef="let row"> {{row.plan}} </td>
          </ng-container>
          <!-- Color Column -->
          <ng-container matColumnDef="startt">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Start Trial </th>
            <td mat-cell *matCellDef="let row"> {{row.startt}} </td>
          </ng-container>
          <!-- Color Column -->
          <ng-container matColumnDef="endt">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> End Trial </th>
            <td mat-cell *matCellDef="let row"> {{row.endt}} </td>
          </ng-container>
          <!-- Color Column -->
          <ng-container matColumnDef="no">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> No CC
            </th>
            <td mat-cell *matCellDef="let row"> {{row.no}} </td>
          </ng-container>
          <!-- Color Column -->
          <ng-container matColumnDef="start">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Start </th>
            <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.start}} </td>
          </ng-container>
          <!-- Color Column -->
          <ng-container matColumnDef="end">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> End</th>
            <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.end}} </td>
          </ng-container>
          <!-- Color Column -->
          <ng-container matColumnDef="canceled">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Canceled
            </th>
            <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.canceled}} </td>
          </ng-container>
          <!-- Color Column -->
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
            <td mat-cell *matCellDef="let row">
              <div class="ui-grid-cell-contents">
                <button class="btn btn-xs btn-default"><i class="fa fa-pencil"></i> Manage</button>
              </div>
            </td>
          </ng-container>


          <!-- username search Column -->
          <ng-container matColumnDef="usernameSearch">
            <th mat-header-cell *matHeaderCellDef>
              <mat-form-field *ngIf="searchActive">
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Username">
              </mat-form-field>
            </th>
          </ng-container>
          <!-- email search Column  -->
          <ng-container matColumnDef="emailSearch">
            <th mat-header-cell *matHeaderCellDef>
              <mat-form-field *ngIf="searchActive">
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Email">
              </mat-form-field>
            </th>
          </ng-container>
          <!--type search Column -->
          <ng-container matColumnDef="planSearch">
            <th mat-header-cell *matHeaderCellDef>
              <mat-form-field *ngIf="searchActive">
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Plan">
              </mat-form-field>
            </th>
          </ng-container>
          <!--empty search Column -->
          <ng-container matColumnDef="empty1">
            <th mat-header-cell *matHeaderCellDef> </th>
          </ng-container>
          <!--empty search Column -->
          <ng-container matColumnDef="empty2">
            <th mat-header-cell *matHeaderCellDef> </th>
          </ng-container>
          <!-- noCCSearch search Column  -->
          <ng-container matColumnDef="noCCSearch">
            <th mat-header-cell *matHeaderCellDef>
              <mat-form-field *ngIf="searchActive">
                <mat-select (keyup)="applyFilter($event.target.value)" placeholder="Select No CC">
                  <mat-option value="YES">YES</mat-option>
                  <mat-option value="NO">NO</mat-option>
                </mat-select>
              </mat-form-field>
            </th>
          </ng-container>
          <!--empty search Column -->
          <ng-container matColumnDef="empty3">
            <th mat-header-cell *matHeaderCellDef> </th>
          </ng-container>
          <!--empty search Column -->
          <ng-container matColumnDef="empty4">
            <th mat-header-cell *matHeaderCellDef> </th>
          </ng-container>
          <!-- canceledSearch search Column  -->
          <ng-container matColumnDef="canceledSearch">
            <th mat-header-cell *matHeaderCellDef>
              <mat-form-field *ngIf="searchActive">
                <mat-select (keyup)="applyFilter($event.target.value)" placeholder="Canceled">
                  <mat-option value="YES">YES</mat-option>
                  <mat-option value="NO">NO</mat-option>
                </mat-select>
              </mat-form-field>
            </th>
          </ng-container>
          <!--empty search Column -->
          <ng-container matColumnDef="empty5">
            <th mat-header-cell *matHeaderCellDef> </th>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns" [ngClass]="{'activeSearchHeader': searchActive == true}"></tr>
          <tr mat-header-row
            *matHeaderRowDef="['usernameSearch', 'emailSearch', 'planSearch', 'empty1','empty2','noCCSearch','empty3','empty4', 'canceledSearch', 'empty5']"
            [ngClass]="{'activeRow': searchActive == true}" style="display: none;">
          </tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;">
          </tr>
        </table>
        <mat-paginator [pageSizeOptions]="[14, 30, 50, 100]"></mat-paginator>
        <mat-progress-spinner [mode]="mode">
        </mat-progress-spinner>
      </div>
    </section>
  <!-- </mat-drawer-container>
</div> -->