<div class="login-container admin-dashboard">
    <mat-drawer-container class="example-container" autosize>
      <div class="navbar navbar-fixed-top navbar-inverse navbar-static-top" style="position:static;">
        <mat-drawer #drawer7 class="example-sidenav sidebar navbar-collapse" opened="true" mode="side" 
          style="position:fixed; left:0;">
            <app-admin-sidebar></app-admin-sidebar>
        </mat-drawer>
        <div class="example-sidenav-content">
            <button class="hamburgerHeader hamburger hamburger-arrow-left sidebar-toggle" hamburger-drv="" (click)="drawer7.toggle();">
                <span class="icon"></span>
            </button>
        </div>
        <div class="roomHeader">
          <i class="fa" ng-class="{'roomLock': room.n_type==2 , 'fa-unlock': room.n_type==2}" aria-hidden="true"></i>
          <div header-nav-trial="" class="nav-trial-container">
            <div class="nav-trial-container-text ng-binding"></div>
          </div>
        </div>
        <div class="navbar-right navbar-custom-menu">
            <ul class="nav navbar-nav">
                <li class="settings-menu">
                    <a [routerLink]="['/adminsettings']" routerLinkActive="selectedRoom">
                        <span class="fa fa-gears fa-fw"></span>
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/dashboard']" target="_blank" href="/">
                        <span class="fa fa-comments fa-fw"></span>
                    </a>
                </li>
                <li>
                    <a href="#" id="headwayapp">
                        <span class="fa fa-envelope-o fa-fw"></span>
                    <span id="HW_badge_cont" class="HW_visible"><span id="HW_badge" data-count-unseen="" class="HW_softHidden"></span></span></a>
                </li>
                <li class="dropdown">
                    <a>
                        <button mat-button [matMenuTriggerFor]="menu">puneetsethi25@gmail.com
                                <span class="caret"></span>
                        </button>
                        <mat-menu #menu="matMenu" xPosition="before">
                                <a class="profile-menu white" href="#" >Profile</a>
                                <li class="divider"></li>
                                <a class="profile-menu white" href="#">Sign Out</a>
                        </mat-menu>
                    </a>
                </li>
            </ul>
         </div>
      </div>
      <section class="content-header">
          <h1>
              Offers
          </h1>
      </section>
      <section class="content admin-user">
          <div class="toolbox">
              <button class="btn btn-blue" (click)="openAddFileDialog()">
                  <span class="fa fa-plus"></span> Add New Offer
              </button>
              <button class="btn btn-default" (click)="offersExporter.exportTable('xlsx')">
                <span class="fa fa-download "></span>  Export
             </button>
              <div class="pull-right">
                  <button class="btn btn-default" (click)="onActiveFilter()">
                      <span class="fa fa-filter"></span> Filters
                  </button>
                  <button class="btn btn-default" (click)="onRefresh()">
                      <span class="fa fa-refresh fa-fw"></span>
                  </button>
              </div>
          </div>
          <mat-form-field *ngIf="filterActive">
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
          </mat-form-field>
          <div class="mat-elevation-z8 box box-default">
            <table mat-table [dataSource]="dataSource" matTableExporter
            [ngClass]="{'ActiveSpinner': showSpinner == true}"
            #offersExporter="matTableExporter" matSort>
              <!-- ID Column -->
              <ng-container matColumnDef="username">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Username </th>
                <td mat-cell *matCellDef="let row"> {{row.username}} </td>
              </ng-container>
              <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
                <td mat-cell *matCellDef="let row"> {{row.email}} </td>
              </ng-container>
              <!-- Color Column -->
              <ng-container matColumnDef="plan">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Plan </th>
                <td mat-cell *matCellDef="let row"> {{row.plan}} </td>
              </ng-container>
                <!-- Color Column -->
                <ng-container matColumnDef="startt">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Start Trial </th>
                  <td mat-cell *matCellDef="let row"> {{row.startt}} </td>
                </ng-container>
                 <!-- Color Column -->
                 <ng-container matColumnDef="endt">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> End Trial </th>
                    <td mat-cell *matCellDef="let row"> {{row.endt}} </td>
                  </ng-container>
                <!-- Color Column -->
                <ng-container matColumnDef="no">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> No CC</th>
                  <td mat-cell *matCellDef="let row"> {{row.no}} </td>
                </ng-container>
                <!-- Color Column -->
                <ng-container matColumnDef="start">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Start </th>
                  <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.start}} </td>
                </ng-container>
                <!-- Color Column -->
                <ng-container matColumnDef="end">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> End</th>
                  <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.end}} </td>
                </ng-container>
                <!-- Color Column -->
                <ng-container matColumnDef="canceled">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Canceled</th>
                    <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.canceled}} </td>
                  </ng-container>
                  <!-- Color Column -->
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
                    <td mat-cell *matCellDef="let row" >
                        <div class="ui-grid-cell-contents">
                        <button class="btn btn-xs btn-default"><i class="fa fa-pencil"></i> Manage</button>
                        </div>
                    </td>
                </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;">
              </tr>
            </table>
            <mat-paginator [pageSizeOptions]="[14, 30, 50, 100]"></mat-paginator>
            <mat-progress-spinner  [mode]="mode">
            </mat-progress-spinner>
          </div>
      </section>
    </mat-drawer-container>
  </div>